<%= stylesheet_link_tag "themedoc" %>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow|Kreon:300,400,700|Raleway:100' rel='stylesheet' type='text/css' />

<div id="banner-container">
<div id="house-graphic">
	
	<div id="top-bar">
		<a href="#" id="logo">&nbsp;</a>
		<ul id="navigation">
			<li><a href="#">Installation</a></li>
			<li><a href="#">Shortcodes &amp; Widgets</a></li>
			<li><a href="#">Our CSS Files</a></li>
			<li><a href="#">Best Practices</a></li>
			<li><a href="#">Nightsprout Admin</a></li>
		</ul>
		<!-- #navigation -->
	</div>
	<!-- #top-bar -->
		
	<div id="header">
		<h1>Empire Theme</h1>
		<h4>A premium WordPress suite brought to you by Nightsprout.</h4>
	</div>
	<!-- #header -->
	
</div>
<!-- #house-graphic -->
</div>
<!-- #banner-container -->

<div id="content-background">
<div id="content-container">
	
	<div id="content">

		<div class="lined-section">
			<h3>
				<img src="/images/ns-documentation/insignia.png" alt="Sprout insignia for Nightsprout." />
				<span>Chapter 1: Installation</span>
				<div>“Rock Your New Theme”</div>
			</h3>
			<p>Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken beef biltong. Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey.</p>
			<p>Turkey bacon sausage jowl, tail andouille pig. Salami fatback tenderloin meatloaf. Pig beef ribs salami strip steak. Rump beef tongue, beef ribs hamburger leberkäse capicola ham hock turkey chicken. Spare ribs andouille pork belly capicola, t-bone boudin shoulder prosciutto flank jerky meatloaf pancetta. Jowl pork ribeye, venison short ribs filet mignon shankle bacon drumstick tail turkey hamburger boudin. Short loin chuck drumstick, meatloaf bresaola sirloin boudin swine. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
			<p class="section-nav"><a href="#">Go back to the top</a>? Or skip to a section: <a href="#">Installation</a>, <a href="#">Shortcodes &amp; Widgets</a>, <a href="#">Our CSS Files</a>, <a href="#">Best Practices</a>, or <a href="#">Nightsprout Admin</a>.</p>
		</div>
		<!-- .lined-section -->
		
		<div class="lined-section">
			<h3>
				<img src="/images/ns-documentation/insignia.png" alt="Sprout insignia for Nightsprout." />
				<span>Chapter 1: Installation</span>
				<div>“Rock Your New Theme”</div>
			</h3>
			<p>Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken beef biltong. Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey.</p>
			<p>Turkey bacon sausage jowl, tail andouille pig. Salami fatback tenderloin meatloaf. Pig beef ribs salami strip steak. Rump beef tongue, beef ribs hamburger leberkäse capicola ham hock turkey chicken. Spare ribs andouille pork belly capicola, t-bone boudin shoulder prosciutto flank jerky meatloaf pancetta. Jowl pork ribeye, venison short ribs filet mignon shankle bacon drumstick tail turkey hamburger boudin. Short loin chuck drumstick, meatloaf bresaola sirloin boudin swine. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
			<p class="section-nav"><a href="#">Go back to the top</a>? Or skip to a section: <a href="#">Installation</a>, <a href="#">Shortcodes &amp; Widgets</a>, <a href="#">Our CSS Files</a>, <a href="#">Best Practices</a>, or <a href="#">Nightsprout Admin</a>.</p>
		</div>
		<!-- .lined-section -->
		
		<div class="section">
			<h3>
				<img src="/images/ns-documentation/insignia.png" alt="Sprout insignia for Nightsprout." />
				<span>Chapter 1: Installation</span>
				<div>“Rock Your New Theme”</div>
			</h3>
			<p>Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken beef biltong. Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey.</p>
			<p>Turkey bacon sausage jowl, tail andouille pig. Salami fatback tenderloin meatloaf. Pig beef ribs salami strip steak. Rump beef tongue, beef ribs hamburger leberkäse capicola ham hock turkey chicken. Spare ribs andouille pork belly capicola, t-bone boudin shoulder prosciutto flank jerky meatloaf pancetta. Jowl pork ribeye, venison short ribs filet mignon shankle bacon drumstick tail turkey hamburger boudin. Short loin chuck drumstick, meatloaf bresaola sirloin boudin swine. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
			<p class="section-nav"><a href="#">Go back to the top</a>? Or skip to a section: <a href="#">Installation</a>, <a href="#">Shortcodes &amp; Widgets</a>, <a href="#">Our CSS Files</a>, <a href="#">Best Practices</a>, or <a href="#">Nightsprout Admin</a>.</p>
		</div>
		<!-- .section -->
		
	</div>
	<!-- #content -->
	
</div>
<!-- #content-container -->
</div>
<!-- #content-background -->

<div id="footer-container">
	
	<div id="footer">
		
		<div class="column-3">
			<h4>Socialize With Us</h4>
			<ul class="lined">
				<li><a href="#" class="ns-icon">Nightsprout Home</a></li>
				<li><a href="#" class="envato-icon">Nightsprout on Envato</a></li>
				<li><a href="#" class="facebook-icon">Nightsprout Facebook</a></li>
				<li><a href="#" class="twitter-icon">Nightsprout Twitter</a></li>
				<li><a href="#" class="rss-icon">Nightsprout RSS Feed</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Inside This Doc</h4>
			<ul class="lined">
				<li><a href="#">Installation</a></li>
				<li><a href="#">Shortcodes &amp; Widgets</a></li>
				<li><a href="#">Our CSS Files</a></li>
				<li><a href="#">Best Practices</a></li>
				<li><a href="#">Nightsprout Admin</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Customer Support</h4>
			<ul class="lined">
				<li>If you've thought of something this document does not account for, submit an online ticket through <a href="#">Assistly</a>.</li>
				<li>
					<a href="#">Submit a ticket via Assistly?</a><br />
					<a href="#">Submit a ticket via Email?</a>
				</li>
				<li>
					<a class="email-icon" href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#100;&#109;&#105;&#110;&#64;&#110;&#105;&#103;&#104;&#116;&#115;&#112;&#114;&#111;&#117;&#116;&#46;&#99;&#111;&#109;'>&#97;&#100;&#109;&#105;&#110;&#64;&#110;&#105;&#103;&#104;&#116;&#115;&#112;&#114;&#111;&#117;&#116;&#46;&#99;&#111;&#109;</a>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3-last">
			<h4>About This Theme</h4>
			<ul class="lined">
				<li>
					<strong><a href="#">Empire</a></strong> is available exclusively online through <a href="#">Envato's Theme Forest</a>.</em>
				</li>
				<li><em><strong>Empire</strong> is a professional Wordpress theme for businesses or individuals who require flexibility and refinement.</em></li>
				<li><strong>Empire Theme</strong>, &copy; 2011 <a href="#">Nightsprout LLC</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3-last -->
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














