<%= stylesheet_link_tag "nightsprout" %>

<div id="page-container">

	<div id="header">
		<h1>
			About Us
			<span>Project-oriented, experienced web professionals.</span>
		</h1>
	</div>
	<!-- #header -->
	
	<div id="content">
	
		<div id="column-1">
			<h3>
				<span>Part 4:</span>
				"Full-Spectrum"
			</h3>
			<p>The Nightsprout team was co-founded in 2011 by Mitchell and Jason with the dual goals of creating next-generation web IPs and sharing their skills with clients seeking unique solutions. The collaboration of founders resulted in a full-spectrum array of client services.</p>
			<div id="farm-house">
				&nbsp;
			</div>
			<!-- #farm-house -->
		</div>
		<!-- #column-1 -->
	
		<div id="column-2">
			
			<div id="plane">
				&nbsp;
			</div>
			<!-- #plane -->
			
			<p>"Full-spectrum" means Nightsprout can handle all your web development needs, whether its an exercise in UI/UX or database administration. Mitchell is handles application deployment and back-end code. Jason is responsible for user experience and creative services. A ven diagram is formed in the front-end: both founders serve as front-end developers. With paramount importance placed on quality of craft, Nightsprout will bring over a decade of web experience to your web property.</p>
			
			<a id="call-to-action">
				<span>Go ahead and give us a 'high-five'!</span>
			</a>
			<!-- #call-to-action -->
			
		</div>
		<!-- #column-2 -->
	
	</div>
	<!-- #content -->

</div>
<!-- #page-container -->

<div id="farm-fence">
	&nbsp;
</div>
<!-- #farm-fence -->

<div id="footer-container">
	
	<div id="footer">
		
    <ul>
      <li><a href="/nightsprout/index">Home</a></li>
      <li><a href="/nightsprout/services">Services</a></li>
      <li><a href="/nightsprout/portfolio">Portfolio</a></li>
      <li><a href="/nightsprout/about">About</a></li>
      <li><a href="/nightsprout/contact">Contact</a></li>
    </ul>
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














