<%= stylesheet_link_tag "nightsprout" %>

<div id="page-container"><div id="clouds">

	<div id="header">
		<h1>
			Contact Us
			<span>We'd love to hear from you.</span>
		</h1>
	</div>
	<!-- #header -->
	
	<div id="content">
	
		<div id="column-1">
			<h3>
				<span>Part 5:</span>
				"Ring Our Doorbell"
			</h3>
			<p>We're really glad you decided to check us out. Hopefully you like what you've seen and are interested in knowing more - we'd certainly like to hear back from you, whether it's an email, tweet, or paper letter. Well, that is, unless you're a spammer. ;)</p>
			<div id="farm-house">
				&nbsp;
			</div>
			<!-- #farm-house -->
		</div>
		<!-- #column-1 -->
	
		<div id="column-2">
			
			<div id="plane">
				&nbsp;
			</div>
			<!-- #plane -->
			
			<p>
				<strong>Socialize with Us:</strong><br />
				<a href="http://www.facebook.com/nightsprout">facebook.com/nightsprout</a> - on Facebook<br />
				<a href="http://www.twitter.com/nightsprout">twitter.com/nightsprout</a> - on Twitter<br />
				<a href="http://www.mojo-themes.com/user/nightsprout/?r=nightsprout">mojo-themes.com/user/nightsprout/</a> - on Mojo Themes
			</p>
			
			<p>
				<strong>Email Us:</strong><br />
				<a href="#">admin@nightsprout.com</a> - General Inquiry<br />
				<a href="#">mitchell@nightsprout.com</a> - Mitchell<br />
				<a href="#">jason@nightsprout.com</a> - Jason
			</p>
			
			<a id="call-to-action" href="#">
				<span>Want to work with us? Let's do this!</span>
			</a>
			<!-- #call-to-action -->
			
		</div>
		<!-- #column-2 -->
	
	</div>
	<!-- #content -->

</div>
<!-- #clouds -->
</div>
<!-- #page-container -->

<div id="farm-fence">
	&nbsp;
</div>
<!-- #farm-fence -->

<div id="footer-container">
	
	<div id="footer">
		
    <ul>
      <li><a href="/nightsprout/index">Home</a></li>
      <li><a href="/nightsprout/services">Services</a></li>
      <li><a href="/nightsprout/portfolio">Portfolio</a></li>
      <li><a href="/nightsprout/about">About</a></li>
      <li><a href="/nightsprout/contact" class="current">Contact</a></li>
      <li><a href="#">Hire</a></li>
    </ul>
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














