<%= stylesheet_link_tag "nightsprout" %>

<div id="page-container">

	<div id="header">
		<h1>
			Our Services
			<span>You deserve a tailored approach.</span>
		</h1>
	</div>
	<!-- #header -->
	
	<div id="content">
	
		<div id="column-1">
			<h3>
				<span>Part 1:</span>
				"One-Stop Shop"
			</h3>
			<p>When you work with us, we handle all your digital needs. We are a creative agency and development shop rolled into a single business - no more balancing multiple contracts at once! And because we limit the number of clients we take on, you’ll always get the attention to detail you deserve.</p>
		</div>
		<!-- #column-1 -->
	
		<div id="column-2">
			<p>Let’s talk specifics. Here are just a few of the things we will build for your company:</p>
			<ul>
				<li>Logo design + branding,</li>
				<li>cms-based web presences,</li>
				<li>custom web applications,</li>
				<li>social media campaigns,</li>
				<li>marketing + SEO strategies,</li>
				<li>... and more!</li>
			</ul>
		</div>
		<!-- #column-2 -->
	
	</div>
	<!-- #content -->

</div>
<!-- #page-container -->

<div id="footer-container">
	
	<div id="footer">
		
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














