<%= stylesheet_link_tag "nightsprout" %>

<div id="page-container" class="home"><div id="clouds">

	<div id="header">
		<h1>
			 Have a Web Concept?
			<span>We'll help you grow it.</span>
		</h1>
	</div>
	<!-- #header -->
	
	<div id="content">
	
		<div id="column-1">
			<p>Whether your concept is a webpage, content-managed site, or custom web app, we are the team capable of breathing life into it. We are design and development professionals whose proven skills span the entire web production process.</p>
			<a id="call-to-action" href="/services">
				<span>See how we make everything easier!</span>
			</a>
			<!-- #call-to-action -->
		</div>
		<!-- #column-1 -->
	
		<div id="column-2">
			<p>Our goal is to help you create your perfect web property. We’ll research your problem, identify the best solution, prototype it, then launch it for you. From branding to custom code - no matter what your needs are - we can help!</p>
			<div id="farm-house">
				&nbsp;
			</div>
			<!-- #farm-house -->
		</div>
		<!-- #column-2 -->
	
	</div>
	<!-- #content -->

</div>
<!-- #clouds -->
</div>
<!-- #page-container -->

<div id="farm-fence">
	&nbsp;
</div>
<!-- #farm-fence -->

<div id="footer-container" class="home">
	
	<div id="footer">
		
    <ul>
      <li><a href="/nightsprout/index">Home</a></li>
      <li><a href="/nightsprout/services">Services</a></li>
      <li><a href="/nightsprout/portfolio">Portfolio</a></li>
      <li><a href="/nightsprout/about">About</a></li>
      <li><a href="/nightsprout/contact">Contact</a></li>
    </ul>
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














