<%= stylesheet_link_tag "nightsprout" %>

<div id="page-container"><div id="clouds">

	<div id="header">
		<h1>
			Our Portfolio
			<span>We're proud of what we've created.</span>
		</h1>
	</div>
	<!-- #header -->
	
	<div id="content">
	
		<div id="column-1">
			<h3>
				<span>Part 3:</span>
				"Nightsprout in Action"
			</h3>
			<p>Since day one, Nightsprout has kept busy with projects in many different areas. We'd like to share with you some of what we've been working on. We fully stand behind our work and hope you enjoy looking at it as much as we enjoyed making it.</p>
			<div id="farm-house">
				&nbsp;
			</div>
			<!-- #farm-house -->
		</div>
		<!-- #column-1 -->
	
		<div id="column-2">
			
			<div id="plane">
				&nbsp;
			</div>
			<!-- #plane -->
			
			<ul class="gallery">
				<li>
					<a href="#" id="priceboard">&nbsp;</a>
					<p><strong>Priceboard</strong> (Rails App) - Priceboard is an automated online price checking tool aimed at small businesses looking for a competitive advantage.</p>
				</li>
				<li>
					<a href="#" id="empire">&nbsp;</a>
					<p><strong>Empire</strong> (WordPress Suite) - Empire is a fully integrated WP theme written in PHP and backed with a custom configuration console for user settings.</p>
				</li>
				<li>
					<a href="#" id="quizforge">&nbsp;</a>
					<p><strong>Quiz Forge</strong> (Rails App) - Quiz Forge, also written in Ruby, rethinks the problem educators face in creating tailored math quizzes for their students.</p>
				</li>
			</ul>
			<!-- .gallery -->
			
			<a id="call-to-action" href="/nightsprout/about">
				<span>Who is Nightsprout, anyhow?</span>
			</a>
			<!-- #call-to-action -->
			
		</div>
		<!-- #column-2 -->
	
	</div>
	<!-- #content -->

</div>
<!-- #clouds -->
</div>
<!-- #page-container -->

<div id="farm-fence">
	&nbsp;
</div>
<!-- #farm-fence -->

<div id="footer-container">
	
	<div id="footer">
		
    <ul>
      <li><a href="/nightsprout/index">Home</a></li>
      <li><a href="/nightsprout/services">Services</a></li>
      <li><a href="/nightsprout/portfolio" class="current">Portfolio</a></li>
      <li><a href="/nightsprout/about">About</a></li>
      <li><a href="/nightsprout/contact">Contact</a></li>
    </ul>
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














