<%= stylesheet_link_tag "nightsprout" %>

<div id="page-container"><div id="clouds">

	<div id="header">
		<h1>
			Our Services
			<span>You deserve a tailored approach.</span>
		</h1>
	</div>
	<!-- #header -->
	
	<div id="content">
	
		<div id="column-1">
			<h3>
				<span>Part 2:</span>
				"One-Stop Shop"
			</h3>
			<p>When you work with us, we handle all your digital needs. We are a creative agency and development shop rolled into a single business - no more balancing multiple contracts at once! And because we limit the number of clients we take on, you’ll always get the attention to detail you deserve.</p>
			<div id="farm-house">
				&nbsp;
			</div>
			<!-- #farm-house -->
		</div>
		<!-- #column-1 -->
	
		<div id="column-2">
			
			<div id="plane">
				&nbsp;
			</div>
			<!-- #plane -->
			
			<p>Let’s talk specifics. Here are just a few of the things we will build for your company:</p>
			
			<ul class="bulleted-list">
				<li><strong>Engineering:</strong> Ruby, PHP, Java, JS, HTML5, CSS3,</li>
				<li><strong>Creative Services:</strong> branding, graphic collateral, UI/UX,</li>
				<li><strong>Custom Web Apps:</strong> research, design, develop, deploy,</li>
				<li><strong>Marketing:</strong> web strategy, social media campaigns, SEO,</li>
				<li><strong>CMS-Based Presences:</strong> blogs, e-commerce, CRMs,</li>
				<li><em>... and more!</em></li>
			</ul>
			<!-- .bulleted-list -->
			
			<a id="call-to-action" href="/nightsprout/portfolio">
				<span>A portfolio is worth 1,000 words!</span>
			</a>
			<!-- #call-to-action -->
			
		</div>
		<!-- #column-2 -->
	
	</div>
	<!-- #content -->

</div>
<!-- #clouds -->
</div>
<!-- #page-container -->

<div id="farm-fence">
	&nbsp;
</div>
<!-- #farm-fence -->

<div id="footer-container">
	
	<div id="footer">
		
    <ul>
      <li><a href="/nightsprout/index">Home</a></li>
      <li><a href="/nightsprout/services" class="current">Services</a></li>
      <li><a href="/nightsprout/portfolio">Portfolio</a></li>
      <li><a href="/nightsprout/about">About</a></li>
      <li><a href="/nightsprout/contact">Contact</a></li>
      <li><a href="#">Hire</a></li>
    </ul>
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














