/* line 4, ../../app/stylesheets/empire.scss */
html {
  /* CONTACT US PAGE */
}
/* line 6, ../../app/stylesheets/empire.scss */
html h1, html h2, html h3 {
  font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
}
/* line 10, ../../app/stylesheets/empire.scss */
html h1, html h2, html h3, html h4, html h5, html h6 {
  font-weight: normal;
  color: #333333;
}
/* line 15, ../../app/stylesheets/empire.scss */
html h3.article-title {
  padding: 11px 0 4px 0;
  font-size: 25px;
  line-height: 1em;
}
/* line 20, ../../app/stylesheets/empire.scss */
html h4.article-subtitle {
  padding: 1px 0 7px 0;
  margin: 0 0 10px 0;
  font-size: 10px;
  line-height: 1em;
  height: 12px;
  font-family: 'Open Sans', Helvetica, Arial, sans serif;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 29, ../../app/stylesheets/empire.scss */
html h4.article-subtitle span {
  line-height: 1em;
  font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  text-transform: lowercase;
}
/* line 38, ../../app/stylesheets/empire.scss */
html h5.article-title {
  padding: 7px 0 3px 0;
  line-height: 1em;
}
/* line 41, ../../app/stylesheets/empire.scss */
html h5.article-title a {
  color: #333333;
  text-decoration: none;
}
/* line 42, ../../app/stylesheets/empire.scss */
html h5.article-title a:hover {
  text-decoration: underline;
}
/* line 44, ../../app/stylesheets/empire.scss */
html .webkit h5.article-title {
  padding-top: 6px;
}
/* line 47, ../../app/stylesheets/empire.scss */
html h6.article-subtitle {
  padding: 0 0 7px 0;
  margin: 0;
  color: #757471;
  font-size: 8px;
  line-height: 1em;
  font-family: 'Open Sans', Helvetica, Arial, sans serif;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 56, ../../app/stylesheets/empire.scss */
html h6.article-subtitle span {
  line-height: 1em;
  font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
  font-style: italic;
  font-weight: normal;
  text-transform: lowercase;
}
/* line 65, ../../app/stylesheets/empire.scss */
html .article-options {
  padding: 10px 0 0 0;
}
/* line 67, ../../app/stylesheets/empire.scss */
html .article-options p {
  height: 20px;
}
/* line 70, ../../app/stylesheets/empire.scss */
html .article-options p a,
html .article-options p span {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
}
/* line 79, ../../app/stylesheets/empire.scss */
html ol.lined-large,
html ul.lined-large {
  padding: 2px 0 8px 0;
}
/* line 82, ../../app/stylesheets/empire.scss */
html ol.lined-large li.thumbnail h5.article-title,
html ul.lined-large li.thumbnail h5.article-title {
  width: 75%;
}
/* line 83, ../../app/stylesheets/empire.scss */
html ol.lined-large li.thumbnail h6.article-subtitle,
html ul.lined-large li.thumbnail h6.article-subtitle {
  width: 75%;
}
/* line 84, ../../app/stylesheets/empire.scss */
html ol.lined-large li.thumbnail img,
html ul.lined-large li.thumbnail img {
  display: block;
  float: left;
  height: 34px;
  width: 34px;
  padding: 2px;
  margin: 0 10px 0 0;
  border: 1px solid #cccccc;
}
/* line 98, ../../app/stylesheets/empire.scss */
html .sidebar-left ol.lined-large li.thumbnail h5.article-title,
html .sidebar-right ul.lined-large li.thumbnail h5.article-title {
  width: 230px;
}
/* line 99, ../../app/stylesheets/empire.scss */
html .sidebar-left ol.lined-large li.thumbnail h6.article-subtitle,
html .sidebar-right ul.lined-large li.thumbnail h6.article-subtitle {
  width: 230px;
}
/* line 105, ../../app/stylesheets/empire.scss */
html ul.categories li a {
  text-decoration: none;
  color: #262626;
}
/* line 109, ../../app/stylesheets/empire.scss */
html ul.categories li a:hover {
  text-decoration: underline;
  color: #BC2215;
}
/* line 116, ../../app/stylesheets/empire.scss */
html ul.comments {
  position: relative;
  margin-top: -10px;
}
/* line 119, ../../app/stylesheets/empire.scss */
html ul.comments blockquote {
  padding-top: 10px;
  padding-bottom: 1px;
  font-style: italic;
}
/* line 123, ../../app/stylesheets/empire.scss */
html ul.comments blockquote a {
  text-decoration: none;
  color: #262626;
}
/* line 127, ../../app/stylesheets/empire.scss */
html ul.comments blockquote a:hover {
  text-decoration: underline;
  color: #BC2215;
}
/* line 132, ../../app/stylesheets/empire.scss */
html ul.comments .commenter {
  padding-bottom: 9px;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-align: right;
}
/* line 142, ../../app/stylesheets/empire.scss */
html .webkit ul.comments blockquote {
  padding-top: 10px;
  padding-bottom: 0;
}
/* line 146, ../../app/stylesheets/empire.scss */
html .webkit ul.comments .commenter {
  padding-bottom: 10px;
}
/* line 151, ../../app/stylesheets/empire.scss */
html ol#breadcrumbs {
  padding: 0 0 15px 0;
  margin: -5px 0 0 0;
  position: relative;
}
/* line 155, ../../app/stylesheets/empire.scss */
html ol#breadcrumbs li {
  width: auto;
  padding-right: 5px;
}
/* line 158, ../../app/stylesheets/empire.scss */
html ol#breadcrumbs li a {
  padding-right: 5px;
}
/* line 161, ../../app/stylesheets/empire.scss */
html .webkit ol#breadcrumbs {
  padding: 1px 0 14px 0;
}
/* line 166, ../../app/stylesheets/empire.scss */
html label span {
  color: #757471;
  font-style: italic;
}
/* line 180, ../../app/stylesheets/empire.scss */
html input[type="text"],
html input[type="email"],
html input[type="password"],
html input[type="submit"],
html select,
html textarea,
html a.button,
html a.cancel-button,
html button {
  font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
}
/* line 182, ../../app/stylesheets/empire.scss */
html #search-input {
  width: 144px;
}
/* line 185, ../../app/stylesheets/empire.scss */
html #search-button {
  width: 100px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
/* line 192, ../../app/stylesheets/empire.scss */
html body {
  font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
  background: #0f0f0e;
  color: #262626;
}
/* line 196, ../../app/stylesheets/empire.scss */
html body #top-bar-container {
  float: none;
  padding: 6px 0 0;
  border-bottom: 1px solid #ccc3bb;
  position: relative;
  z-index: 100;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #43403c), color-stop(100%, #353331));
  background-image: -webkit-linear-gradient(#43403c, #353331);
  background-image: -moz-linear-gradient(#43403c, #353331);
  background-image: -o-linear-gradient(#43403c, #353331);
  background-image: -ms-linear-gradient(#43403c, #353331);
  background-image: linear-gradient(#43403c, #353331);
  -moz-box-shadow: 0 0 15px #4f4f4c;
  -webkit-box-shadow: 0 0 15px #4f4f4c;
  -o-box-shadow: 0 0 15px #4f4f4c;
  box-shadow: 0 0 15px #4f4f4c;
}
/* line 204, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  *zoom: 1;
  text-shadow: 0 1px 0 black;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #top-bar-container #top-bar:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 214, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar a#logo {
  display: block;
  float: left;
  width: 100px;
  height: 50px;
  background: transparent url("../images/logo.png") no-repeat 0 0;
  text-decoration: none;
  position: absolute;
  margin: -8px 0 0 -12px;
}
/* line 224, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar a#logo:hover {
  background-position: 0 -50px;
}
/* line 227, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar a.button {
  float: right;
  font-size: 11px;
  margin-right: 0;
  margin-left: 10px;
  padding-top: 9px;
  padding-bottom: 8px;
  border-top: 1px solid #22201d;
  border-right: 1px solid #2d2926;
  border-bottom: 1px solid #464340;
  border-left: 1px solid #2d2926;
  color: #cccccc;
  text-transform: uppercase;
  font-weight: bold;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 1px 0 #060606;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #504b47), color-stop(100%, #2f2e2d));
  background-image: -webkit-linear-gradient(#504b47, #2f2e2d);
  background-image: -moz-linear-gradient(#504b47, #2f2e2d);
  background-image: -o-linear-gradient(#504b47, #2f2e2d);
  background-image: -ms-linear-gradient(#504b47, #2f2e2d);
  background-image: linear-gradient(#504b47, #2f2e2d);
}
/* line 244, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar a.button span {
  color: #d3da67;
}
/* line 246, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar a.button:hover {
  border-top: 1px solid #393633;
  border-right: 1px solid #423e3b;
  border-bottom: 1px solid #595653;
  border-left: 1px solid #423e3b;
  color: #ffffff;
  text-shadow: 0 1px 0 #1f1f1f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #625d59), color-stop(100%, #444341));
  background-image: -webkit-linear-gradient(#625d59, #444341);
  background-image: -moz-linear-gradient(#625d59, #444341);
  background-image: -o-linear-gradient(#625d59, #444341);
  background-image: -ms-linear-gradient(#625d59, #444341);
  background-image: linear-gradient(#625d59, #444341);
}
/* line 254, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar a.button:hover span {
  color: #dce371;
}
/* line 256, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar #navigation {
  width: auto;
  float: right;
  padding: 6px 0 0 0;
}
/* line 260, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar #navigation li {
  width: auto;
  padding: 0 10px;
}
/* line 263, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar #navigation li a {
  color: #cccccc;
  text-decoration: none;
}
/* line 265, ../../app/stylesheets/empire.scss */
html body #top-bar-container #top-bar #navigation li a.current,
html body #top-bar-container #top-bar #navigation li a:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* line 270, ../../app/stylesheets/empire.scss */
html body #banner-container {
  padding: 12px 0 9px 0;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #d2d1d0;
  float: none;
  color: #3f3a35;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5f5f1), color-stop(100%, #c7c6c1));
  background-image: -webkit-linear-gradient(#f5f5f1, #c7c6c1);
  background-image: -moz-linear-gradient(#f5f5f1, #c7c6c1);
  background-image: -o-linear-gradient(#f5f5f1, #c7c6c1);
  background-image: -ms-linear-gradient(#f5f5f1, #c7c6c1);
  background-image: linear-gradient(#f5f5f1, #c7c6c1);
  text-shadow: 0 1px 0 #f3f2f1;
}
/* line 276, ../../app/stylesheets/empire.scss */
html body #banner-container h3 {
  color: #4c4843;
}
/* line 279, ../../app/stylesheets/empire.scss */
html body #banner-container #header {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #banner-container #header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 286, ../../app/stylesheets/empire.scss */
html body #banner-container #banner {
  float: none;
  width: 990px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #banner-container #banner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 293, ../../app/stylesheets/empire.scss */
html body #banner-container #banner #hero-image {
  width: 930px;
  height: 340px;
  padding: 30px;
  background: transparent url("../images/hero-image-background.png") repeat-x 0 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 299, ../../app/stylesheets/empire.scss */
html body #banner-container #banner #hero-image img {
  -moz-box-shadow: 0 2px 7px #a6a5a1;
  -webkit-box-shadow: 0 2px 7px #a6a5a1;
  -o-box-shadow: 0 2px 7px #a6a5a1;
  box-shadow: 0 2px 7px #a6a5a1;
}
/* line 303, ../../app/stylesheets/empire.scss */
html body #banner-container #banner blockquote {
  padding: 40px 0 10px;
  margin: 0 0 20px 0;
  font-size: 36px;
  line-height: 50px;
  font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
  text-align: center;
  color: #64605d;
}
/* line 311, ../../app/stylesheets/empire.scss */
html body #banner-container #banner blockquote span {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
}
/* line 317, ../../app/stylesheets/empire.scss */
html body #banner-container #banner .learn-more {
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #ececea;
}
/* line 324, ../../app/stylesheets/empire.scss */
html body #content-container {
  float: none;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 39px 0 29px 0;
  -moz-box-shadow: 0 -1px 0 #a2a19d, 0 0 15px #a3a29e, 0 0 7px #bfbfbf inset;
  -webkit-box-shadow: 0 -1px 0 #a2a19d, 0 0 15px #a3a29e, 0 0 7px #bfbfbf inset;
  -o-box-shadow: 0 -1px 0 #a2a19d, 0 0 15px #a3a29e, 0 0 7px #bfbfbf inset;
  box-shadow: 0 -1px 0 #a2a19d, 0 0 15px #a3a29e, 0 0 7px #bfbfbf inset;
}
/* line 331, ../../app/stylesheets/empire.scss */
html body #content-container #content {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #content-container #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 337, ../../app/stylesheets/empire.scss */
html body #content-container #content .sidebar-left {
  background-color: #ffffff;
}
/* line 340, ../../app/stylesheets/empire.scss */
html body #content-container #content .sidebar-right {
  background-color: #ffffff;
}
/* line 345, ../../app/stylesheets/empire.scss */
html body #footer-container {
  float: none;
  color: #ffffff;
  padding: 19px 0 20px 0;
  border-top: 1px solid #141210;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e2a25), color-stop(100%, #0f0f0e));
  background-image: -webkit-linear-gradient(#2e2a25, #0f0f0e);
  background-image: -moz-linear-gradient(#2e2a25, #0f0f0e);
  background-image: -o-linear-gradient(#2e2a25, #0f0f0e);
  background-image: -ms-linear-gradient(#2e2a25, #0f0f0e);
  background-image: linear-gradient(#2e2a25, #0f0f0e);
  text-shadow: 0 1px 0 #060605;
}
/* line 352, ../../app/stylesheets/empire.scss */
html body #footer-container a {
  color: #cccccc;
  text-decoration: none;
}
/* line 353, ../../app/stylesheets/empire.scss */
html body #footer-container a:hover {
  color: #ffffff;
  text-decoration: underline;
}
/* line 354, ../../app/stylesheets/empire.scss */
html body #footer-container h1, html body #footer-container h2, html body #footer-container h3, html body #footer-container h4, html body #footer-container h5 {
  color: #ffffff;
}
/* line 355, ../../app/stylesheets/empire.scss */
html body #footer-container h6.article-subtitle {
  color: #a8a8a8;
}
/* line 356, ../../app/stylesheets/empire.scss */
html body #footer-container h5 a {
  color: #ffffff;
}
/* line 358, ../../app/stylesheets/empire.scss */
html body #footer-container input[type="email"],
html body #footer-container textarea {
  border-top: 1px solid #1e1c1b;
  border-right: 1px solid #282725;
  border-bottom: 1px solid #3e3c3a;
  border-left: 1px solid #282725;
  color: #cccccc;
  background: #31302e;
  text-shadow: 0 1px 0 black;
}
/* line 367, ../../app/stylesheets/empire.scss */
html body #footer-container input[type="submit"] {
  -moz-box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #0a0909;
  -webkit-box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #0a0909;
  -o-box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #0a0909;
  box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #0a0909;
}
/* line 370, ../../app/stylesheets/empire.scss */
html body #footer-container #footer {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #footer-container #footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 376, ../../app/stylesheets/empire.scss */
html body #footer-container #footer ul.lined-large {
  position: relative;
  margin-top: -10px;
}
/* line 380, ../../app/stylesheets/empire.scss */
html body #footer-container #footer #footer-bar {
  padding: 10px 0 0;
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
}
/* line 383, ../../app/stylesheets/empire.scss */
html body #footer-container #footer #footer-bar p {
  float: left;
  width: auto;
  font-weight: bold;
}
/* line 387, ../../app/stylesheets/empire.scss */
html body #footer-container #footer #footer-bar p a {
  color: #ffffff;
}
/* line 388, ../../app/stylesheets/empire.scss */
html body #footer-container #footer #footer-bar p a:hover {
  text-decoration: underline;
}
/* line 390, ../../app/stylesheets/empire.scss */
html body #footer-container #footer #footer-bar ul#footer-nav {
  float: right;
  width: auto;
}
/* line 393, ../../app/stylesheets/empire.scss */
html body #footer-container #footer #footer-bar ul#footer-nav li {
  width: auto;
  margin: 0 0 0 20px;
}
/* line 405, ../../app/stylesheets/empire.scss */
html textarea#contact-us-message {
  width: 464px;
  height: 114px;
  margin-right: 0;
}
