/* line 3, ../../app/stylesheets/empire.scss */
h1, h2, h3 {
  font-family: 'Vollkorn', 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
}

/* line 7, ../../app/stylesheets/empire.scss */
h3 {
  font-size: 20px;
}

/* line 9, ../../app/stylesheets/empire.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 21, ../../app/stylesheets/empire.scss */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
select,
textarea,
a.button,
a.cancel-button,
button {
  font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
}

/* line 23, ../../app/stylesheets/empire.scss */
body {
  font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
}
/* line 25, ../../app/stylesheets/empire.scss */
body #top-bar-container {
  float: none;
}
/* line 27, ../../app/stylesheets/empire.scss */
body #top-bar-container #top-bar {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #top-bar-container #top-bar:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 33, ../../app/stylesheets/empire.scss */
body #top-bar-container #top-bar #navigation {
  width: auto;
  float: right;
}
/* line 36, ../../app/stylesheets/empire.scss */
body #top-bar-container #top-bar #navigation li {
  width: auto;
  margin: 0 0 0 10px;
}
/* line 43, ../../app/stylesheets/empire.scss */
body #banner-container {
  float: none;
}
/* line 45, ../../app/stylesheets/empire.scss */
body #banner-container #banner {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #banner-container #banner:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 53, ../../app/stylesheets/empire.scss */
body #content-container {
  float: none;
}
/* line 55, ../../app/stylesheets/empire.scss */
body #content-container #content {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #content-container #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 63, ../../app/stylesheets/empire.scss */
body #footer-container {
  float: none;
}
/* line 65, ../../app/stylesheets/empire.scss */
body #footer-container #footer {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body #footer-container #footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
