/****************************************************************************************************/
/* COLOR THEMES */
/****************************************************************************************************/
/* Default Theme */
/****************************************************************************************************/
/* FONT THEMES */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: Kreon                                                                                */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: Raleway                                                                              */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: PT Sans                                                                              */
/****************************************************************************************************/
/****************************************************************************************************/
/* THEMEDOC.CSS */
/****************************************************************************************************/
/* line 41, ../../app/stylesheets/nightsprout.scss */
html {
  /* This is for non-bold Kreon.
  
  h1 { font-weight: normal; font-size: 48px; line-height: 60px; padding: 10px 0 0px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h2 { font-weight: normal; font-size: 36px; line-height: 50px; padding: 8px 0 2px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h3 { font-weight: normal; font-size: 25px; line-height: 40px; padding: 5px 0 5px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h4 { font-weight: normal; font-size: 20px; line-height: 30px; padding: 1px 0 9px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h5 { font-weight: normal; font-size: 14px; line-height: 20px; padding: 7px 0 3px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h6 { font-weight: normal; font-size: 12px; line-height: 20px; padding: 7px 0 3px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  .webkit h1 { padding: 9px 0 0 0; position: relative; margin-top: 1px; }
  .webkit h2 { padding: 8px 0 2px 0; }
  .webkit h6 { padding: 8px 0 2px 0; }
  
  */
}
/* line 7, ../../app/stylesheets/_kreon.scss */
html body {
  font-size: 12px;
  line-height: 1.667em;
}
/* line 12, ../../app/stylesheets/_kreon.scss */
html h1 {
  font-size: 48px;
  line-height: 60px;
  padding: 9px 0 1px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 13, ../../app/stylesheets/_kreon.scss */
html h2 {
  font-size: 36px;
  line-height: 50px;
  padding: 6px 0 4px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 14, ../../app/stylesheets/_kreon.scss */
html h3 {
  font-size: 25px;
  line-height: 40px;
  padding: 4px 0 6px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 15, ../../app/stylesheets/_kreon.scss */
html h4 {
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 10px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 16, ../../app/stylesheets/_kreon.scss */
html h5 {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0 4px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 17, ../../app/stylesheets/_kreon.scss */
html h6 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 18, ../../app/stylesheets/_kreon.scss */
html .webkit h2 {
  padding: 7px 0 3px 0;
}
/* line 19, ../../app/stylesheets/_kreon.scss */
html .webkit h3 {
  padding: 5px 0 5px 0;
}
/* line 20, ../../app/stylesheets/_kreon.scss */
html .webkit h5 {
  padding: 7px 0 3px 0;
}
/* line 40, ../../app/stylesheets/_kreon.scss */
html body {
  font-size: 12px;
  line-height: 1.667em;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 46, ../../app/stylesheets/_kreon.scss */
html p {
  padding: 7px 0 3px 0;
}
/* line 47, ../../app/stylesheets/_kreon.scss */
html .webkit p {
  padding: 8px 0 2px 0;
}
/* line 49, ../../app/stylesheets/_kreon.scss */
html blockquote {
  font-style: italic;
}
/* line 54, ../../app/stylesheets/_kreon.scss */
html .column-8 span.floated-blockquote {
  padding-top: 4px;
  padding-bottom: 6px;
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'kreon', Georgia, 'Times New Roman', serif;
  font-size: 20px;
  line-height: 30px;
}
/* line 66, ../../app/stylesheets/_kreon.scss */
html ul,
html ol {
  padding-top: 7px;
  padding-bottom: 3px;
}
/* line 71, ../../app/stylesheets/_kreon.scss */
html .webkit ul,
html .webkit ol {
  padding-top: 8px;
  padding-bottom: 2px;
}
/* line 79, ../../app/stylesheets/_kreon.scss */
html ul.lined,
html ol.lined,
html ul.lined-large,
html ol.lined-large {
  padding-top: 1px;
  padding-bottom: 9px;
}
/* line 82, ../../app/stylesheets/_kreon.scss */
html ul.lined li,
html ol.lined li,
html ul.lined-large li,
html ol.lined-large li {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 91, ../../app/stylesheets/_kreon.scss */
html .webkit ul.lined li,
html .webkit ol.lined li,
html .webkit ul.lined-large li,
html .webkit ol.lined-large li {
  padding-top: 7px;
  padding-bottom: 3px;
}
/* line 99, ../../app/stylesheets/_kreon.scss */
html ul.lined-large li,
html ol.lined-large li {
  padding-top: 11px;
  padding-bottom: 9px;
}
/* line 109, ../../app/stylesheets/_kreon.scss */
html a.icon-button,
html a.cancel-button,
html a.button,
html button,
html input[type="submit"] {
  padding-top: 10px;
  padding-bottom: 7px;
  margin-top: 0;
  margin-bottom: 7px;
  line-height: 1em;
  font-size: 12px;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 119, ../../app/stylesheets/_kreon.scss */
html a.cancel-button {
  padding-top: 11px;
  padding-bottom: 8px;
}
/* line 124, ../../app/stylesheets/_kreon.scss */
html button {
  padding-top: 9px;
  padding-bottom: 22px;
}
/* line 128, ../../app/stylesheets/_kreon.scss */
html .webkit button {
  padding-top: 10px;
  padding-bottom: 21px;
}
/* line 133, ../../app/stylesheets/_kreon.scss */
html input[type="submit"] {
  padding-top: 9px;
  padding-bottom: 22px;
}
/* line 137, ../../app/stylesheets/_kreon.scss */
html .webkit input[type="submit"] {
  padding-top: 10px;
  padding-bottom: 21px;
}
/* line 142, ../../app/stylesheets/_kreon.scss */
html label {
  font-size: 12px;
  line-height: 1.667em;
  padding-top: 7px;
  padding-bottom: 3px;
}
/* line 147, ../../app/stylesheets/_kreon.scss */
html label span {
  font-size: 10px;
}
/* line 150, ../../app/stylesheets/_kreon.scss */
html input[type="checkbox"] {
  margin-top: 2px;
  margin-bottom: 0;
}
/* line 154, ../../app/stylesheets/_kreon.scss */
html .webkit input[type="checkbox"] {
  margin-top: 4px;
}
/* line 158, ../../app/stylesheets/_kreon.scss */
html input[type="radio"] {
  margin-top: 4px;
  margin-bottom: 0;
}
/* line 162, ../../app/stylesheets/_kreon.scss */
html .webkit input[type="radio"] {
  margin-top: 3px;
}
/* line 170, ../../app/stylesheets/_kreon.scss */
html select,
html input[type="text"],
html input[type="email"],
html input[type="password"],
html textarea {
  padding-top: 9px;
  padding-bottom: 7px;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 1.667em;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 183, ../../app/stylesheets/_kreon.scss */
html .webkit select,
html .webkit input[type="text"],
html .webkit input[type="email"],
html .webkit input[type="password"],
html .webkit textarea {
  padding-top: 10px;
  padding-bottom: 6px;
}
/* line 188, ../../app/stylesheets/_kreon.scss */
html select {
  padding-top: 8px;
  padding-bottom: 4px;
}
/* line 193, ../../app/stylesheets/_kreon.scss */
html textarea {
  padding-top: 6px;
  padding-bottom: 11px;
}
/* line 197, ../../app/stylesheets/_kreon.scss */
html .webkit textarea {
  padding-top: 7px;
  padding-bottom: 10px;
}
/* line 202, ../../app/stylesheets/_kreon.scss */
html ul.form {
  padding-top: 17px;
  padding-bottom: 13px;
}
/* line 206, ../../app/stylesheets/_kreon.scss */
html ul.form li label {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 212, ../../app/stylesheets/_kreon.scss */
html .webkit ul.form {
  padding-top: 18px;
  padding-bottom: 12px;
}
/* line 216, ../../app/stylesheets/_kreon.scss */
html .webkit ul.form li input[type="checkbox"] {
  margin-top: 3px;
}
/* line 222, ../../app/stylesheets/_kreon.scss */
html table {
  padding-top: 1px;
  padding-bottom: 9px;
}
/* line 227, ../../app/stylesheets/_kreon.scss */
html table thead tr th {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 235, ../../app/stylesheets/_kreon.scss */
html table tbody tr td {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 243, ../../app/stylesheets/_kreon.scss */
html .webkit table {
  padding-top: 2px;
  padding-bottom: 8px;
}
/* line 248, ../../app/stylesheets/_kreon.scss */
html .webkit table thead tr th {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 256, ../../app/stylesheets/_kreon.scss */
html .webkit table tbody tr td {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 46, ../../app/stylesheets/nightsprout.scss */
html h1, html h2, html h3 {
  font-family: 'Kreon', Georgia, 'Times New Roman', serif;
}
/* line 50, ../../app/stylesheets/nightsprout.scss */
html h1, html h2, html h3, html h4, html h5, html h6 {
  color: #17181a;
  font-weight: 100;
}
/* line 55, ../../app/stylesheets/nightsprout.scss */
html h1 {
  font-size: 48px;
  line-height: 60px;
  padding: 10px 0 0px 0;
}
/* line 56, ../../app/stylesheets/nightsprout.scss */
html h2 {
  font-size: 36px;
  line-height: 50px;
  padding: 8px 0 2px 0;
}
/* line 57, ../../app/stylesheets/nightsprout.scss */
html h3 {
  font-size: 25px;
  line-height: 40px;
  padding: 5px 0 5px 0;
}
/* line 58, ../../app/stylesheets/nightsprout.scss */
html h4 {
  font-size: 20px;
  line-height: 30px;
  padding: 1px 0 9px 0;
}
/* line 59, ../../app/stylesheets/nightsprout.scss */
html h5 {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}
/* line 60, ../../app/stylesheets/nightsprout.scss */
html h6 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}
/* line 61, ../../app/stylesheets/nightsprout.scss */
html .webkit h1 {
  padding: 9px 0 0 0;
  position: relative;
  margin-top: 1px;
}
/* line 62, ../../app/stylesheets/nightsprout.scss */
html .webkit h2 {
  padding: 8px 0 2px 0;
}
/* line 63, ../../app/stylesheets/nightsprout.scss */
html .webkit h6 {
  padding: 8px 0 2px 0;
}
/* line 73, ../../app/stylesheets/nightsprout.scss */
html input[type="text"],
html input[type="email"],
html input[type="password"],
html input[type="submit"],
html select,
html textarea,
html a.button,
html a.cancel-button,
html button {
  font-family: 'Kreon', Georgia, 'Times New Roman', serif;
}
/* line 77, ../../app/stylesheets/nightsprout.scss */
html a {
  color: #c11a06;
}
/* line 79, ../../app/stylesheets/nightsprout.scss */
html body {
  font-family: 'Kreon', Georgia, 'Times New Roman', serif;
  color: #414953;
  background: transparent url("../images/nightsprout/brown-background.gif") repeat 0 0;
}
/* line 83, ../../app/stylesheets/nightsprout.scss */
html body #page-container {
  width: 100%;
  height: 840px;
  background: transparent url("../images/nightsprout/background.gif") repeat-x 0 0;
}
/* line 87, ../../app/stylesheets/nightsprout.scss */
html body #page-container #header {
  float: none;
  width: 900px;
  margin: 0 auto 10px auto;
  padding: 140px 0 0 0;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #page-container #header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 94, ../../app/stylesheets/nightsprout.scss */
html body #page-container #header h1 {
  width: 725px;
  height: 105px;
  padding: 65px 0 0 175px;
  color: #ecdd89;
  font-size: 60px;
  font-family: 'Raleway', 'PT Sans Narrow', 'Myriad Pro', Helvetica, Arial, sans serif;
  background: transparent url("../images/nightsprout/logo.gif") no-repeat 0 0;
  text-shadow: 0 2px 0 #083844;
}
/* line 103, ../../app/stylesheets/nightsprout.scss */
html body #page-container #header h1 span {
  display: block;
  float: left;
  width: 100%;
  padding: 1px 0 0 0;
  font-size: 20px;
  line-height: 20px;
  color: #bbc8ab;
  font-family: 'Kreon', Georgia, 'Times New Roman', serif;
  text-shadow: 0 1px 0 #083844;
}
/* line 116, ../../app/stylesheets/nightsprout.scss */
html body #page-container #content {
  float: none;
  width: 905px;
  height: 455px;
  margin: 0 auto;
  padding: 0 0 0 5px;
  text-align: left;
  font-size: 16px;
  line-height: 30px;
  background: transparent url("../images/nightsprout/content-background.png") no-repeat 5px 0;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #page-container #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 127, ../../app/stylesheets/nightsprout.scss */
html body #page-container #content #column-1 {
  width: 375px;
  height: 350px;
  margin: 0 30px 0 0;
  padding: 50px 30px;
}
/* line 133, ../../app/stylesheets/nightsprout.scss */
html body #page-container #content #column-2 {
  width: 375px;
  height: 350px;
  padding: 50px 30px;
}
/* line 138, ../../app/stylesheets/nightsprout.scss */
html body #page-container #content h3 {
  font-size: 30px;
  line-height: 28px;
  padding: 2px 0 2px 0;
  margin: 0 0 30px 0;
  text-align: center;
}
/* line 144, ../../app/stylesheets/nightsprout.scss */
html body #page-container #content h3 span {
  display: block;
  float: left;
  width: 100%;
  font-size: 16px;
}
/* line 151, ../../app/stylesheets/nightsprout.scss */
html body #page-container #content p {
  padding: 1px 0 9px 0;
  margin: 0 0 20px 0;
}
/* line 155, ../../app/stylesheets/nightsprout.scss */
html body #page-container #content ul {
  padding: 1px 0 9px 0;
}
/* line 162, ../../app/stylesheets/nightsprout.scss */
html body #footer-container #footer {
  float: none;
  width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 30px;
  font-family: 'PT Sans Narrow', 'Myriad Pro', Helvetica, Arial, sans serif;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #footer-container #footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 170, ../../app/stylesheets/nightsprout.scss */
html body #footer-container #footer ul {
  float: none;
  width: 900px;
  margin: 0 auto;
}
/* line 174, ../../app/stylesheets/nightsprout.scss */
html body #footer-container #footer ul li {
  display: inline-block;
  float: none;
  width: auto;
  margin: 0 0 0 30px;
}
/* line 179, ../../app/stylesheets/nightsprout.scss */
html body #footer-container #footer ul li a {
  color: #c8bb95;
  text-decoration: none;
}
/* line 183, ../../app/stylesheets/nightsprout.scss */
html body #footer-container #footer ul li a:hover {
  text-decoration: underline;
}
/* line 185, ../../app/stylesheets/nightsprout.scss */
html body #footer-container #footer ul li:first-child {
  margin: 0;
}
