/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../../app/stylesheets/personal.scss */
html {
  height: 100%;
  background: #e5e5e5;
}

/* line 10, ../../app/stylesheets/personal.scss */
body {
  font-family: 'Open Sans', 'Myriad Pro', Myriad, 'Lucida Grande', 'Lucida Sans', Lucida, Verdana, Helvetica, Arial, sans serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  /* This turns off subpixel antialiasing in Webkit, making fonts look more consistent across browsers. */
  -webkit-text-size-adjust: none;
  /* This turns off font size adjusting in iPhone Safari, preventing line-height issues. */
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfcfc), color-stop(50%, #e5e5e5), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5);
  background-image: -moz-linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5);
  background-image: -o-linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5);
  background-image: -ms-linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5);
  background-image: linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5);
}

/* line 22, ../../app/stylesheets/personal.scss */
a {
  text-decoration: none;
  color: #404040;
}

/* line 23, ../../app/stylesheets/personal.scss */
a:hover {
  text-decoration: underline;
  color: #e53d00;
}

/* line 26, ../../app/stylesheets/personal.scss */
#cover-page,
#interior {
  min-width: 990px;
  background: transparent url("../images/personal/portfolio-background.png") no-repeat center 188px;
  text-shadow: 0 1px 0 white;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#cover-page:after,
#interior:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 33, ../../app/stylesheets/personal.scss */
#cover-page h1,
#interior h1 {
  padding: 80px 0 10px 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
}
/* line 34, ../../app/stylesheets/personal.scss */
#cover-page h2,
#interior h2 {
  padding: 10px 0 10px 0;
  font-size: 50px;
  font-weight: 800;
  line-height: 60px;
}
/* line 35, ../../app/stylesheets/personal.scss */
#cover-page h3,
#interior h3 {
  padding: 62px 0 18px 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
/* line 37, ../../app/stylesheets/personal.scss */
#cover-page a#partner-link,
#interior a#partner-link {
  display: block;
  float: right;
  width: 124px;
  height: 63px;
  padding: 14px 0 0 50px;
  position: relative;
  top: -140px;
  font-size: 15px;
  color: #bfbfbf;
  text-align: left;
  background: transparent url("../images/personal/partner-link-background.png") no-repeat 5px bottom;
  text-shadow: none;
}
/* line 51, ../../app/stylesheets/personal.scss */
#cover-page a#partner-link:hover,
#interior a#partner-link:hover {
  width: 129px;
  padding: 14px 0 0 45px;
  text-decoration: none;
  color: #e5e5e5;
  background-position: 0 bottom;
}
/* line 59, ../../app/stylesheets/personal.scss */
#cover-page ol,
#interior ol {
  width: 744px;
  margin: 0 auto;
  padding: 67px 0 0 197px;
  background: transparent url("../images/personal/portfolio-background.png") no-repeat 0 0;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#cover-page ol:after,
#interior ol:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 65, ../../app/stylesheets/personal.scss */
#cover-page ol li,
#interior ol li {
  display: block;
  float: left;
  position: relative;
}
/* line 69, ../../app/stylesheets/personal.scss */
#cover-page ol li a:hover,
#interior ol li a:hover {
  text-decoration: none;
  background-position: 0 0;
}
/* line 71, ../../app/stylesheets/personal.scss */
#cover-page ol li:nth-child(2),
#interior ol li:nth-child(2) {
  left: -100px;
}
/* line 73, ../../app/stylesheets/personal.scss */
#cover-page ol li:nth-child(2) a,
#interior ol li:nth-child(2) a {
  background: transparent url("../images/personal/thumbnail-priceboard.png") no-repeat 0 20px;
}
/* line 74, ../../app/stylesheets/personal.scss */
#cover-page ol li:nth-child(2) a:hover,
#interior ol li:nth-child(2) a:hover {
  background-position: 0 0;
}
/* line 76, ../../app/stylesheets/personal.scss */
#cover-page ol li:nth-child(3),
#interior ol li:nth-child(3) {
  left: -200px;
}
/* line 78, ../../app/stylesheets/personal.scss */
#cover-page ol li:nth-child(3) a,
#interior ol li:nth-child(3) a {
  background: transparent url("../images/personal/thumbnail-srm.png") no-repeat 0 20px;
}
/* line 79, ../../app/stylesheets/personal.scss */
#cover-page ol li:nth-child(3) a:hover,
#interior ol li:nth-child(3) a:hover {
  background-position: 0 0;
}
/* line 81, ../../app/stylesheets/personal.scss */
#cover-page ol a,
#interior ol a {
  display: block;
  float: left;
  height: 113px;
  width: 248px;
  background: transparent url("../images/personal/thumbnail-quizforge.png") no-repeat 0 20px;
}
/* line 90, ../../app/stylesheets/personal.scss */
#cover-page ul,
#interior ul {
  width: 894px;
  height: 100px;
  margin: -9px auto 0;
  padding: 114px 0 5px 0;
  position: relative;
  background: transparent url("../images/personal/navigation-background.png") no-repeat 0 0;
}
/* line 97, ../../app/stylesheets/personal.scss */
#cover-page ul li,
#interior ul li {
  display: inline;
  margin: 0 0 0 20px;
}
/* line 102, ../../app/stylesheets/personal.scss */
#cover-page ul li:nth-child(1),
#interior ul li:nth-child(1) {
  margin: 0;
}

/* line 107, ../../app/stylesheets/personal.scss */
#interior {
  background-position: center 268px;
}
/* line 111, ../../app/stylesheets/personal.scss */
#interior h1 {
  line-height: 80px;
  padding: 70px 0 10px 0;
  margin: 0 0 47px 0;
}
/* line 113, ../../app/stylesheets/personal.scss */
#interior p {
  width: 480px;
  height: 263px;
  padding: 40px 34px 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  color: #666666;
  text-align: left;
  background: transparent url("../images/personal/card-background.png") no-repeat 0 0;
}
/* line 127, ../../app/stylesheets/personal.scss */
#interior ol {
  width: 480px;
  height: 243px;
  padding: 60px 34px 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 20px;
  text-align: left;
  background: transparent url("../images/personal/card-background.png") no-repeat 0 0;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#interior ol:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 139, ../../app/stylesheets/personal.scss */
#interior ol li {
  display: block;
  float: left;
  width: 100%;
  height: 33px;
  margin: 0 0 17px 0;
  position: static;
  background: transparent url("../images/personal/social-icons.png") no-repeat 75px 0;
}
/* line 147, ../../app/stylesheets/personal.scss */
#interior ol li a {
  width: 353px;
  height: 33px;
  padding: 5px 0 0 127px;
  color: #666666;
}
/* line 153, ../../app/stylesheets/personal.scss */
#interior ol li a:hover {
  color: #e53d00;
}
/* line 155, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(2) {
  left: 0;
  background: transparent url("../images/personal/social-icons.png") no-repeat 75px -33px;
}
/* line 158, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(2) a {
  background: none;
}
/* line 160, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(3) {
  left: 0;
  background: transparent url("../images/personal/social-icons.png") no-repeat 75px -66px;
}
/* line 163, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(3) a {
  background: none;
}
/* line 165, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(4) {
  background: transparent url("../images/personal/social-icons.png") no-repeat 75px -99px;
}
/* line 167, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(4) a#spam-safe-email-jason {
  background: transparent url("../images/personal/jason-email-background.png") no-repeat 127px 0;
}
/* line 168, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(4) a#spam-safe-email-jason:hover {
  background: transparent url("../images/personal/jason-email-background.png") no-repeat 127px -33px;
}
/* line 169, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(4) a#spam-safe-email-mitchell {
  background: transparent url("../images/personal/mitchell-email-background.png") no-repeat 127px 0;
}
/* line 170, ../../app/stylesheets/personal.scss */
#interior ol li:nth-child(4) a#spam-safe-email-mitchell:hover {
  background: transparent url("../images/personal/mitchell-email-background.png") no-repeat 127px -33px;
}
/* line 172, ../../app/stylesheets/personal.scss */
#interior ol a {
  display: block;
  float: left;
  height: auto;
  width: auto;
  background: none;
}
/* line 181, ../../app/stylesheets/personal.scss */
#interior ul {
  width: 990px;
  background: transparent url("../images/personal/navigation-background-interior.png") no-repeat center top;
}
