/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/****************************************************************************************************/
/* COLOR THEMES */
/****************************************************************************************************/
/* Grey Theme */
/****************************************************************************************************/
/* BUTTON THEMES */
/****************************************************************************************************/
/* Default Red */
/* Radiant Orange */
/* Corporate Blue */
/* Organic Green */
/* Neutral Grey */
/****************************************************************************************************/
/* COLOR THEMES */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: Open Sans                                                                            */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: Vollkorn                                                                             */
/****************************************************************************************************/
/****************************************************************************************************/
/* BLOCK FLOAT RESET */
/****************************************************************************************************/
/* Set these to use display-block-float-left scaffolding. */
/* line 195, ../../app/stylesheets/screen.scss */
div, p, table, blockquote, code,
h1, h2, h3, h4, h5, h6,
ol, ul, li, dl, dt, dd,
fieldset, legend, form, label, select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  float: left;
  width: 100%;
}

/****************************************************************************************************/
/* BASE STYLES */
/****************************************************************************************************/
/* line 7, ../../app/stylesheets/_vollkorn.scss */
html body {
  font-size: 12px;
  line-height: 1.667em;
}
/* line 12, ../../app/stylesheets/_vollkorn.scss */
html h1 {
  font-size: 48px;
  line-height: 60px;
  padding: 8px 0 2px 0;
  font-family: 'Vollkorn', 'Georgia', 'Times New Roman', serif;
}
/* line 13, ../../app/stylesheets/_vollkorn.scss */
html h2 {
  font-size: 36px;
  line-height: 50px;
  padding: 5px 0 5px 0;
  font-family: 'Vollkorn', 'Georgia', 'Times New Roman', serif;
}
/* line 14, ../../app/stylesheets/_vollkorn.scss */
html h3 {
  font-size: 25px;
  line-height: 40px;
  padding: 4px 0 6px 0;
  font-family: 'Vollkorn', 'Georgia', 'Times New Roman', serif;
}
/* line 15, ../../app/stylesheets/_vollkorn.scss */
html h4 {
  font-size: 20px;
  line-height: 30px;
  padding: 9px 0 11px 0;
  font-family: 'Vollkorn', 'Georgia', 'Times New Roman', serif;
}
/* line 16, ../../app/stylesheets/_vollkorn.scss */
html h5 {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0 4px 0;
  font-family: 'Vollkorn', 'Georgia', 'Times New Roman', serif;
}
/* line 17, ../../app/stylesheets/_vollkorn.scss */
html h6 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
  font-family: 'Vollkorn', 'Georgia', 'Times New Roman', serif;
}
/* line 18, ../../app/stylesheets/_vollkorn.scss */
html .webkit h1 {
  padding: 7px 0 3px 0;
}
/* line 19, ../../app/stylesheets/_vollkorn.scss */
html .webkit h2 {
  padding: 6px 0 4px 0;
}
/* line 20, ../../app/stylesheets/_vollkorn.scss */
html .webkit h4 {
  padding: 10px 0 10px 0;
}
/* line 21, ../../app/stylesheets/_vollkorn.scss */
html .webkit h5 {
  padding: 7px 0 3px 0;
}
/* line 22, ../../app/stylesheets/_vollkorn.scss */
html .webkit h6 {
  padding: 7px 0 3px 0;
}
/* line 26, ../../app/stylesheets/_open-sans.scss */
html body {
  font-size: 12px;
  line-height: 1.667em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/* line 33, ../../app/stylesheets/_open-sans.scss */
html blockquote,
html p {
  padding: 5px 0 5px 0;
}
/* line 35, ../../app/stylesheets/_open-sans.scss */
html .webkit blockquote,
html .webkit p {
  padding: 6px 0 4px 0;
}
/* line 37, ../../app/stylesheets/_open-sans.scss */
html blockquote {
  font-style: italic;
}
/* line 42, ../../app/stylesheets/_open-sans.scss */
html .column-8 span.floated-blockquote {
  padding-top: 2px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
}
/* line 53, ../../app/stylesheets/_open-sans.scss */
html ul,
html ol {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 58, ../../app/stylesheets/_open-sans.scss */
html .webkit ul,
html .webkit ol {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 66, ../../app/stylesheets/_open-sans.scss */
html ul.lined,
html ol.lined,
html ul.lined-large,
html ol.lined-large {
  padding-top: 0;
  padding-bottom: 10px;
}
/* line 69, ../../app/stylesheets/_open-sans.scss */
html ul.lined li,
html ol.lined li,
html ul.lined-large li,
html ol.lined-large li {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 76, ../../app/stylesheets/_open-sans.scss */
html .webkit ul.lined li,
html .webkit ol.lined li {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 84, ../../app/stylesheets/_open-sans.scss */
html ul.lined-large li,
html ol.lined-large li {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 91, ../../app/stylesheets/_open-sans.scss */
html .webkit ul.lined-large li,
html .webkit ol.lined-large li {
  padding-top: 11px;
  padding-bottom: 9px;
}
/* line 101, ../../app/stylesheets/_open-sans.scss */
html a.icon-button,
html a.cancel-button,
html a.button,
html button,
html input[type="submit"] {
  padding-top: 8px;
  padding-bottom: 9px;
  margin-top: 0;
  margin-bottom: 7px;
  line-height: 1em;
  font-size: 12px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/* line 111, ../../app/stylesheets/_open-sans.scss */
html a.cancel-button {
  padding-top: 9px;
  padding-bottom: 10px;
}
/* line 116, ../../app/stylesheets/_open-sans.scss */
html button {
  padding-top: 7px;
  padding-bottom: 24px;
}
/* line 120, ../../app/stylesheets/_open-sans.scss */
html .webkit button {
  padding-top: 8px;
  padding-bottom: 23px;
}
/* line 125, ../../app/stylesheets/_open-sans.scss */
html input[type="submit"] {
  padding-top: 5px;
  padding-bottom: 26px;
}
/* line 129, ../../app/stylesheets/_open-sans.scss */
html .webkit input[type="submit"] {
  padding-top: 8px;
  padding-bottom: 23px;
}
/* line 134, ../../app/stylesheets/_open-sans.scss */
html label {
  font-size: 12px;
  line-height: 1.667em;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 139, ../../app/stylesheets/_open-sans.scss */
html label span {
  font-size: 10px;
  font-weight: normal;
}
/* line 144, ../../app/stylesheets/_open-sans.scss */
html .webkit label {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 149, ../../app/stylesheets/_open-sans.scss */
html input[type="checkbox"] {
  margin-top: 4px;
  margin-bottom: 0;
}
/* line 153, ../../app/stylesheets/_open-sans.scss */
html .webkit input[type="checkbox"] {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 158, ../../app/stylesheets/_open-sans.scss */
html input[type="radio"] {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 167, ../../app/stylesheets/_open-sans.scss */
html select,
html input[type="text"],
html input[type="email"],
html input[type="password"],
html textarea {
  padding-top: 7px;
  padding-bottom: 9px;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 1.667em;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/* line 180, ../../app/stylesheets/_open-sans.scss */
html .webkit select,
html .webkit input[type="text"],
html .webkit input[type="email"],
html .webkit input[type="password"],
html .webkit textarea {
  padding-top: 8px;
  padding-bottom: 8px;
}
/* line 185, ../../app/stylesheets/_open-sans.scss */
html select {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 190, ../../app/stylesheets/_open-sans.scss */
html textarea {
  padding-top: 4px;
  padding-bottom: 13px;
}
/* line 194, ../../app/stylesheets/_open-sans.scss */
html .webkit textarea {
  padding-top: 5px;
  padding-bottom: 12px;
}
/* line 199, ../../app/stylesheets/_open-sans.scss */
html ul.form {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 203, ../../app/stylesheets/_open-sans.scss */
html ul.form li label {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 209, ../../app/stylesheets/_open-sans.scss */
html .webkit ul.form {
  padding-top: 16px;
  padding-bottom: 14px;
}
/* line 213, ../../app/stylesheets/_open-sans.scss */
html .webkit ul.form li label {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 220, ../../app/stylesheets/_open-sans.scss */
html table {
  padding-top: 0;
  padding-bottom: 10px;
}
/* line 225, ../../app/stylesheets/_open-sans.scss */
html table thead tr th {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 233, ../../app/stylesheets/_open-sans.scss */
html table tbody tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 241, ../../app/stylesheets/_open-sans.scss */
html .webkit table {
  padding-top: 0;
  padding-bottom: 10px;
}
/* line 246, ../../app/stylesheets/_open-sans.scss */
html .webkit table thead tr th {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 254, ../../app/stylesheets/_open-sans.scss */
html .webkit table tbody tr td {
  padding-top: 6px;
  padding-bottom: 4px;
}

/* line 212, ../../app/stylesheets/screen.scss */
body {
  width: 100%;
  text-align: center;
  color: #696969;
  -webkit-font-smoothing: antialiased;
  /* This turns off subpixel antialiasing in Webkit, making fonts look more consistent across browsers. */
  -webkit-text-size-adjust: none;
  /* This turns off font size adjusting in iPhone Safari, preventing line-height issues. */
}

/* line 220, ../../app/stylesheets/screen.scss */
#page-container {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 228, ../../app/stylesheets/screen.scss */
a {
  text-decoration: underline;
  color: #bc2215;
  cursor: pointer;
}

/* line 229, ../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 230, ../../app/stylesheets/screen.scss */
strong {
  font-weight: bold;
}

/* line 231, ../../app/stylesheets/screen.scss */
em {
  font-style: italic;
}

/* line 234, ../../app/stylesheets/screen.scss */
ul,
ol {
  padding-left: 0;
  padding-right: 0;
}

/* line 243, ../../app/stylesheets/screen.scss */
ul.lined,
ol.lined,
ul.lined-large,
ol.lined-large {
  padding-left: 0;
  padding-right: 0;
}
/* line 246, ../../app/stylesheets/screen.scss */
ul.lined li,
ol.lined li,
ul.lined-large li,
ol.lined-large li {
  padding-left: 0;
  padding-right: 0;
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
}
/* line 251, ../../app/stylesheets/screen.scss */
ul.lined li:nth-child(1),
ol.lined li:nth-child(1),
ul.lined-large li:nth-child(1),
ol.lined-large li:nth-child(1) {
  background: none;
}

/* line 257, ../../app/stylesheets/screen.scss */
p img {
  display: block;
  float: left;
  margin: 5px 30px 25px 0;
}
/* line 262, ../../app/stylesheets/screen.scss */
p img.paragraph-icon {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
  margin: 3px 8px 5px 0;
}

/* line 272, ../../app/stylesheets/screen.scss */
.column-8 span.floated-blockquote {
  display: block;
  float: left;
  width: 225px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 30px;
  color: #757471;
  font-style: italic;
}

/* line 285, ../../app/stylesheets/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #464646;
  font-weight: bold;
}

/* line 291, ../../app/stylesheets/screen.scss */
.webkit code.main-column,
code.main-column {
  font-family: 'Inconsolata', 'Courier New', 'Courier', Helvetica, Arial, sans-serif;
  width: 648px;
  margin: 5px 0 3px 0;
  background: transparent url("../images/code-background.png") repeat-y 0 0;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #adadad;
  border-left: 1px solid #cecece;
}
/* line 300, ../../app/stylesheets/screen.scss */
.webkit code.main-column ol,
code.main-column ol {
  padding: 0;
  list-style-type: decimal;
}
/* line 303, ../../app/stylesheets/screen.scss */
.webkit code.main-column ol li,
code.main-column ol li {
  display: list-item;
  margin: 0 0 0 40px;
  padding: 0 0 0 10px;
  width: 598px;
  cursor: text;
}

/****************************************************************************************************/
/* BUTTONS */
/****************************************************************************************************/
/* line 324, ../../app/stylesheets/screen.scss */
a.icon-button,
a.cancel-button,
a.button,
button,
input[type="submit"] {
  display: block;
  float: left;
  height: 14px;
  padding-left: 11px;
  padding-right: 11px;
  margin-left: 0;
  margin-right: 10px;
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border-top: 1px solid #a95760;
  border-right: 1px solid #750511;
  border-bottom: 1px solid #55030c;
  border-left: 1px solid #750511;
  color: #ffffff;
  -moz-box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #dd6f62 inset, 0 2px 4px #979797;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b74634), color-stop(100%, #8e0d07));
  background-image: -webkit-linear-gradient(#b74634, #8e0d07);
  background-image: -moz-linear-gradient(#b74634, #8e0d07);
  background-image: -o-linear-gradient(#b74634, #8e0d07);
  background-image: -ms-linear-gradient(#b74634, #8e0d07);
  background-image: linear-gradient(#b74634, #8e0d07);
  text-shadow: 0 1px 0 #821a11;
}

/* line 340, ../../app/stylesheets/screen.scss */
a.icon-button {
  padding-left: 31px;
}
/* line 342, ../../app/stylesheets/screen.scss */
a.icon-button img {
  position: absolute;
  margin: -1px 0 0 -21px;
}

/* line 348, ../../app/stylesheets/screen.scss */
a.cancel-button {
  border: none;
  padding-left: 8px;
  padding-right: 8px;
  color: #bc2215;
  text-decoration: underline;
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/* line 359, ../../app/stylesheets/screen.scss */
button {
  height: 0;
  padding-left: 8px;
  padding-right: 8px;
}

/* line 365, ../../app/stylesheets/screen.scss */
input[type="submit"] {
  height: 0;
  padding-left: 11px;
  padding-right: 11px;
}

/* line 374, ../../app/stylesheets/screen.scss */
a.icon-button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover {
  text-decoration: none;
  border-top: 1px solid #d56d76;
  border-right: 1px solid #ae252f;
  border-bottom: 1px solid #8c2930;
  border-left: 1px solid #ae252f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e95746), color-stop(100%, #c92323));
  background-image: -webkit-linear-gradient(#e95746, #c92323);
  background-image: -moz-linear-gradient(#e95746, #c92323);
  background-image: -o-linear-gradient(#e95746, #c92323);
  background-image: -ms-linear-gradient(#e95746, #c92323);
  background-image: linear-gradient(#e95746, #c92323);
  -moz-box-shadow: 0 1px 1px #f08475 inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #f08475 inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #f08475 inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #f08475 inset, 0 2px 4px #979797;
  text-shadow: 0 1px 0 #bc3329;
}

/* line 382, ../../app/stylesheets/screen.scss */
a.icon-button:active,
a.button:active,
button:active,
input[type="submit"]:active {
  position: relative;
  top: 2px;
  border-top: 1px solid #d56d76;
  border-right: 1px solid #ae252f;
  border-bottom: 1px solid #8c2930;
  border-left: 1px solid #ae252f;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c92323), color-stop(100%, #e95746));
  background-image: -webkit-linear-gradient(#c92323, #e95746);
  background-image: -moz-linear-gradient(#c92323, #e95746);
  background-image: -o-linear-gradient(#c92323, #e95746);
  background-image: -ms-linear-gradient(#c92323, #e95746);
  background-image: linear-gradient(#c92323, #e95746);
  -moz-box-shadow: 0 1px 1px #f08475 inset, 0 0 4px #979797;
  -webkit-box-shadow: 0 1px 1px #f08475 inset, 0 0 4px #979797;
  -o-box-shadow: 0 1px 1px #f08475 inset, 0 0 4px #979797;
  box-shadow: 0 1px 1px #f08475 inset, 0 0 4px #979797;
  text-shadow: 0 1px 0 #bc3329;
}

/* line 388, ../../app/stylesheets/screen.scss */
a.cancel-button:hover {
  text-decoration: none;
}

/* line 389, ../../app/stylesheets/screen.scss */
a.cancel-button:active {
  position: relative;
  top: 2px;
}

/* line 394, ../../app/stylesheets/screen.scss */
a.icon-button.orange,
a.button.orange,
button.orange,
input[type="submit"].orange {
  border-top: 1px solid #b16150;
  border-right: 1px solid #832602;
  border-bottom: 1px solid #611903;
  border-left: 1px solid #832602;
  color: #ffffff;
  -moz-box-shadow: 0 1px 1px #e0843f inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #e0843f inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #e0843f inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #e0843f inset, 0 2px 4px #979797;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c36717), color-stop(100%, #8e3f00));
  background-image: -webkit-linear-gradient(#c36717, #8e3f00);
  background-image: -moz-linear-gradient(#c36717, #8e3f00);
  background-image: -o-linear-gradient(#c36717, #8e3f00);
  background-image: -ms-linear-gradient(#c36717, #8e3f00);
  background-image: linear-gradient(#c36717, #8e3f00);
  text-shadow: 0 1px 0 #974400;
}

/* line 399, ../../app/stylesheets/screen.scss */
a.icon-button.orange:hover,
a.button.orange:hover,
button.orange:hover,
input[type="submit"].orange:hover {
  border-top: 1px solid #e06b53;
  border-right: 1px solid #c53d0b;
  border-bottom: 1px solid #9f3816;
  border-left: 1px solid #c53d0b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7e13), color-stop(100%, #d36105));
  background-image: -webkit-linear-gradient(#ff7e13, #d36105);
  background-image: -moz-linear-gradient(#ff7e13, #d36105);
  background-image: -o-linear-gradient(#ff7e13, #d36105);
  background-image: -ms-linear-gradient(#ff7e13, #d36105);
  background-image: linear-gradient(#ff7e13, #d36105);
  -moz-box-shadow: 0 1px 1px #ff9a4c inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #ff9a4c inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #ff9a4c inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #ff9a4c inset, 0 2px 4px #979797;
  text-shadow: 0 1px 0 #d46004;
}

/* line 404, ../../app/stylesheets/screen.scss */
a.icon-button.orange:active,
a.button.orange:active,
button.orange:active,
input[type="submit"].orange:active {
  border-top: 1px solid #e06b53;
  border-right: 1px solid #c53d0b;
  border-bottom: 1px solid #9f3816;
  border-left: 1px solid #c53d0b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d36105), color-stop(100%, #ff7e13));
  background-image: -webkit-linear-gradient(#d36105, #ff7e13);
  background-image: -moz-linear-gradient(#d36105, #ff7e13);
  background-image: -o-linear-gradient(#d36105, #ff7e13);
  background-image: -ms-linear-gradient(#d36105, #ff7e13);
  background-image: linear-gradient(#d36105, #ff7e13);
  -moz-box-shadow: 0 1px 1px #ff9a4c inset, 0 0 4px #979797;
  -webkit-box-shadow: 0 1px 1px #ff9a4c inset, 0 0 4px #979797;
  -o-box-shadow: 0 1px 1px #ff9a4c inset, 0 0 4px #979797;
  box-shadow: 0 1px 1px #ff9a4c inset, 0 0 4px #979797;
  text-shadow: 0 1px 0 #d46004;
}

/* line 409, ../../app/stylesheets/screen.scss */
a.icon-button.blue,
a.button.blue,
button.blue,
input[type="submit"].blue {
  border-top: 1px solid #658493;
  border-right: 1px solid #1d3f5c;
  border-bottom: 1px solid #152f42;
  border-left: 1px solid #1d3f5c;
  color: #ffffff;
  -moz-box-shadow: 0 1px 1px #6685b3 inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #6685b3 inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #6685b3 inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #6685b3 inset, 0 2px 4px #979797;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f5d92), color-stop(100%, #16386d));
  background-image: -webkit-linear-gradient(#3f5d92, #16386d);
  background-image: -moz-linear-gradient(#3f5d92, #16386d);
  background-image: -o-linear-gradient(#3f5d92, #16386d);
  background-image: -ms-linear-gradient(#3f5d92, #16386d);
  background-image: linear-gradient(#3f5d92, #16386d);
  text-shadow: 0 1px 0 #1e3a67;
}

/* line 414, ../../app/stylesheets/screen.scss */
a.icon-button.blue:hover,
a.button.blue:hover,
button.blue:hover,
input[type="submit"].blue:hover {
  border-top: 1px solid #76a1b7;
  border-right: 1px solid #356691;
  border-bottom: 1px solid #355b76;
  border-left: 1px solid #356691;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4c77c3), color-stop(100%, #295aa6));
  background-image: -webkit-linear-gradient(#4c77c3, #295aa6);
  background-image: -moz-linear-gradient(#4c77c3, #295aa6);
  background-image: -o-linear-gradient(#4c77c3, #295aa6);
  background-image: -ms-linear-gradient(#4c77c3, #295aa6);
  background-image: linear-gradient(#4c77c3, #295aa6);
  -moz-box-shadow: 0 1px 1px #6b98d9 inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #6b98d9 inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #6b98d9 inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #6b98d9 inset, 0 2px 4px #979797;
  text-shadow: 0 1px 0 #335b9c;
}

/* line 419, ../../app/stylesheets/screen.scss */
a.icon-button.blue:active,
a.button.blue:active,
button.blue:active,
input[type="submit"].blue:active {
  border-top: 1px solid #76a1b7;
  border-right: 1px solid #356691;
  border-bottom: 1px solid #355b76;
  border-left: 1px solid #356691;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #295aa6), color-stop(100%, #4c77c3));
  background-image: -webkit-linear-gradient(#295aa6, #4c77c3);
  background-image: -moz-linear-gradient(#295aa6, #4c77c3);
  background-image: -o-linear-gradient(#295aa6, #4c77c3);
  background-image: -ms-linear-gradient(#295aa6, #4c77c3);
  background-image: linear-gradient(#295aa6, #4c77c3);
  -moz-box-shadow: 0 1px 1px #6b98d9 inset, 0 0 4px #979797;
  -webkit-box-shadow: 0 1px 1px #6b98d9 inset, 0 0 4px #979797;
  -o-box-shadow: 0 1px 1px #6b98d9 inset, 0 0 4px #979797;
  box-shadow: 0 1px 1px #6b98d9 inset, 0 0 4px #979797;
  text-shadow: 0 1px 0 #335b9c;
}

/* line 424, ../../app/stylesheets/screen.scss */
a.icon-button.green,
a.button.green,
button.green,
input[type="submit"].green {
  border-top: 1px solid #a1b04a;
  border-right: 1px solid #5a7b00;
  border-bottom: 1px solid #435800;
  border-left: 1px solid #5a7b00;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73c60d), color-stop(100%, #4b8500));
  background-image: -webkit-linear-gradient(#73c60d, #4b8500);
  background-image: -moz-linear-gradient(#73c60d, #4b8500);
  background-image: -o-linear-gradient(#73c60d, #4b8500);
  background-image: -ms-linear-gradient(#73c60d, #4b8500);
  background-image: linear-gradient(#73c60d, #4b8500);
  -moz-box-shadow: 0 1px 1px #9ae236 inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #9ae236 inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #9ae236 inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #9ae236 inset, 0 2px 4px #979797;
  text-shadow: 0 1px 0 #4d8600;
}

/* line 429, ../../app/stylesheets/screen.scss */
a.icon-button.green:hover,
a.button.green:hover,
button.green:hover,
input[type="submit"].green:hover {
  border-top: 1px solid #cde34b;
  border-right: 1px solid #8bbc0b;
  border-bottom: 1px solid #789517;
  border-left: 1px solid #8bbc0b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #93ff0f), color-stop(100%, #73c609));
  background-image: -webkit-linear-gradient(#93ff0f, #73c609);
  background-image: -moz-linear-gradient(#93ff0f, #73c609);
  background-image: -o-linear-gradient(#93ff0f, #73c609);
  background-image: -ms-linear-gradient(#93ff0f, #73c609);
  background-image: linear-gradient(#93ff0f, #73c609);
  -moz-box-shadow: 0 1px 1px #b1ff47 inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #b1ff47 inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #b1ff47 inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #b1ff47 inset, 0 2px 4px #979797;
  text-shadow: 0 1px 0 #78c908;
}

/* line 434, ../../app/stylesheets/screen.scss */
a.icon-button.green:active,
a.button.green:active,
button.green:active,
input[type="submit"].green:active {
  border-top: 1px solid #cde34b;
  border-right: 1px solid #8bbc0b;
  border-bottom: 1px solid #789517;
  border-left: 1px solid #8bbc0b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #73c609), color-stop(100%, #93ff0f));
  background-image: -webkit-linear-gradient(#73c609, #93ff0f);
  background-image: -moz-linear-gradient(#73c609, #93ff0f);
  background-image: -o-linear-gradient(#73c609, #93ff0f);
  background-image: -ms-linear-gradient(#73c609, #93ff0f);
  background-image: linear-gradient(#73c609, #93ff0f);
  -moz-box-shadow: 0 1px 1px #b1ff47 inset, 0 0 4px #979797;
  -webkit-box-shadow: 0 1px 1px #b1ff47 inset, 0 0 4px #979797;
  -o-box-shadow: 0 1px 1px #b1ff47 inset, 0 0 4px #979797;
  box-shadow: 0 1px 1px #b1ff47 inset, 0 0 4px #979797;
  text-shadow: 0 1px 0 #78c908;
}

/* line 440, ../../app/stylesheets/screen.scss */
a.icon-button.grey,
a.button.grey,
button.grey,
input[type="submit"].grey {
  border-top: 1px solid #807b79;
  border-right: 1px solid #413b37;
  border-bottom: 1px solid #2f2b28;
  border-left: 1px solid #413b37;
  color: #ffffff;
  -moz-box-shadow: 0 1px 1px #928d86 inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #928d86 inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #928d86 inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #928d86 inset, 0 2px 4px #979797;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #706b63), color-stop(100%, #48433b));
  background-image: -webkit-linear-gradient(#706b63, #48433b);
  background-image: -moz-linear-gradient(#706b63, #48433b);
  background-image: -o-linear-gradient(#706b63, #48433b);
  background-image: -ms-linear-gradient(#706b63, #48433b);
  background-image: linear-gradient(#706b63, #48433b);
  text-shadow: 0 1px 0 #49443e;
}

/* line 445, ../../app/stylesheets/screen.scss */
a.icon-button.grey:hover,
a.button.grey:hover,
button.grey:hover,
input[type="submit"].grey:hover {
  border-top: 1px solid #9b9492;
  border-right: 1px solid #6a615c;
  border-bottom: 1px solid #5b5450;
  border-left: 1px solid #6a615c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #918a7d), color-stop(100%, #716a5d));
  background-image: -webkit-linear-gradient(#918a7d, #716a5d);
  background-image: -moz-linear-gradient(#918a7d, #716a5d);
  background-image: -o-linear-gradient(#918a7d, #716a5d);
  background-image: -ms-linear-gradient(#918a7d, #716a5d);
  background-image: linear-gradient(#918a7d, #716a5d);
  -moz-box-shadow: 0 1px 1px #ada69b inset, 0 2px 4px #979797;
  -webkit-box-shadow: 0 1px 1px #ada69b inset, 0 2px 4px #979797;
  -o-box-shadow: 0 1px 1px #ada69b inset, 0 2px 4px #979797;
  box-shadow: 0 1px 1px #ada69b inset, 0 2px 4px #979797;
  text-shadow: 0 1px 0 #706962;
}

/* line 450, ../../app/stylesheets/screen.scss */
a.icon-button.grey:active,
a.button.grey:active,
button.grey:active,
input[type="submit"].grey:active {
  border-top: 1px solid #9b9492;
  border-right: 1px solid #6a615c;
  border-bottom: 1px solid #5b5450;
  border-left: 1px solid #6a615c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #716a5d), color-stop(100%, #918a7d));
  background-image: -webkit-linear-gradient(#716a5d, #918a7d);
  background-image: -moz-linear-gradient(#716a5d, #918a7d);
  background-image: -o-linear-gradient(#716a5d, #918a7d);
  background-image: -ms-linear-gradient(#716a5d, #918a7d);
  background-image: linear-gradient(#716a5d, #918a7d);
  -moz-box-shadow: 0 1px 1px #ada69b inset, 0 0 4px #979797;
  -webkit-box-shadow: 0 1px 1px #ada69b inset, 0 0 4px #979797;
  -o-box-shadow: 0 1px 1px #ada69b inset, 0 0 4px #979797;
  box-shadow: 0 1px 1px #ada69b inset, 0 0 4px #979797;
  text-shadow: 0 1px 0 #706962;
}

/****************************************************************************************************/
/* COLUMNS */
/****************************************************************************************************/
/* line 458, ../../app/stylesheets/screen.scss */
.sidebar-left {
  width: 280px;
  padding: 0 30px 0 0;
  margin: 0 30px 20px 0;
  background: transparent url("../images/sidebar-left-background.png") repeat-y top right;
  -moz-box-shadow: 85px 0 85px white inset, 85px 0 85px white inset;
  -webkit-box-shadow: 85px 0 85px white inset, 85px 0 85px white inset;
  -o-box-shadow: 85px 0 85px white inset, 85px 0 85px white inset;
  box-shadow: 85px 0 85px white inset, 85px 0 85px white inset;
}

/* line 465, ../../app/stylesheets/screen.scss */
.sidebar-right {
  width: 280px;
  padding: 0 0 0 30px;
  margin: 0 0 20px 0;
  background: transparent url("../images/sidebar-right-background.png") repeat-y 0 0;
  -moz-box-shadow: -85px 0 85px white inset, -85px 0 85px white inset;
  -webkit-box-shadow: -85px 0 85px white inset, -85px 0 85px white inset;
  -o-box-shadow: -85px 0 85px white inset, -85px 0 85px white inset;
  box-shadow: -85px 0 85px white inset, -85px 0 85px white inset;
}

/* line 476, ../../app/stylesheets/screen.scss */
.column-2,
.column-2-last,
.column-2-box,
.column-2-box-last {
  width: 140px;
  margin: 0 30px 20px 0;
}

/* line 484, ../../app/stylesheets/screen.scss */
.column-3,
.column-3-last,
.column-3-box,
.column-3-box-last {
  width: 225px;
  margin: 0 30px 20px 0;
}

/* line 490, ../../app/stylesheets/screen.scss */
.column-3-box,
.column-3-box-last {
  width: 185px;
  padding: 9px 19px 29px 19px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #adadad;
  border-left: 1px solid #cecece;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 503, ../../app/stylesheets/screen.scss */
.column-4,
.column-4-last,
.column-4-box,
.column-4-box-last {
  width: 310px;
  margin: 0 30px 20px 0;
}

/* line 509, ../../app/stylesheets/screen.scss */
.column-4-box,
.column-4-box-last {
  width: 270px;
  padding: 19px 19px 29px 19px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #adadad;
  border-left: 1px solid #cecece;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 522, ../../app/stylesheets/screen.scss */
.column-6,
.column-6-last,
.column-6-box,
.column-6-box-last {
  width: 480px;
  margin: 0 30px 20px 0;
}

/* line 528, ../../app/stylesheets/screen.scss */
.column-6-box,
.column-6-box-last {
  width: 440px;
  padding: 19px 19px 29px 19px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #adadad;
  border-left: 1px solid #cecece;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 541, ../../app/stylesheets/screen.scss */
.column-8,
.column-8-last,
.column-8-box,
.column-8-box-last {
  width: 650px;
  margin: 0 30px 20px 0;
}

/* line 547, ../../app/stylesheets/screen.scss */
.column-8-box,
.column-8-box-last {
  width: 610px;
  padding: 19px 19px 29px 19px;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #adadad;
  border-left: 1px solid #cecece;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 565, ../../app/stylesheets/screen.scss */
.column-2-last,
.column-3-last,
.column-3-box-last,
.column-4-last,
.column-4-box-last,
.column-6-last,
.column-6-box-last,
.column-8-last,
.column-8-box-last {
  margin-right: 0;
}

/* line 570, ../../app/stylesheets/screen.scss */
.section,
.lined-section {
  padding: 0 0 20px 0;
}

/* line 574, ../../app/stylesheets/screen.scss */
.lined-section {
  margin: 0 0 20px 0;
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x bottom left;
}

/****************************************************************************************************/
/* FORMS */
/****************************************************************************************************/
/* line 587, ../../app/stylesheets/screen.scss */
label {
  width: auto;
  height: 20px;
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}

/* line 596, ../../app/stylesheets/screen.scss */
input[type="radio"],
input[type="checkbox"] {
  display: block;
  float: left;
  margin-left: 0;
  margin-right: 7px;
  position: relative;
  cursor: pointer;
}

/* line 609, ../../app/stylesheets/screen.scss */
select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 209px;
  height: 15px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 0;
  margin-right: 10px;
  border-top: 1px solid #adadad;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #e5e5e5;
  border-left: 1px solid #cecece;
  color: #696969;
  background: transparent;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 626, ../../app/stylesheets/screen.scss */
input[type="radio"],
input[type="checkbox"] {
  display: block;
  float: left;
  width: auto;
}

/* line 636, ../../app/stylesheets/screen.scss */
select:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  border-color: #bc2215;
}

/* line 644, ../../app/stylesheets/screen.scss */
select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border-color: #bc2215;
}

/* line 648, ../../app/stylesheets/screen.scss */
select {
  padding-left: 4px;
  padding-right: 5px;
  height: 33px;
  width: 225px;
  cursor: pointer;
}

/* line 656, ../../app/stylesheets/screen.scss */
textarea {
  height: 54px;
  padding-left: 7px;
  padding-right: 7px;
  resize: vertical;
}

/* line 666, ../../app/stylesheets/screen.scss */
div.form .form-row .form-label label {
  font-weight: bold;
  color: #464646;
}

/* line 677, ../../app/stylesheets/screen.scss */
ul.form li label {
  padding-left: 0;
  padding-right: 0;
}

/****************************************************************************************************/
/* TABLES */
/****************************************************************************************************/
/* line 690, ../../app/stylesheets/screen.scss */
table {
  padding-left: 0;
  padding-right: 0;
}
/* line 694, ../../app/stylesheets/screen.scss */
table colgroup col {
  width: 165px;
  background: transparent url("../images/dotted-line-vertical.png") no-repeat 0 0;
}
/* line 698, ../../app/stylesheets/screen.scss */
table colgroup col:nth-child(1) {
  background: none;
}
/* line 704, ../../app/stylesheets/screen.scss */
table thead tr th {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
}
/* line 712, ../../app/stylesheets/screen.scss */
table tbody tr {
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
}
/* line 714, ../../app/stylesheets/screen.scss */
table tbody tr td {
  padding-left: 10px;
  padding-right: 10px;
}
