/* line 17, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/****************************************************************************************************/
/* THEMES */
/****************************************************************************************************/
/* Color Themes */
/* Font Themes */
/****************************************************************************************************/
/* MIXINS */
/****************************************************************************************************/
/* Font-Size + Line Height Mixin */
/* line 54, ../../app/stylesheets/screen.scss */
.font-12-line-20 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}

/* line 58, ../../app/stylesheets/screen.scss */
.font-14-line-20 {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0 4px 0;
}

/* line 62, ../../app/stylesheets/screen.scss */
.font-20-line-30 {
  font-size: 20px;
  line-height: 30px;
  padding: 10px 0;
}

/* line 66, ../../app/stylesheets/screen.scss */
.font-26-line-40 {
  font-size: 26px;
  line-height: 40px;
  padding: 13px 0 17px 0;
}

/****************************************************************************************************/
/* RESET */
/****************************************************************************************************/
/* Set these to use display-block-float-left scaffolding. */
/* line 84, ../../app/stylesheets/screen.scss */
div, p, table,
h1, h2, h3, h4, h5, h6,
ol, ul, li, dl, dt, dd,
fieldset, legend, form, label, select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  float: left;
  width: 100%;
}

/****************************************************************************************************/
/* BASE STYLES */
/****************************************************************************************************/
/* line 96, ../../app/stylesheets/screen.scss */
body {
  width: 100%;
  font-size: 12px;
  text-align: center;
  line-height: 1.667em;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  color: #696969;
  padding: 0 0 100px 0;
  background: transparent url("../images/line-height.png") repeat 0 0;
}

/* line 109, ../../app/stylesheets/screen.scss */
#page-container {
  float: none;
  width: 990px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page-container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 117, ../../app/stylesheets/screen.scss */
a {
  text-decoration: underline;
  color: #bc2215;
}

/* line 118, ../../app/stylesheets/screen.scss */
a:hover {
  text-decoration: none;
}

/* line 119, ../../app/stylesheets/screen.scss */
p {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}

/* line 120, ../../app/stylesheets/screen.scss */
strong {
  font-weight: bold;
}

/* line 121, ../../app/stylesheets/screen.scss */
em {
  font-style: italic;
}

/* line 123, ../../app/stylesheets/screen.scss */
h1, h2, h3, h4, h5, h6 {
  color: #464646;
  font-weight: bold;
}

/* line 127, ../../app/stylesheets/screen.scss */
h1 {
  font-size: 48px;
  padding: 18px 0 22px 0;
  line-height: 60px;
}

/* line 128, ../../app/stylesheets/screen.scss */
h2 {
  font-size: 24px;
  padding: 4px 0 16px 0;
}

/* line 129, ../../app/stylesheets/screen.scss */
h3 {
  font-size: 14px;
  padding: 6px 0 4px 0;
}

/* line 130, ../../app/stylesheets/screen.scss */
h4 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}

/* line 131, ../../app/stylesheets/screen.scss */
h5 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}

/* line 132, ../../app/stylesheets/screen.scss */
h6 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}

/* line 135, ../../app/stylesheets/screen.scss */
h3.subheader,
h3.lined-subheader {
  padding: 6px 0 8px 0;
  line-height: 14px;
}
/* line 138, ../../app/stylesheets/screen.scss */
h3.subheader div,
h3.lined-subheader div {
  margin: 0 0 2px 0;
}
/* line 141, ../../app/stylesheets/screen.scss */
h3.subheader span,
h3.lined-subheader span {
  line-height: 10px;
  display: block;
  float: left;
  width: 100%;
  font-size: 10px;
  font-weight: normal;
  color: gray;
}

/* line 152, ../../app/stylesheets/screen.scss */
h3.lined-subheader {
  padding: 6px 0 9px 0;
  margin: 0 0 9px 0;
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x bottom left;
}

/* line 158, ../../app/stylesheets/screen.scss */
ul {
  padding: 7px 0 3px;
  margin: 0 0 10px 0;
}

/* line 164, ../../app/stylesheets/screen.scss */
ul.lined {
  padding: 1px 0 9px 0;
  margin: 0;
}
/* line 167, ../../app/stylesheets/screen.scss */
ul.lined li {
  padding: 6px 0 4px 0;
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
}
/* line 171, ../../app/stylesheets/screen.scss */
ul.lined li:nth-child(1) {
  background: none;
}

/****************************************************************************************************/
/* BUTTONS */
/****************************************************************************************************/
/* line 185, ../../app/stylesheets/screen.scss */
a.cancel-button,
a.button,
button,
input[type="submit"] {
  display: block;
  float: left;
  height: 14px;
  padding: 10px 8px 7px;
  margin: 0 10px 7px 0;
  border-top: 1px solid #a95760;
  border-right: 1px solid #750511;
  border-bottom: 1px solid #55030c;
  border-left: 1px solid #750511;
  color: #ffffff;
  line-height: 1em;
  font-size: 12px;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  text-decoration: none;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b74634), color-stop(100%, #8e0d07));
  background-image: -webkit-linear-gradient(#b74634, #8e0d07);
  background-image: -moz-linear-gradient(#b74634, #8e0d07);
  background-image: -o-linear-gradient(#b74634, #8e0d07);
  background-image: -ms-linear-gradient(#b74634, #8e0d07);
  background-image: linear-gradient(#b74634, #8e0d07);
  text-shadow: 0 1px 0 #821a11;
}

/* line 207, ../../app/stylesheets/screen.scss */
a.cancel-button {
  border: none;
  padding: 11px 8px 8px;
  color: #bc2215;
  text-decoration: underline;
  background: transparent;
  text-shadow: none;
}

/* line 216, ../../app/stylesheets/screen.scss */
button {
  height: 0;
  padding: 9px 5px 22px;
}

/* line 221, ../../app/stylesheets/screen.scss */
input[type="submit"] {
  height: 0;
  padding: 9px 8px 22px;
}

/* line 228, ../../app/stylesheets/screen.scss */
a.button:hover,
button:hover,
input[type="submit"]:hover {
  text-decoration: none;
  border-top: 1px solid #c9606a;
  border-right: 1px solid #9a121b;
  border-bottom: 1px solid #77141c;
  border-left: 1px solid #9a121b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #de4d3a), color-stop(100%, #b61111));
  background-image: -webkit-linear-gradient(#de4d3a, #b61111);
  background-image: -moz-linear-gradient(#de4d3a, #b61111);
  background-image: -o-linear-gradient(#de4d3a, #b61111);
  background-image: -ms-linear-gradient(#de4d3a, #b61111);
  background-image: linear-gradient(#de4d3a, #b61111);
  text-shadow: 0 1px 0 #ab2217;
}

/* line 238, ../../app/stylesheets/screen.scss */
a.cancel-button:hover {
  text-decoration: none;
}

/* line 242, ../../app/stylesheets/screen.scss */
a.button:active,
button:active,
input[type="submit"]:active {
  position: relative;
  top: 2px;
  border-top: 1px solid #c9606a;
  border-right: 1px solid #9a121b;
  border-bottom: 1px solid #77141c;
  border-left: 1px solid #9a121b;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b61111), color-stop(100%, #de4d3a));
  background-image: -webkit-linear-gradient(#b61111, #de4d3a);
  background-image: -moz-linear-gradient(#b61111, #de4d3a);
  background-image: -o-linear-gradient(#b61111, #de4d3a);
  background-image: -ms-linear-gradient(#b61111, #de4d3a);
  background-image: linear-gradient(#b61111, #de4d3a);
  text-shadow: 0 1px 0 #ab2217;
}

/****************************************************************************************************/
/* TABLES */
/****************************************************************************************************/
/* line 259, ../../app/stylesheets/screen.scss */
table {
  padding: 2px 0 15px 0;
}
/* line 262, ../../app/stylesheets/screen.scss */
table colgroup col {
  width: 165px;
  background: transparent url("../images/dotted-line-vertical.png") no-repeat 0 0;
}
/* line 266, ../../app/stylesheets/screen.scss */
table colgroup col:nth-child(1) {
  background: none;
}
/* line 272, ../../app/stylesheets/screen.scss */
table thead tr th {
  padding: 0 10px 3px;
  font-weight: bold;
}
/* line 279, ../../app/stylesheets/screen.scss */
table tbody tr {
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
}
/* line 281, ../../app/stylesheets/screen.scss */
table tbody tr td {
  padding: 12px 10px 8px 10px;
}

/****************************************************************************************************/
/* FORMS */
/****************************************************************************************************/
/* line 301, ../../app/stylesheets/screen.scss */
label {
  width: auto;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.667em;
  padding: 7px 0 3px 0;
}

/* line 313, ../../app/stylesheets/screen.scss */
select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: auto;
  height: 14px;
  padding: 9px 7px 8px 7px;
  margin: 0 10px 7px 0;
  border: 1px solid #000000;
  line-height: 1.667em;
  font-size: 12px;
  font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
  color: #696969;
  background: transparent;
}

/* line 338, ../../app/stylesheets/screen.scss */
select {
  padding: 8px 7px 8px 4px;
  height: 33px;
}

/* line 352, ../../app/stylesheets/screen.scss */
ul.form-list li label {
  padding: 0;
}
/* line 356, ../../app/stylesheets/screen.scss */
ul.form-list li input[type="radio"],
ul.form-list li input[type="checkbox"] {
  display: block;
  float: left;
  margin: 2px 5px 0 0;
  position: relative;
}
/* line 362, ../../app/stylesheets/screen.scss */
ul.form-list li input[type="radio"] {
  margin: 4px 5px 0 0;
}

/****************************************************************************************************/
/* BROWSER HACKS */
/****************************************************************************************************/
/* Gecko */
/* line 374, ../../app/stylesheets/screen.scss */
.mozilla input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove button padding in FF. */
/* Webkit */
/* line 375, ../../app/stylesheets/screen.scss */
.webkit button {
  padding: 10px 5px 21px;
}

/* Fix position of text in Button buttons for Webkit */
/* Webkit */
/* line 376, ../../app/stylesheets/screen.scss */
.webkit input[type="submit"] {
  padding: 10px 8px 21px;
}

/* Fix position of text in Input buttons for Webkit */
/* Webkit */
/* line 377, ../../app/stylesheets/screen.scss */
.webkit input[type="checkbox"] {
  margin: 11px 5px 0 0;
}

/* Fix position of checkbox for Webkit */
/* Webkit */
/* line 378, ../../app/stylesheets/screen.scss */
.webkit h2 {
  padding: 6px 0 14px 0;
}

/* Fix padding on h2 for Webkit. */
/* Webkit */
/* line 379, ../../app/stylesheets/screen.scss */
.webkit h3 {
  padding: 7px 0 3px 0;
}

/* Fix padding on h3 for Webkit. */
/* Webkit */
/* line 380, ../../app/stylesheets/screen.scss */
.webkit h3.subheader {
  padding: 6px 0 8px 0;
}

/* Fix padding on h3 with subheader for Webkit. */
/* Webkit */
/* line 381, ../../app/stylesheets/screen.scss */
.webkit h3.lined-subheader {
  padding: 6px 0 9px 0;
}

/* Fix padding on h3 with lined subheader for Webkit. */
/****************************************************************************************************/
/* UTILITY CLASSES */
/****************************************************************************************************/
/* line 392, ../../app/stylesheets/screen.scss */
.column-3,
.column-3-last,
.column-3-box,
.column-3-box-last {
  width: 310px;
  margin: 0 30px 20px 0;
}

/* line 400, ../../app/stylesheets/screen.scss */
.column-4,
.column-4-last,
.column-4-box,
.column-4-box-last {
  width: 225px;
  margin: 0 30px 20px 0;
}

/* line 406, ../../app/stylesheets/screen.scss */
.column-3-box,
.column-3-box-last {
  width: 270px;
  padding: 19px;
  border: 1px solid gray;
}

/* line 413, ../../app/stylesheets/screen.scss */
.column-4-box,
.column-4-box-last {
  width: 185px;
  padding: 9px 19px;
  border: 1px solid gray;
}

/* line 422, ../../app/stylesheets/screen.scss */
.column-3-last,
.column-3-box-last,
.column-4-last,
.column-4-box-last {
  margin-right: 0;
}

/* line 427, ../../app/stylesheets/screen.scss */
.section,
.lined-section {
  padding: 0 0 20px 0;
}

/* line 431, ../../app/stylesheets/screen.scss */
.lined-section {
  margin: 0 0 20px 0;
  background: transparent url("../images/dotted-line-horizontal.png") repeat-x bottom left;
}
