/****************************************************************************************************/
/* COLOR THEMES */
/****************************************************************************************************/
/* Default Theme */
/****************************************************************************************************/
/* FONT THEMES */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: Kreon                                                                                */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: Raleway                                                                              */
/****************************************************************************************************/
/****************************************************************************************************/
/* FONT THEME: PT Sans                                                                              */
/****************************************************************************************************/
/****************************************************************************************************/
/* THEMEDOC.CSS */
/****************************************************************************************************/
/* line 41, ../../app/stylesheets/themedoc.scss */
html {
  /* This is for non-bold Kreon.
  
  h1 { font-weight: normal; font-size: 48px; line-height: 60px; padding: 10px 0 0px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h2 { font-weight: normal; font-size: 36px; line-height: 50px; padding: 8px 0 2px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h3 { font-weight: normal; font-size: 25px; line-height: 40px; padding: 5px 0 5px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h4 { font-weight: normal; font-size: 20px; line-height: 30px; padding: 1px 0 9px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h5 { font-weight: normal; font-size: 14px; line-height: 20px; padding: 7px 0 3px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  h6 { font-weight: normal; font-size: 12px; line-height: 20px; padding: 7px 0 3px 0; font-family: 'Kreon', 'Georgia', 'Times New Roman', serif; }
  .webkit h1 { padding: 9px 0 0 0; position: relative; margin-top: 1px; }
  .webkit h2 { padding: 8px 0 2px 0; }
  .webkit h6 { padding: 8px 0 2px 0; }
  
  */
}
/* line 7, ../../app/stylesheets/_kreon.scss */
html body {
  font-size: 12px;
  line-height: 1.667em;
}
/* line 12, ../../app/stylesheets/_kreon.scss */
html h1 {
  font-size: 48px;
  line-height: 60px;
  padding: 9px 0 1px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 13, ../../app/stylesheets/_kreon.scss */
html h2 {
  font-size: 36px;
  line-height: 50px;
  padding: 6px 0 4px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 14, ../../app/stylesheets/_kreon.scss */
html h3 {
  font-size: 25px;
  line-height: 40px;
  padding: 4px 0 6px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 15, ../../app/stylesheets/_kreon.scss */
html h4 {
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 10px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 16, ../../app/stylesheets/_kreon.scss */
html h5 {
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0 4px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 17, ../../app/stylesheets/_kreon.scss */
html h6 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
  font-family: 'Kreon', 'Georgia', 'Times New Roman', serif;
}
/* line 18, ../../app/stylesheets/_kreon.scss */
html .webkit h2 {
  padding: 7px 0 3px 0;
}
/* line 19, ../../app/stylesheets/_kreon.scss */
html .webkit h3 {
  padding: 5px 0 5px 0;
}
/* line 20, ../../app/stylesheets/_kreon.scss */
html .webkit h5 {
  padding: 7px 0 3px 0;
}
/* line 28, ../../app/stylesheets/_pt-sans.scss */
html body {
  font-size: 13px;
  line-height: 1.538em;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 34, ../../app/stylesheets/_pt-sans.scss */
html p {
  padding: 5px 0 5px 0;
}
/* line 35, ../../app/stylesheets/_pt-sans.scss */
html .webkit p {
  padding: 6px 0 4px 0;
}
/* line 37, ../../app/stylesheets/_pt-sans.scss */
html blockquote {
  font-style: italic;
}
/* line 42, ../../app/stylesheets/_pt-sans.scss */
html .column-8 span.floated-blockquote {
  padding-top: 2px;
  padding-bottom: 8px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 30px;
}
/* line 53, ../../app/stylesheets/_pt-sans.scss */
html ul,
html ol {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 59, ../../app/stylesheets/_pt-sans.scss */
html .webkit ul,
html .webkit ol {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 67, ../../app/stylesheets/_pt-sans.scss */
html ul.lined,
html ol.lined,
html ul.lined-large,
html ol.lined-large {
  padding-top: 0;
  padding-bottom: 10px;
}
/* line 70, ../../app/stylesheets/_pt-sans.scss */
html ul.lined li,
html ol.lined li,
html ul.lined-large li,
html ol.lined-large li {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 79, ../../app/stylesheets/_pt-sans.scss */
html .webkit ul.lined li,
html .webkit ol.lined li,
html .webkit ul.lined-large li,
html .webkit ol.lined-large li {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 87, ../../app/stylesheets/_pt-sans.scss */
html ul.lined-large li,
html ol.lined-large li {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 94, ../../app/stylesheets/_pt-sans.scss */
html .webkit ul.lined-large li,
html .webkit ol.lined-large li {
  padding-top: 11px;
  padding-bottom: 9px;
}
/* line 104, ../../app/stylesheets/_pt-sans.scss */
html a.icon-button,
html a.cancel-button,
html a.button,
html button,
html input[type="submit"] {
  padding-top: 7px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 7px;
  line-height: 1em;
  font-size: 13px;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 114, ../../app/stylesheets/_pt-sans.scss */
html .webkit a.button {
  padding-top: 8px;
  padding-bottom: 9px;
}
/* line 119, ../../app/stylesheets/_pt-sans.scss */
html a.cancel-button {
  padding-top: 8px;
  padding-bottom: 11px;
}
/* line 124, ../../app/stylesheets/_pt-sans.scss */
html .webkit a.cancel-button {
  padding-top: 9px;
  padding-bottom: 10px;
}
/* line 129, ../../app/stylesheets/_pt-sans.scss */
html button {
  padding-top: 6px;
  padding-bottom: 25px;
}
/* line 133, ../../app/stylesheets/_pt-sans.scss */
html .webkit button {
  padding-top: 8px;
  padding-bottom: 23px;
}
/* line 138, ../../app/stylesheets/_pt-sans.scss */
html input[type="submit"] {
  padding-top: 4px;
  padding-bottom: 27px;
}
/* line 142, ../../app/stylesheets/_pt-sans.scss */
html .webkit input[type="submit"] {
  padding-top: 8px;
  padding-bottom: 23px;
}
/* line 147, ../../app/stylesheets/_pt-sans.scss */
html label {
  font-size: 13px;
  line-height: 1.667em;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 152, ../../app/stylesheets/_pt-sans.scss */
html label span {
  font-size: 10px;
  font-weight: normal;
}
/* line 158, ../../app/stylesheets/_pt-sans.scss */
html input[type="checkbox"] {
  margin-top: 4px;
  margin-bottom: 0;
}
/* line 162, ../../app/stylesheets/_pt-sans.scss */
html .webkit input[type="checkbox"] {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 167, ../../app/stylesheets/_pt-sans.scss */
html input[type="radio"] {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 176, ../../app/stylesheets/_pt-sans.scss */
html select,
html input[type="text"],
html input[type="email"],
html input[type="password"],
html textarea {
  padding-top: 6px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 1.667em;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
/* line 189, ../../app/stylesheets/_pt-sans.scss */
html .webkit select,
html .webkit input[type="text"],
html .webkit input[type="email"],
html .webkit input[type="password"],
html .webkit textarea {
  padding-top: 7px;
  padding-bottom: 9px;
}
/* line 194, ../../app/stylesheets/_pt-sans.scss */
html select {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 199, ../../app/stylesheets/_pt-sans.scss */
html textarea {
  padding-top: 3px;
  padding-bottom: 14px;
}
/* line 203, ../../app/stylesheets/_pt-sans.scss */
html .webkit textarea {
  padding-top: 4px;
  padding-bottom: 13px;
}
/* line 208, ../../app/stylesheets/_pt-sans.scss */
html ul.form {
  padding-top: 14px;
  padding-bottom: 16px;
}
/* line 212, ../../app/stylesheets/_pt-sans.scss */
html ul.form li label {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 218, ../../app/stylesheets/_pt-sans.scss */
html .webkit ul.form {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 222, ../../app/stylesheets/_pt-sans.scss */
html .webkit ul.form li label {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 229, ../../app/stylesheets/_pt-sans.scss */
html table {
  padding-top: 0;
  padding-bottom: 10px;
}
/* line 234, ../../app/stylesheets/_pt-sans.scss */
html table thead tr th {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 242, ../../app/stylesheets/_pt-sans.scss */
html table tbody tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 253, ../../app/stylesheets/_pt-sans.scss */
html .webkit table thead tr th {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 261, ../../app/stylesheets/_pt-sans.scss */
html .webkit table tbody tr td {
  padding-top: 6px;
  padding-bottom: 4px;
}
/* line 46, ../../app/stylesheets/themedoc.scss */
html h1, html h2, html h3 {
  font-family: 'Kreon', Georgia, 'Times New Roman', serif;
}
/* line 50, ../../app/stylesheets/themedoc.scss */
html h1, html h2, html h3, html h4, html h5, html h6 {
  color: #17181a;
  font-weight: 100;
}
/* line 55, ../../app/stylesheets/themedoc.scss */
html h1 {
  font-size: 48px;
  line-height: 60px;
  padding: 10px 0 0px 0;
}
/* line 56, ../../app/stylesheets/themedoc.scss */
html h2 {
  font-size: 36px;
  line-height: 50px;
  padding: 8px 0 2px 0;
}
/* line 57, ../../app/stylesheets/themedoc.scss */
html h3 {
  font-size: 25px;
  line-height: 40px;
  padding: 5px 0 5px 0;
}
/* line 58, ../../app/stylesheets/themedoc.scss */
html h4 {
  font-size: 20px;
  line-height: 30px;
  padding: 1px 0 9px 0;
}
/* line 59, ../../app/stylesheets/themedoc.scss */
html h5 {
  font-size: 14px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}
/* line 60, ../../app/stylesheets/themedoc.scss */
html h6 {
  font-size: 12px;
  line-height: 20px;
  padding: 7px 0 3px 0;
}
/* line 61, ../../app/stylesheets/themedoc.scss */
html .webkit h1 {
  padding: 9px 0 0 0;
  position: relative;
  margin-top: 1px;
}
/* line 62, ../../app/stylesheets/themedoc.scss */
html .webkit h2 {
  padding: 8px 0 2px 0;
}
/* line 63, ../../app/stylesheets/themedoc.scss */
html .webkit h6 {
  padding: 8px 0 2px 0;
}
/* line 73, ../../app/stylesheets/themedoc.scss */
html input[type="text"],
html input[type="email"],
html input[type="password"],
html input[type="submit"],
html select,
html textarea,
html a.button,
html a.cancel-button,
html button {
  font-family: 'PT Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
}
/* line 77, ../../app/stylesheets/themedoc.scss */
html a {
  color: #c11a06;
}
/* line 79, ../../app/stylesheets/themedoc.scss */
html .lined-section {
  margin-bottom: 70px;
  padding-bottom: 60px;
}
/* line 83, ../../app/stylesheets/themedoc.scss */
html .section {
  margin-bottom: 20px;
}
/* line 87, ../../app/stylesheets/themedoc.scss */
html body {
  font-family: 'PT Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
  background: transparent url("../images/ns-documentation/body-background.gif") repeat 0 0;
  color: #2e3033;
}
/* line 91, ../../app/stylesheets/themedoc.scss */
html body #banner-container {
  background: transparent url("../images/ns-documentation/header-background.gif") repeat-x 0 0;
}
/* line 93, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic {
  height: 270px;
  background: transparent url("../images/ns-documentation/house.png") no-repeat center top;
}
/* line 96, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #top-bar {
  float: none;
  width: 1050px;
  height: 120px;
  padding: 10px 0 0 0;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #banner-container #house-graphic #top-bar:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 104, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #top-bar a#logo {
  display: block;
  float: left;
  text-decoration: none;
  height: 51px;
  width: 117px;
  position: relative;
  margin: 0 0 0 -16px;
  background: transparent url("../images/ns-documentation/logo.png") repeat-x 0 0;
}
/* line 114, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #top-bar a#logo:hover {
  background-position: 0 -51px;
}
/* line 117, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #top-bar #navigation {
  width: auto;
  float: right;
  position: relative;
  z-index: 50;
}
/* line 122, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #top-bar #navigation li {
  width: auto;
  padding: 10px 0 0 20px;
}
/* line 125, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #top-bar #navigation li a {
  text-decoration: none;
  color: #b9c4a8;
}
/* line 130, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #top-bar #navigation li a.current,
html body #banner-container #house-graphic #top-bar #navigation li a:hover {
  text-decoration: underline;
}
/* line 134, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #header {
  float: none;
  width: 1050px;
  margin: 0 auto;
  text-align: left;
  *zoom: 1;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #banner-container #house-graphic #header:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 140, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #header h1 {
  font-size: 60px;
  line-height: 60px;
  padding: 5px 0 5px 0;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  color: #e0d586;
  text-shadow: 0 2px 0 #021e30;
}
/* line 148, ../../app/stylesheets/themedoc.scss */
html body #banner-container #house-graphic #header h4 {
  color: #b9c4a8;
  text-shadow: 0 1px 0 #021e30;
}
/* line 155, ../../app/stylesheets/themedoc.scss */
html body #content-background {
  padding: 0 0 40px 0;
  background: transparent url("../images/ns-documentation/content-container-background.gif") repeat 0 0;
}
/* line 158, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container {
  background: transparent url("../images/ns-documentation/content-background.png") repeat-x 0 1px;
  position: relative;
  z-index: 2;
  margin: -20px 0 0 0;
  padding: 70px 0 0 0;
}
/* line 164, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content {
  float: none;
  width: 990px;
  margin: 0 auto;
  padding: 70px 30px;
  text-align: left;
  background: transparent url("../images/ns-documentation/footer-tile.png") repeat 0 0;
  *zoom: 1;
  -moz-box-shadow: 0 2px 7px #4e2f1a;
  -webkit-box-shadow: 0 2px 7px #4e2f1a;
  -o-box-shadow: 0 2px 7px #4e2f1a;
  box-shadow: 0 2px 7px #4e2f1a;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #content-background #content-container #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 174, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content p {
  padding: 9px 0 11px;
  font-size: 15px;
  line-height: 2em;
}
/* line 176, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content ul,
html body #content-background #content-container #content ol {
  padding: 9px 0 11px 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 179, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content ul li,
html body #content-background #content-container #content ol li {
  display: list-item;
  list-style-type: disc;
  font-size: 15px;
  line-height: 2em;
}
/* line 185, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content ul li ul,
html body #content-background #content-container #content ul li ol,
html body #content-background #content-container #content ol li ul,
html body #content-background #content-container #content ol li ol {
  padding: 0 0 0 30px;
}
/* line 191, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content ol li {
  list-style-type: decimal;
}
/* line 193, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content ol ul li {
  list-style-type: disc;
}
/* line 196, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content h3 {
  font-size: 36px;
  line-height: 60px;
  padding: 0 0 7px 0;
  margin: 0 0 20px 0;
}
/* line 201, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content h3 img {
  display: block;
  margin: 0 auto 43px;
}
/* line 202, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content h3 span {
  display: block;
  float: left;
  width: 100%;
  font-size: 24px;
  line-height: 20px;
  padding: 2px 0 8px 0;
  text-align: center;
}
/* line 209, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content h3 div {
  text-align: center;
}
/* line 211, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content code {
  margin: 15px 0 13px;
}
/* line 213, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content code ol {
  padding: 0;
}
/* line 215, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content code ol li {
  font-size: 12px;
  line-height: 1.667em;
}
/* line 228, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content .column-3-box,
html body #content-background #content-container #content .column-4-box,
html body #content-background #content-container #content .column-6-box,
html body #content-background #content-container #content .column-8-box,
html body #content-background #content-container #content .column-3-box-last,
html body #content-background #content-container #content .column-4-box-last,
html body #content-background #content-container #content .column-6-box-last,
html body #content-background #content-container #content .column-8-box-last {
  margin-top: 20px;
}
/* line 229, ../../app/stylesheets/themedoc.scss */
html body #content-background #content-container #content p.section-nav {
  margin: 20px 0 0 0;
  font-style: italic;
}
/* line 233, ../../app/stylesheets/themedoc.scss */
html body #footer-container {
  padding: 50px 0;
  background: transparent url("../images/ns-documentation/footer-background.gif") repeat-x 0 0;
}
/* line 236, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer {
  float: none;
  width: 990px;
  margin: 0 auto;
  padding: 30px 30px 10px 30px;
  text-align: left;
  background: transparent url("../images/ns-documentation/footer-tile.png") repeat 0 0;
  *zoom: 1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 5px #4d1405;
  -webkit-box-shadow: 0 2px 5px #4d1405;
  -o-box-shadow: 0 2px 5px #4d1405;
  box-shadow: 0 2px 5px #4d1405;
}
/* line 22, ../../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
html body #footer-container #footer:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 248, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 249, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a.email-icon {
  padding: 0 0 0 26px;
  background: transparent url("../images/ns-documentation/email-icon.png") no-repeat 0 2px;
}
/* line 253, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a.facebook-icon {
  padding: 0 0 0 26px;
  background: transparent url("../images/ns-documentation/facebook-icon.png") no-repeat 0 2px;
}
/* line 257, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a.twitter-icon {
  padding: 0 0 0 26px;
  background: transparent url("../images/ns-documentation/twitter-icon.png") no-repeat 0 2px;
}
/* line 261, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a.envato-icon {
  padding: 0 0 0 26px;
  background: transparent url("../images/ns-documentation/envato-icon.png") no-repeat 0 2px;
}
/* line 265, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a.mojo-icon {
  padding: 0 0 0 26px;
  background: transparent url("../images/ns-documentation/mojo-icon.png") no-repeat 0 2px;
}
/* line 269, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a.ns-icon {
  padding: 0 0 0 26px;
  background: transparent url("../images/ns-documentation/ns-icon.png") no-repeat 0 2px;
}
/* line 273, ../../app/stylesheets/themedoc.scss */
html body #footer-container #footer ul.lined li a.rss-icon {
  padding: 0 0 0 26px;
  background: transparent url("../images/ns-documentation/rss-icon.png") no-repeat 0 2px;
}
/* line 288, ../../app/stylesheets/themedoc.scss */
html body.webkit #content-background #content-container #content p {
  padding: 10px 0;
}
/* line 290, ../../app/stylesheets/themedoc.scss */
html body.webkit #content-background #content-container #content ul,
html body.webkit #content-background #content-container #content ol {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 295, ../../app/stylesheets/themedoc.scss */
html body.webkit #content-background #content-container #content code ol {
  padding: 0;
}
/* line 312, ../../app/stylesheets/themedoc.scss */
html body.webkit #footer-container #footer ul.lined li a.email-icon,
html body.webkit #footer-container #footer ul.lined li a.facebook-icon,
html body.webkit #footer-container #footer ul.lined li a.twitter-icon,
html body.webkit #footer-container #footer ul.lined li a.envato-icon,
html body.webkit #footer-container #footer ul.lined li a.ns-icon,
html body.webkit #footer-container #footer ul.lined li a.rss-icon {
  background-position: 0 1px;
}
