/****************************************************************************************************/
/* FONT THEME: PT Sans                                                                              */
/****************************************************************************************************/

@mixin font-theme-header-pt-sans {

	body {
		font-size: 13px;
		line-height: 1.538em;
	}
	
	h1 { font-size: 48px; line-height: 60px; padding: 2px 0 8px 0; font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
	h2 { font-size: 36px; line-height: 50px; padding: 1px 0 9px 0; font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
	h3 { font-size: 25px; line-height: 40px; padding: 0px 0 0px 0; font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
	h4 { font-size: 20px; line-height: 30px; padding: 7px 0 3px 0; font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
	h5 { font-size: 14px; line-height: 20px; padding: 4px 0 6px 0; font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
	h6 { font-size: 13px; line-height: 20px; padding: 5px 0 5px 0; font-family: 'PT Sans', Helvetica, Arial, sans-serif; }
	.webkit h2 { padding: 2px 0 8px 0; }
	.webkit h3 { padding: 1px 0 9px 0; }
	.webkit h4 { padding: 8px 0 2px 0; }
	.webkit h5 { padding: 5px 0 5px 0; }
	.webkit h6 { padding: 6px 0 4px 0; }
	
}

@mixin font-theme-body-pt-sans {

	body {
		font-size: 13px;
		line-height: 1.538em;
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	}

	p { padding: 5px 0 5px 0; }
	.webkit p { padding: 6px 0 4px 0; }
	
	blockquote {
		font-style: italic;
	}
	
	.column-8 {
		span.floated-blockquote {
			padding-top: 2px;
			padding-bottom: 8px;
			margin-top: 0;
			margin-bottom: 10px;
			font-size: 20px;
			line-height: 30px;
		}
	}

	ul,
	ol {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.webkit ul,
	.webkit ol {
		padding-top: 6px;
		padding-bottom: 4px;
	}
	
	ul.lined,
	ol.lined,
	ul.lined-large,
	ol.lined-large {
		padding-top: 0;
		padding-bottom: 10px;
		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.webkit ul.lined,
	.webkit ol.lined,
	.webkit ul.lined-large,
	.webkit ol.lined-large {
		li {
			padding-top: 6px;
			padding-bottom: 4px;
		}
	}

	ul.lined-large,
	ol.lined-large {
		li {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	.webkit ul.lined-large,
	.webkit ol.lined-large {
		li {
			padding-top: 11px;
			padding-bottom: 9px;
		}
	}
	
	a.icon-button,
	a.cancel-button,
	a.button,
	button,
	input[type="submit"] {
		padding-top: 7px;
		padding-bottom: 10px;
		margin-top: 0;
		margin-bottom: 7px;
		line-height: 1em;
		font-size: 13px;
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	}
	
	.webkit a.button {
		padding-top: 8px;
		padding-bottom: 9px;
	}

	a.cancel-button {
		padding-top: 8px;
		padding-bottom: 11px;
	}
	
	.webkit a.cancel-button {
		padding-top: 9px;
		padding-bottom: 10px;
	}

	button {
		padding-top: 6px;
		padding-bottom: 25px;
	}
	.webkit button {
		padding-top: 8px;
		padding-bottom: 23px;
	}

	input[type="submit"] {
		padding-top: 4px;
		padding-bottom: 27px;
	}
	.webkit input[type="submit"] {
		padding-top: 8px;
		padding-bottom: 23px;
	}

	label {
		font-size: 13px;
		line-height: 1.667em;
		padding-top: 5px;
		padding-bottom: 5px;
		span {
			font-size: 10px;
			font-weight: normal;
		}
	}
	
	input[type="checkbox"] {
		margin-top: 4px;
		margin-bottom: 0;
	}
	.webkit input[type="checkbox"] {
		margin-top: 5px;
		margin-bottom: 0;
	}
	
	input[type="radio"] {
		margin-top: 5px;
		margin-bottom: 0;
	}

	select,
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea {
		padding-top: 6px;
		padding-bottom: 10px;
		margin-top: 0;
		margin-bottom: 7px;
		font-size: 13px;
		line-height: 1.667em;
		font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	}
	.webkit select,
	.webkit input[type="text"],
	.webkit input[type="email"],
	.webkit input[type="password"],
	.webkit textarea {
		padding-top: 7px;
		padding-bottom: 9px;
	}

	select {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	textarea {
		padding-top: 3px;
		padding-bottom: 14px;
	}
	.webkit textarea {
		padding-top: 4px;
		padding-bottom: 13px;
	}

	ul.form {
		padding-top: 14px;
		padding-bottom: 16px;
		li {
			label {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
	.webkit ul.form {
		padding-top: 15px;
		padding-bottom: 15px;
		li {
			label {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
	
	table {
		padding-top: 0;
		padding-bottom: 10px;
		thead {
			tr {
				th {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
		tbody {
			tr {
				td {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}
	
	.webkit table {
		thead {
			tr {
				th {
					padding-top: 6px;
					padding-bottom: 4px;
				}
			}
		}
		tbody {
			tr {
				td {
					padding-top: 6px;
					padding-bottom: 4px;
				}
			}
		}
	}

}