@import "compass/css3";
@import "compass/utilities/general/clearfix";

html {

	h1, h2, h3 {
		font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		color: #333333;
	}

	h3.article-title {
		padding: 11px 0 4px 0;
		font-size: 25px;
		line-height: 1em;
	}
	h4.article-subtitle {
		padding: 1px 0 7px 0;
		margin: 0 0 10px 0;
		font-size: 10px;
		line-height: 1em;
		height: 12px;
		font-family: 'Open Sans', Helvetica, Arial, sans serif;
		text-transform: uppercase;
		font-weight: bold;
		span {
			line-height: 1em;
			font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
			font-style: italic;
			font-weight: normal;
			text-transform: lowercase;
		}
	}

	h5.article-title {
		padding: 7px 0 3px 0;
		line-height: 1em;
		a { color: #333333; text-decoration: none; }
		a:hover { text-decoration: underline; }
	}
	.webkit h5.article-title {
		padding-top: 6px;
	}
	h6.article-subtitle {
		padding: 0 0 7px 0;
		margin: 0;
		color: #757471;
		font-size: 8px;
		line-height: 1em;
		font-family: 'Open Sans', Helvetica, Arial, sans serif;
		text-transform: uppercase;
		font-weight: bold;
		span {
			line-height: 1em;
			font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
			font-style: italic;
			font-weight: normal;
			text-transform: lowercase;
		}
	}
	
	.article-options {
		padding: 10px 0 0 0;
		p {
			height: 20px;
			a,
			span {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 10px;
			}
		}
	}
	
	p.quote-source {
		text-align: right;
	}
	
	ol.lined-large,
	ul.lined-large {
		padding: 2px 0 8px 0;
		li.thumbnail {
			h5.article-title { width: 75%; }
			h6.article-subtitle { width: 75%; }
			img {
				display: block;
				float: left;
				height: 34px;
				width: 34px;
				padding: 2px;
				margin: 0 10px 0 0;
				border: 1px solid #cccccc;
			}
		}
	}
	.sidebar-left ol.lined-large,
	.sidebar-right ul.lined-large {
		li.thumbnail {
			h5.article-title { width: 230px; }
			h6.article-subtitle { width: 230px; }
		}
	}
	
	.sidebar-left ul.categories,
	.sidebar-right ul.categories {
		li {
			a {
				display: block;
				float: left;
				width: 260px;
				padding: 0 0 0 20px;
				text-decoration: none;
				color: #262626;
				background: transparent url("../images/arrow-bullet.png") no-repeat 0 4px;
			}
			a:hover {
				text-decoration: underline;
				color: #BC2215;
			}
		}
	}

	ul.replies,	
	ul.comments {
		position: relative;
		margin-top: -10px;
		blockquote {
			padding-top: 10px;
			padding-bottom: 1px;
			a {
				text-decoration: none;
				color: #262626;
			}
			a:hover {
				text-decoration: underline;
				color: #BC2215;
			}
		}
		.commenter {
			padding-bottom: 9px;
	    font-size: 10px;
	    font-weight: bold;
			font-style: normal;
	    text-transform: uppercase;
			text-align: right;
			.timestamp {
				width: auto;
			}
			a.leave-a-response {
				float: right;
				width: auto;
			}
		}
	}
	.webkit ul.replies
	.webkit ul.comments {
		blockquote {
			padding-top: 10px;
			padding-bottom: 0;
		}
		.commenter {
			padding-bottom: 10px;
		}
	}
	ul.replies {
		.commenter {
			padding-top: 10px;
			font-weight: normal;
			a { font-weight: bold; }
		}
	}
	.webkit ul.replies {
		.commenter {
			padding-top: 9px;
			padding-bottom: 10px;
		}
	}
	
	ul.flickr {
		width: 300px;
		li {
			width: 86px;
			height: 86px;
			margin: 0 11px 14px 0;
			a {
				display: block;
				float: left;
				width: 80px;
				height: 80px;
				padding: 2px;
				border-top: 1px solid #e5e5e5;
				border-right: 1px solid #cecece;
				border-bottom: 1px solid #adadad;
				border-left: 1px solid #cecece;
				img {
					display: block;
					float: left;
				}
			}
			a:hover {
				border: 1px solid #BC2215;
				img { opacity: .75; }
			}
		}
	}
	
	ul.adsense-square {
		width: 310px;
		li {
			width: 125px;
			height: 125px;
			padding: 5px 0 0 0;
			margin: 0 30px 25px 0;
		}
	}
	
	ol#breadcrumbs {
		padding: 0 0 15px 0;
		margin: -5px 0 0 0;
		position: relative;
		li {
			width: auto;
			padding-right: 5px;
			a { padding-right: 5px; }
		}
	}
	.webkit ol#breadcrumbs {
		padding: 1px 0 14px 0;
	}
	
	ul#gallery {
		width: 680px;
		li {
			float: left;
			width: 140px;
			margin: 0 30px 30px 0;
			a {
				display: block;
				float: left;
				width: 132px;
				padding: 3px;
				border-top: 1px solid #e5e5e5;
				border-right: 1px solid #cecece;
				border-bottom: 1px solid #adadad;
				border-left: 1px solid #cecece;
				img {
					display: block;
					float: left;
					width: 132px;
					height: 132px;
				}
			}
			a:hover {
				border-color: #BC2215;
				img { opacity: .75; }
			}
		}
	}
	
	label {
		span {
			color: #757471;
			font-style: italic;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="submit"],
	select,
	textarea,
	a.button,
	a.cancel-button,
	button { font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif; }
	
	#search-input {
		width: 154px;
	}
	#search-button {
		width: 100px;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
	}

	body {
		font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
		background: #0f0f0e;
		color: #262626;
		#top-bar-container {
			float: none;
			padding: 6px 0 0;
			border-bottom: 1px solid #ccc3bb;
			position: relative;
			z-index: 100;
			@include background-image(linear-gradient(#43403c, #353331));
			@include box-shadow(0 0 15px #4f4f4c);
			#top-bar {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: bold;
				@include legacy-pie-clearfix;
				@include text-shadow(0 1px 0 #000000);
				a#logo {
					display: block;
					float: left;
					width: 100px;
					height: 50px;
					background: transparent url("../images/logo.png") no-repeat 0 0;
					text-decoration: none;
					position: absolute;
					margin: -8px 0 0 -12px;
				}
				a#logo:hover {
					background-position: 0 -50px;
				}
				a.button {
					float: right;
					font-size: 11px;
					margin-right: 0;
					margin-left: 10px;
			    padding-top: 9px;
			    padding-bottom: 8px;
					border-top: 1px solid #22201d;
					border-right: 1px solid #2d2926;
					border-bottom: 1px solid #464340;
					border-left: 1px solid #2d2926;
					color: #cccccc;
					text-transform: uppercase;
					font-weight: bold;
					@include box-shadow(none);
					@include text-shadow(0 1px 0 #060606);
					@include background-image(linear-gradient(#504b47, #2f2e2d));
					span { color: #d3da67; }
				}
				a.button:hover {
					border-top: 1px solid #393633;
					border-right: 1px solid #423e3b;
					border-bottom: 1px solid #595653;
					border-left: 1px solid #423e3b;
					color: #ffffff;
					@include text-shadow(0 1px 0 #1f1f1f);
					@include background-image(linear-gradient(#625d59, #444341));
					span { color: #dce371; }
				}
				#navigation {
					width: auto;
					float: right;
					padding: 6px 0 0 0;
					li {
						width: auto;
						padding: 0 10px;
						a { color: #cccccc; text-decoration: none; }
						a.current,
						a:hover { color: #ffffff; text-decoration: underline; }
					}
				}
			}
		}
		#banner-container {
			padding: 12px 0 9px 0;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #d2d1d0;
			float: none;
			color: #3f3a35;
			h3 { color: #4c4843; }
			@include background-image(linear-gradient(#f5f5f1, #c7c6c1));
			@include text-shadow(0 1px 0 #f3f2f1);
			#header {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
			}
			#banner {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 20px 30px 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
				#hero-image {
					width: 930px;
					height: 340px;
					padding: 30px;
					background: transparent url("../images/hero-image-background.png") repeat-x 0 0;
					@include border-radius(2px);
					img {
						@include box-shadow(0 2px 7px #a6a5a1);
					}
				}
				blockquote {
					padding: 10px 0 10px;
					margin: 0 0 20px 0;
					font-size: 36px;
					line-height: 50px;
					font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
					text-align: center;
					color: #64605d;
					span {
						font-size: 18px;
						line-height: 30px;
						font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
					}
				}
				.learn-more {
					font-weight: bold;
					text-transform: uppercase;
					@include text-shadow(0 1px 0 #ececea);
				}
			}
		}
		#content-container {
			float: none;
			background: #ffffff;
			border-top: 1px solid #ffffff;
			border-bottom: 1px solid #ffffff;
			padding: 39px 0 29px 0;
			@include box-shadow(0 -1px 0 #a2a19d, 0 0 15px #a3a29e, 0 0 7px #bfbfbf inset);
			#content {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
				.sidebar-left {
					background-color: #ffffff;
				}
				.sidebar-right {
					background-color: #ffffff;
				}
			}
		}
		#footer-container {
			float: none;
			color: #ffffff;
			padding: 19px 0 20px 0;
			border-top: 1px solid #141210;
			@include background-image(linear-gradient(#2e2a25, #0f0f0e));
			@include text-shadow(0 1px 0 #060605);
			a { color: #cccccc; text-decoration: none; }
			a:hover { color: #ffffff; text-decoration: underline; }
			h1, h2, h3, h4, h5 { color: #ffffff; }
			h6.article-subtitle { color: #a8a8a8; }
			h5 a { color: #ffffff; }
			input[type="email"],
			textarea {
				border-top: 1px solid #1e1c1b;
				border-right: 1px solid #282725;
				border-bottom: 1px solid #3e3c3a;
				border-left: 1px solid #282725;
				color: #cccccc;
				background: #31302e;
				@include text-shadow(0 1px 0 #000000);
			}
			input[type="email"]:focus,
			textarea:focus {
				border-color: #BC2215;
			}
			input[type="submit"] {
				@include box-shadow(0 1px 1px #dd6f62 inset, 0 2px 4px #0a0909);
			}
			#footer {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
				ul.lined-large {
					position: relative;
					margin-top: -10px;
				}
				ul.lined {
					a {
						display: block;
						width: 100%;
					}
				}
				#footer-bar {
					padding: 10px 0 0;
					background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
					p {
						float: left;
						width: auto;
						font-weight: bold;
						a { color: #ffffff; }
						a:hover { text-decoration: underline; }
					}
					ul#footer-nav {
						float: right;
						width: auto;
						li {
							width: auto;
							margin: 0 0 0 20px;
						}
					}
				}
			}
		}
	}
	
	textarea#response-response,
	textarea#contact-us-message {
		width: 464px;
		height: 114px;
		margin-right: 0;
	}
	
	img.portrait-thumbnail {
		margin: 6px 15px 9px 0;
	}

	.column-8 {
		span.floated-blockquote {
			padding-top: 4px;
			padding-bottom: 6px;
			margin-top: 0;
			margin-bottom: 10px;
			font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
			font-size: 20px;
			line-height: 30px;
		}
	}
	
	table.pricing {
		padding: 0;
		border-top: 1px solid #d2d2cf;
		border-right: 1px solid #a8a8a4;
		border-bottom: 1px solid #8b8b88;
		border-left: 1px solid #a8a8a4;
		font-size: 14px;
		@include background-image(linear-gradient(#fbfbf3, #e2e0cf));
		@include text-shadow(0 1px 0 #ffffff);
		@include box-shadow(0 1px 2px #ffffff inset);
		@include border-radius(2px);
		colgroup {
			col:nth-child(4) {
				@include box-shadow(0 2px 5px #cbc9bb);
				background: #fbfaf3;
			}
			col:nth-child(5) { background-image: none; }
		}
		thead {
			tr {
				th.price-featured {
					border-right: 1px solid #c7c6bd;
					border-left: 1px solid #c7c6bd;
					.price-level {
						padding: 25px 0 0 0;
						border-top: 1px solid #ebeae7;
						border-right: 1px solid #c7c6bd;
						border-left: 1px solid #c7c6bd;
						position: relative;
						top: -13px;
						left: -1px;
						background: #fbfaf3;
					}
					.price-value {
						position: relative;
						top: -13px;
						left: -1px;
					}
					.price-recurrent {
						position: relative;
						top: -13px;
						left: -1px;
					}
				}
				th {
					padding-left: 0;
					padding-right: 0;
					font-weight: normal;
					text-align: center;
					.price-level {
						padding: 0;
						line-height: 30px;
						font-size: 24px;
						font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
					}
					.price-value {
						padding: 2px 0 0 0;
						line-height: 50px;
						font-size: 54px;
						font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
					}
					.price-recurrent {
						padding: 4px 0 0 0;
						line-height: 20px;
						font-size: 12px;
					}
				}
				th:nth-child(1) {
					background: #fbfbf3;
				}
			}
		}
		tbody {
			tr {
				background: none;
				td {
					padding: 22px 0 18px 0;
					text-align: center;
					background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
					a.button {
						float: none;
						width: 60px;
						margin: 0 auto;
					}
				}
				td:nth-child(1) {
					padding-left: 14px;
					text-align: left;
				}
				tr.pricing-buttons {
					td {
						padding: 12px 0 18px 0;
					}
				}
				td.price-featured {
					background: none;
					border-right: 1px solid #c7c6bd;
					border-left: 1px solid #c7c6bd;
					padding: 0;
					div {
						position: relative;
						top: 10px;
						left: -1px;
    				padding: 12px 0 28px;
						border-right: 1px solid #c7c6bd;
						border-bottom: 1px solid #8a8a84;
						border-left: 1px solid #c7c6bd;
						background-color: #FBFAF3;
					}
				}
				td.pricing-empty {
					background-color: #fbfbf3;
				}
			}
			tr:nth-child(odd) {
				background: transparent url("../images/opacity-5-black.png") repeat 0 0;
			}
			tr.pricing-boolean {
				td {
					padding: 14px 0 11px 0;
				}
				td:nth-child(1) {
					padding-left: 14px;
				}
			}
		}
	}
	
	.webkit table.pricing {
		colgroup {
			col:nth-child(4) {
				background: #fbfaf3;
			}
		}
	}
	
}













