@import "compass/css3";
@import "compass/utilities/general/clearfix";

/****************************************************************************************************/
/* COLOR THEMES */
/****************************************************************************************************/

/* Default Theme */

$body-background-color: #0f0f0e;

$font-color-header: #333333;
$font-color-subheader: #757471;
$font-color-body: #262626;

$accent-color: #bc2215;

$border-color-top: #e5e5e5;
$border-color-right: #cecece;
$border-color-bottom: #adadad;
$border-color-left: #cecece;

/* Top Bar */
$top-bar-border-bottom: #ccc3bb;
$top-bar-gradient-top: #43403c;
$top-bar-gradient-bottom: #353331;
$top-bar-box-shadow: #4f4f4c;
$top-bar-text-shadow: #000000;
$top-bar-font-color: #cccccc;
$top-bar-font-color-hover: #ffffff;

/* Top Bar: Button */
$top-bar-button-border-top: #22201d;
$top-bar-button-border-right: #2d2926;
$top-bar-button-border-bottom: #464340;
$top-bar-button-border-left: #2d2926;
$top-bar-button-font-color: #cccccc;
$top-bar-button-font-shadow: #060606;
$top-bar-button-gradient-top: #504b47;
$top-bar-button-gradient-bottom: #2f2e2d;
$top-bar-button-accent: #d3da67;

/* Top Bar: Button (Hover) */
$top-bar-button-hover-border-top: #393633;
$top-bar-button-hover-border-right: #423e3b;
$top-bar-button-hover-border-bottom: #595653;
$top-bar-button-hover-border-left: #423e3b;
$top-bar-button-hover-font-color: #ffffff;
$top-bar-button-hover-font-shadow: #1f1f1f;
$top-bar-button-hover-gradient-top: #625d59;
$top-bar-button-hover-gradient-bottom: #444341;
$top-bar-button-hover-accent: #dce371;

/* Banner */
$banner-border-top: #ffffff;
$banner-border-bottom: #d2d1d0;
$banner-font-color: #3f3a35;
$banner-header-color: #4c4843;
$banner-gradient-top: #f5f5f1;
$banner-gradient-bottom: #c7c6c1;
$banner-font-shadow: #f3f2f1;
$banner-image-shadow: #a6a5a1;
$banner-blockquote-color: #64605d;
$banner-learn-more-font-shadow: #ececea;

/* Content */
$content-background: #ffffff;
$content-box-shadow-bottom: #a2a19d;
$content-box-shadow: #a3a29e;
$content-box-shadow-inset: #bfbfbf;

/* Footer */
$footer-font-color: #ffffff;
$footer-border-top: #141210;
$footer-gradient-top: #2e2a25;
$footer-gradient-bottom: #0f0f0e;
$footer-text-shadow: #060605;
$footer-link: #cccccc;
$footer-link-hover: #ffffff;
$footer-header: #ffffff;
$footer-subheader: #a8a8a8;

/* Footer: Form */
$footer-input-border-top: #1e1c1b;
$footer-input-border-right: #282725;
$footer-input-border-bottom: #3e3c3a;
$footer-input-border-left: #282725;
$footer-input-color: #cccccc;
$footer-input-background: #31302e;
$footer-input-font-shadow: #000000;
$footer-button-shadow: #0a0909;
$footer-button-shadow-inset: #dd6f62; /* FIX THIS LATER. */

/* Pricing Table and Boxes */
$pricing-background-gradient-top: #fbfbf3;
$pricing-background-gradient-bottom: #e2e0cf;
$pricing-border-top: #d2d2cf;
$pricing-border-right: #a8a8a4;
$pricing-border-bottom: #8b8b88;
$pricing-border-left: #a8a8a4;
$pricing-text-shadow: #ffffff;
$pricing-box-shadow-inset: #ffffff;
$pricing-selected-box-shadow: #cbc9bb;
$pricing-selected-background: #fbfaf3;
$pricing-selected-border-top: #ebeae7;
$pricing-selected-border-right: #c7c6bd;
$pricing-selected-border-bottom: #8a8a84;
$pricing-selected-border-left: #c7c6bd;
$pricing-empty: #fbfbf3;



/****************************************************************************************************/
/* EMPIRE.CSS */
/****************************************************************************************************/

html {

	h1, h2, h3 {
		font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		color: $font-color-header;
	}

	h3.article-title {
		padding: 11px 0 4px 0;
		font-size: 25px;
		line-height: 1em;
	}
	h4.article-subtitle {
		padding: 1px 0 7px 0;
		margin: 0 0 10px 0;
		font-size: 10px;
		line-height: 1em;
		height: 12px;
		font-family: 'Open Sans', Helvetica, Arial, sans serif;
		text-transform: uppercase;
		font-weight: bold;
		span {
			line-height: 1em;
			font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
			font-style: italic;
			font-weight: normal;
			text-transform: lowercase;
		}
	}

	h5.article-title {
		padding: 7px 0 3px 0;
		line-height: 1em;
		a { color: $font-color-header; text-decoration: none; }
		a:hover { text-decoration: underline; }
	}
	.webkit h5.article-title {
		padding-top: 6px;
	}
	h6.article-subtitle {
		padding: 0 0 7px 0;
		margin: 0;
		color: $font-color-subheader;
		font-size: 8px;
		line-height: 1em;
		font-family: 'Open Sans', Helvetica, Arial, sans serif;
		text-transform: uppercase;
		font-weight: bold;
		span {
			line-height: 1em;
			font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
			font-style: italic;
			font-weight: normal;
			text-transform: lowercase;
		}
	}
	
	.article-options {
		padding: 10px 0 0 0;
		p {
			height: 20px;
			a,
			span {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 10px;
			}
		}
	}
	
	p.quote-source {
		text-align: right;
	}
	
	ol.lined-large,
	ul.lined-large {
		padding: 2px 0 8px 0;
		li.thumbnail {
			h5.article-title { width: 75%; }
			h6.article-subtitle { width: 75%; }
			img {
				display: block;
				float: left;
				height: 34px;
				width: 34px;
				padding: 2px;
				margin: 0 10px 0 0;
				border-top: 1px solid $border-color-top;
				border-right: 1px solid $border-color-right;
				border-bottom: 1px solid $border-color-bottom;
				border-left: 1px solid $border-color-left;
			}
		}
	}
	.sidebar-left ol.lined-large,
	.sidebar-right ul.lined-large {
		li.thumbnail {
			h5.article-title { width: 230px; }
			h6.article-subtitle { width: 230px; }
		}
	}
	
	.sidebar-left ul.categories,
	.sidebar-right ul.categories {
		li {
			a {
				display: block;
				float: left;
				width: 260px;
				padding: 0 0 0 20px;
				text-decoration: none;
				color: $font-color-body;
				background: transparent url("../images/arrow-bullet.png") no-repeat 0 4px;
			}
			a:hover {
				text-decoration: underline;
				color: $accent-color;
			}
		}
	}

	ul.replies,	
	ul.comments {
		position: relative;
		margin-top: -10px;
		blockquote {
			padding-top: 10px;
			padding-bottom: 1px;
			a {
				text-decoration: none;
				color: $font-color-body;
			}
			a:hover {
				text-decoration: underline;
				color: $accent-color;
			}
		}
		.commenter {
			padding-bottom: 9px;
	    font-size: 10px;
	    font-weight: bold;
			font-style: normal;
	    text-transform: uppercase;
			text-align: right;
			.timestamp {
				width: auto;
			}
			a.leave-a-response {
				float: right;
				width: auto;
			}
		}
	}
	.webkit ul.replies
	.webkit ul.comments {
		blockquote {
			padding-top: 10px;
			padding-bottom: 0;
		}
		.commenter {
			padding-bottom: 10px;
		}
	}
	ul.replies {
		.commenter {
			padding-top: 10px;
			font-weight: normal;
			a { font-weight: bold; }
		}
	}
	.webkit ul.replies {
		.commenter {
			padding-top: 9px;
			padding-bottom: 10px;
		}
	}
	
	ul.flickr {
		width: 300px;
		li {
			width: 86px;
			height: 86px;
			margin: 0 11px 14px 0;
			a {
				display: block;
				float: left;
				width: 80px;
				height: 80px;
				padding: 2px;
				border-top: 1px solid $border-color-top;
				border-right: 1px solid $border-color-right;
				border-bottom: 1px solid $border-color-bottom;
				border-left: 1px solid $border-color-left;
				img {
					display: block;
					float: left;
				}
			}
			a:hover {
				border: 1px solid $accent-color;
				img { opacity: .75; }
			}
		}
	}
	
	ul.adsense-square {
		width: 310px;
		li {
			width: 125px;
			height: 125px;
			padding: 5px 0 0 0;
			margin: 0 30px 25px 0;
		}
	}
	
	ol#breadcrumbs {
		padding: 0 0 15px 0;
		margin: -5px 0 0 0;
		position: relative;
		li {
			width: auto;
			padding-right: 5px;
			a { padding-right: 5px; }
		}
	}
	.webkit ol#breadcrumbs {
		padding: 1px 0 14px 0;
	}
	
	ul#gallery {
		width: 680px;
		li {
			float: left;
			width: 140px;
			margin: 0 30px 30px 0;
			a {
				display: block;
				float: left;
				width: 132px;
				padding: 3px;
				border-top: 1px solid $border-color-top;
				border-right: 1px solid $border-color-right;
				border-bottom: 1px solid $border-color-bottom;
				border-left: 1px solid $border-color-left;
				img {
					display: block;
					float: left;
					width: 132px;
					height: 132px;
				}
			}
			a:hover {
				border-color: $accent-color;
				img { opacity: .75; }
			}
		}
	}
	
	label {
		span {
			color: $font-color-subheader;
			font-style: italic;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="submit"],
	select,
	textarea,
	a.button,
	a.cancel-button,
	button { font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif; }
	
	#search-input {
		width: 154px;
	}
	#search-button {
		width: 100px;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		margin-right: 0;
	}

	body {
		font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
		background: $body-background-color;
		color: $font-color-body;
		#top-bar-container {
			float: none;
			padding: 6px 0 0;
			border-bottom: 1px solid $top-bar-border-bottom;
			position: relative;
			z-index: 100;
			@include background-image(linear-gradient($top-bar-gradient-top, $top-bar-gradient-bottom));
			@include box-shadow(0 0 15px $top-bar-box-shadow);
			#top-bar {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				font-size: 11px;
				text-transform: uppercase;
				font-weight: bold;
				@include legacy-pie-clearfix;
				@include text-shadow(0 1px 0 $top-bar-text-shadow);
				a#logo {
					display: block;
					float: left;
					width: 100px;
					height: 50px;
					background: transparent url("../images/logo.png") no-repeat 0 0;
					text-decoration: none;
					position: absolute;
					margin: -8px 0 0 -12px;
				}
				a#logo:hover {
					background-position: 0 -50px;
				}
				#navigation {
					width: auto;
					float: right;
					padding: 6px 0 0 0;
					li {
						width: auto;
						padding: 0 10px;
						a { color: $top-bar-font-color; text-decoration: none; }
						a.current,
						a:hover { color: $top-bar-font-color-hover; text-decoration: underline; }
					}
				}
				a.button {
					float: right;
					font-size: 11px;
					margin-right: 0;
					margin-left: 10px;
			    padding-top: 9px;
			    padding-bottom: 8px;
					border-top: 1px solid $top-bar-button-border-top;
					border-right: 1px solid $top-bar-button-border-right;
					border-bottom: 1px solid $top-bar-button-border-bottom;
					border-left: 1px solid $top-bar-button-border-left;
					color: $top-bar-button-font-color;
					text-transform: uppercase;
					font-weight: bold;
					@include box-shadow(none);
					@include text-shadow(0 1px 0 $top-bar-button-font-shadow);
					@include background-image(linear-gradient($top-bar-button-gradient-top, $top-bar-button-gradient-bottom));
					span { color: $top-bar-button-accent; }
				}
				a.button:hover {
					border-top: 1px solid $top-bar-button-hover-border-top;
					border-right: 1px solid $top-bar-button-hover-border-right;
					border-bottom: 1px solid $top-bar-button-hover-border-bottom;
					border-left: 1px solid $top-bar-button-hover-border-left;
					color: $top-bar-button-hover-font-color;
					@include text-shadow(0 1px 0 $top-bar-button-hover-font-shadow);
					@include background-image(linear-gradient($top-bar-button-hover-gradient-top, $top-bar-button-hover-gradient-bottom));
					span { color: $top-bar-button-hover-accent }
				}
			}
		}
		#banner-container {
			padding: 12px 0 9px 0;
			border-top: 1px solid $banner-border-top;
			border-bottom: 1px solid $banner-border-bottom;
			float: none;
			color: $banner-font-color;
			h3 { color: $banner-header-color; }
			@include background-image(linear-gradient($banner-gradient-top, $banner-gradient-bottom));
			@include text-shadow(0 1px 0 $banner-font-shadow);
			#header {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
			}
			#banner {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 20px 30px 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
				#hero-image {
					width: 930px;
					height: 340px;
					padding: 30px;
					background: transparent url("../images/hero-image-background.png") repeat-x 0 0;
					@include border-radius(2px);
					img {
						@include box-shadow(0 2px 7px $banner-image-shadow);
					}
				}
				blockquote {
					padding: 10px 0 10px;
					margin: 0 0 20px 0;
					font-size: 36px;
					line-height: 50px;
					font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
					text-align: center;
					color: $banner-blockquote-color;
					span {
						font-size: 18px;
						line-height: 30px;
						font-family: 'Open Sans', 'Myriad Pro', Helvetica, Arial, sans serif;
					}
				}
				.learn-more {
					font-weight: bold;
					text-transform: uppercase;
					@include text-shadow(0 1px 0 $banner-learn-more-font-shadow);
				}
			}
		}
		#content-container {
			float: none;
			background: $content-background;
			border-top: 1px solid $content-background;
			border-bottom: 1px solid $content-background;
			padding: 39px 0 29px 0;
			@include box-shadow(0 -1px 0 $content-box-shadow-bottom, 0 0 15px $content-box-shadow, 0 0 7px $content-box-shadow-inset inset);
			#content {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
				.sidebar-left {
					width: 280px;
					padding: 0 30px 0 0;
					margin: 0 30px 20px 0;
					background: $content-background url("../images/sidebar-left-background.png") repeat-y top right;
					@include box-shadow(85px 0 85px $content-background inset, 85px 0 85px $content-background inset);
				}
				.sidebar-right {
					width: 280px;
					padding: 0 0 0 30px;
					margin: 0 0 20px 0;
					background: $content-background url("../images/sidebar-right-background.png") repeat-y 0 0;
					@include box-shadow(-85px 0 85px $content-background inset, -85px 0 85px $content-background inset);
				}
			}
		}
		#footer-container {
			float: none;
			color: $footer-font-color;
			padding: 19px 0 20px 0;
			border-top: 1px solid $footer-border-top;
			@include background-image(linear-gradient($footer-gradient-top, $footer-gradient-bottom));
			@include text-shadow(0 1px 0 $footer-text-shadow);
			a { color: $footer-link; text-decoration: none; }
			a:hover { color: $footer-link-hover; text-decoration: underline; }
			h1, h2, h3, h4, h5 { color: $footer-header; }
			h6.article-subtitle { color: $footer-subheader; }
			h5 a { color: $footer-header; }
			input[type="email"],
			textarea {
				border-top: 1px solid $footer-input-border-top;
				border-right: 1px solid $footer-input-border-right;
				border-bottom: 1px solid $footer-input-border-bottom;
				border-left: 1px solid $footer-input-border-left;
				color: $footer-input-color;
				background: $footer-input-background;
				@include text-shadow(0 1px 0 $footer-input-font-shadow);
			}
			input[type="email"]:focus,
			textarea:focus {
				border-color: $accent-color;
			}
			input[type="submit"] {
				@include box-shadow(0 1px 1px $footer-button-shadow-inset inset, 0 2px 4px $footer-button-shadow); /* FIX INSET SHADOW LATER. */
			}
			#footer {
				float: none;
				width: 990px;
				margin: 0 auto;
				padding: 0 30px;
				text-align: left;
				@include legacy-pie-clearfix;
				ul.lined-large {
					position: relative;
					margin-top: -10px;
				}
				ul.lined {
					a {
						display: block;
						width: 100%;
					}
				}
				#footer-bar {
					padding: 10px 0 0;
					background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
					p {
						float: left;
						width: auto;
						font-weight: bold;
						a { color: $footer-font-color; }
						a:hover { text-decoration: underline; }
					}
					ul#footer-nav {
						float: right;
						width: auto;
						li {
							width: auto;
							margin: 0 0 0 20px;
						}
					}
				}
			}
		}
	}
	
	textarea#response-response,
	textarea#contact-us-message {
		width: 464px;
		height: 114px;
		margin-right: 0;
	}
	
	img.portrait-thumbnail {
		margin: 6px 15px 9px 0;
	}

	.column-8 {
		span.floated-blockquote {
			padding-top: 4px;
			padding-bottom: 6px;
			margin-top: 0;
			margin-bottom: 10px;
			font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
			font-size: 20px;
			line-height: 30px;
			color: $font-color-subheader;
		}
	}
	
	.price-level {
		padding: 0;
		line-height: 30px;
		font-size: 24px;
		font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
	}
	.price-value {
		padding: 2px 0 0 0;
		line-height: 50px;
		font-size: 54px;
		font-family: 'Vollkorn', Georgia, 'Times New Roman', serif;
	}
	.price-recurrent {
		padding: 4px 0 0 0;
		line-height: 20px;
		font-size: 12px;
		font-style: italic;
	}
	
	.pricing-box,
	.pricing-box-last,
	.pricing-box-large,
	.pricing-box-large-last {
		width: 185px;
		margin: 20px 30px 20px 0;
		padding: 28px 19px 31px 19px;
		border-top: 1px solid $pricing-border-top;
		border-right: 1px solid $pricing-border-right;
		border-bottom: 1px solid $pricing-border-bottom;
		border-left: 1px solid $pricing-border-left;
		font-size: 14px;
		text-align: center;
		@include background-image(linear-gradient($pricing-background-gradient-top, $pricing-background-gradient-bottom));
		@include text-shadow(0 1px 0 $pricing-text-shadow);
		@include box-shadow(0 1px 2px $pricing-box-shadow-inset inset);
		@include border-radius(2px);
		img.pricing-tag {
			display: block;
			float: left;
			position: absolute;
			margin: -34px 0 0 134px;
		}
		.price-recurrent {
			margin: 0 0 30px 0;
		}
		ul.price-specs {
			padding: 25px 0 20px;
			text-align: left;
			background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
			li {
				width: 155px;
				padding: 5px 0 5px 30px;
				background: transparent url("../images/arrow-bullet.png") no-repeat 7px 9px;
			}
		}
		a.button {
			float: none;
			width: 100%;
			margin: 0 auto 5px;
			padding-top: 8px;
			padding-right: 0;
			padding-bottom: 9px;
			padding-left: 0;
		}
	}
	
	.pricing-box-large,
	.pricing-box-large-last {
		width: 270px;
		img.pricing-tag {
			margin-left: 219px;
		}
		ul.price-specs {
			li {
				width: 240px;
			}
		}
	}

	.pricing-box-last,
	.pricing-box-large-last {
		margin-right: 0;
	}

	table.pricing {
		margin: 20px 0 22px 0;
		padding: 0;
		border-top: 1px solid $pricing-border-top;
		border-right: 1px solid $pricing-border-right;
		border-bottom: 1px solid $pricing-border-bottom;
		border-left: 1px solid $pricing-border-left;
		font-size: 14px;
		@include background-image(linear-gradient($pricing-background-gradient-top, $pricing-background-gradient-bottom));
		@include text-shadow(0 1px 0 $pricing-text-shadow);
		@include box-shadow(0 1px 2px $pricing-box-shadow-inset inset);
		@include border-radius(2px);
		colgroup {
			col {
				background-position: 0 1px;
				background-repeat: repeat-y;
			}
			col:nth-child(4) {
				@include box-shadow(0 2px 5px $pricing-selected-box-shadow);
				background: #fbfaf3;
			}
			col:nth-child(5) { background-image: none; }
		}
		thead {
			tr {
				th.price-featured {
					border-left: 1px solid $pricing-selected-border-left;
					border-right: 1px solid $pricing-selected-border-right;
					.price-level {
						padding: 25px 0 0 0;
						border-top: 1px solid $pricing-selected-border-top;
						border-left: 1px solid $pricing-selected-border-left;
						border-right: 1px solid $pricing-selected-border-right;
						position: relative;
						top: -13px;
						left: -1px;
						background: $pricing-selected-background url("../images/pricing-background.png") repeat-x 0 -2px;
					}
					.price-value {
						position: relative;
						top: -13px;
						left: -1px;
					}
					.price-recurrent {
						position: relative;
						top: -13px;
						left: -1px;
					}
				}
				th {
					padding-left: 0;
					padding-right: 0;
					font-weight: normal;
					text-align: center;
				}
				th:nth-child(1) {
					background: $pricing-empty;
				}
			}
		}
		tbody {
			tr {
				background: none;
				td {
					padding: 22px 0 18px 0;
					text-align: center;
					background: transparent url("../images/dotted-line-horizontal.png") repeat-x 1px 0;
					a.button {
						float: none;
						width: 60px;
						margin: 0 auto;
					}
				}
				td:nth-child(1) {
					padding-left: 14px;
					text-align: left;
				}
				td.price-featured {
					background: none;
					border-left: 1px solid $pricing-selected-border-left;
					border-right: 1px solid $pricing-selected-border-right;
					font-weight: bold;
					width: 20%;
				}
				td.pricing-empty {
					background-color: $pricing-empty;
				}
			}
			tr.pricing-buttons {
				td {
					padding: 0;
				}
				td.price-featured {
					div {
						position: relative;
						top: 10px;
						left: -1px;
    				padding: 10px 0 30px;
						border-right: 1px solid $pricing-selected-border-right;
						border-bottom: 1px solid $pricing-selected-border-bottom;
						border-left: 1px solid $pricing-selected-border-left;
						background: $pricing-selected-background url("../images/pricing-background.png") repeat-x bottom left;
						a.button {
							float: none;
							width: 60px;
							margin: 0 auto;
							padding-top: 8px;							
							padding-bottom: 9px;
						}
					}
				}
			}
			tr:nth-child(odd) {
				background: transparent url("../images/opacity-5-black.png") repeat 0 0;
			}
			tr.pricing-boolean {
				td {
					padding: 14px 0 11px 0;
				}
				td:nth-child(1) {
					padding-left: 14px;
				}
			}
		}
	}
	
	.mozilla table.pricing {
		tbody {
			tr {
				td {
					a.button {
						padding-top: 9px;
						padding-bottom: 8px;
					}
				}
			}
			tr.pricing-buttons {
				td.price-featured {
					div {
    				padding: 11px 0 29px;
					}
				}
			}
		}
	}
	
}













