@import "compass/css3";
@import "compass/utilities/general/clearfix";



/****************************************************************************************************/
/* COLOR THEMES */
/****************************************************************************************************/

/* Default Theme */

$body-background-color: #ffffff;

$font-color-header: #414953;
$font-color-subheader: #414953;
$font-color-body: #414953;

$accent-color: #c11a06;

$border-color-top: #e5e5e5;
$border-color-right: #cecece;
$border-color-bottom: #adadad;
$border-color-left: #cecece;



/****************************************************************************************************/
/* FONT THEMES */
/****************************************************************************************************/

@import "kreon";
@import "raleway";
@import "pt-sans";



/****************************************************************************************************/
/* THEMEDOC.CSS */
/****************************************************************************************************/

html {

	@include font-theme-header-kreon;
	@include font-theme-body-kreon;

	h1, h2, h3 {
		font-family: 'Kreon', Georgia, 'Times New Roman', serif;
	}

	h1, h2, h3, h4, h5, h6 {
		color: $font-color-header;
		font-weight: 100;
	}
	
	h1 { font-size: 48px; line-height: 60px; padding: 10px 0 0px 0; }
	h2 { font-size: 36px; line-height: 50px; padding: 8px 0 2px 0; }
	h3 { font-size: 25px; line-height: 40px; padding: 5px 0 5px 0; }
	h4 { font-size: 20px; line-height: 30px; padding: 1px 0 9px 0; }
	h5 { font-size: 14px; line-height: 20px; padding: 7px 0 3px 0; }
	h6 { font-size: 12px; line-height: 20px; padding: 7px 0 3px 0; }
	.webkit h1 { padding: 9px 0 0 0; position: relative; margin-top: 1px; }
	.webkit h2 { padding: 8px 0 2px 0; }
	.webkit h6 { padding: 8px 0 2px 0; }

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="submit"],
	select,
	textarea,
	a.button,
	a.cancel-button,
	button {
		font-family: 'Kreon', Georgia, 'Times New Roman', serif;
	}
	
	a { color: $accent-color; }
	strong { font-weight: 700; }

	body {
		font-family: 'Kreon', Georgia, 'Times New Roman', serif;
		font-weight: 300;
		color: $font-color-body;
		background: transparent url("../images/nightsprout/footer-background.png") repeat 0 0;
		#page-container {
			width: 100%;
			height: 840px;
			background: transparent url("../images/nightsprout/body-background.png") repeat-x 0 0;
			#header {
				float: none;
				width: 900px;
				margin: 0 auto 10px auto;
				padding: 140px 0 0 0;
				text-align: left;
				@include legacy-pie-clearfix;
				h1 {
					width: 725px;
					height: 105px;
					padding: 65px 0 0 175px;
					color: #ecdd89;
					font-size: 60px;	
					font-family: 'Raleway', 'PT Sans Narrow', 'Myriad Pro', Helvetica, Arial, sans serif;
					background: transparent url("../images/nightsprout/logo.png") no-repeat 0 0;
					@include text-shadow(0 2px 0 #083844);
					span {
						display: block;
						float: left;
						width: 100%;
						padding: 1px 0 0 0;
						font-size: 20px;
						line-height: 20px;
						color: #bbc8ab;
						font-family: 'Kreon', Georgia, 'Times New Roman', serif;
						@include text-shadow(0 1px 0 #083844);
					}
				}
			}
			#content {
				float: none;
				width: 905px;
				height: 455px;
				margin: 0 auto;
				padding: 0 0 0 5px;
				text-align: left;
				font-size: 16px;
				line-height: 30px;
				background: transparent url("../images/nightsprout/content-background.png") no-repeat 5px 0;
				@include legacy-pie-clearfix;
				#column-1 {
					width: 375px;
					height: 350px;
					margin: 0 30px 0 0;
					padding: 50px 30px;
					#farm-house {
						position: relative;
						margin: 20px 0 0 -70px;
						height: 170px;
						width: 217px;
						background: transparent url("../images/nightsprout/house.png") no-repeat 0 bottom;
					}
				}
				#column-2 {
					width: 375px;
					height: 350px;
					padding: 50px 30px;
					#plane {
						position: absolute;
						margin: -117px 0 0 220px;
						height: 79px;
						width: 164px;
						background: transparent url("../images/nightsprout/plane.png") no-repeat 0 0;
					}
				}
				a#call-to-action {
					display: block;
					float: right;
					width: auto;
					height: 50px;
					padding: 0 20px 0 0;
					margin: 30px -60px 0 0;
					font-size: 24px;
					color: #f7beb1;
					text-decoration: none;
					background: transparent url("../images/nightsprout/cta-background.png") no-repeat right -50px;
					@include text-shadow(0 -1px 0 #b72f2f);
					span {
						display: block;
						float: left;
						height: 40px;
						padding: 10px 10px 0 20px;
						background: transparent url("../images/nightsprout/cta-background.png") no-repeat 0 0;
					}
				}
				a#call-to-action:hover {
					background-position: right -150px;
					span { background-position: 0 -100px; }
				}
				h3 {
					font-size: 30px;
					line-height: 28px;
					padding: 2px 0 2px 0;
					margin: 0 0 30px 0;
					text-align: center;
					color: $font-color-header;
					span {
						display: block;
						float: left;
						width: 100%;
						font-size: 16px;
						color: $font-color-subheader;
					}
				}
				p {
					padding: 1px 0 9px 0;
					margin: 0 0 20px 0;
					width: 375px;
				}
				ul.bulleted-list {
					padding: 1px 0 9px 0;
					li {
						padding: 0 0 0 20px;
						width: 355px;
						background: transparent url("../images/nightsprout/bullet-background.png") no-repeat -3px 2px;
					}
				}
			}
		}
		#farm-fence {
			position: absolute;
			margin: -31px 0 0 0;
			height: 21px;
			background: transparent url("../images/nightsprout/fence.png") repeat-x 0 bottom;
		}
		#footer-container {
			#footer {
				float: none;
				width: 900px;
				margin: 0 auto;
				font-size: 16px;
				line-height: 30px;
				font-family: 'PT Sans Narrow', 'Myriad Pro', Helvetica, Arial, sans serif;
				@include legacy-pie-clearfix;
				ul {
					float: none;
					width: 900px;
					margin: 0 auto;
					padding: 49px 0 51px 0;
					li {
						display: inline-block;
						float: none;
						width: auto;
						margin: 0 0 0 30px;
						a {
							color: #c8bb95;
							text-decoration: none;
							@include text-shadow(0 1px 0 #331908);
						}
						a.selected,
						a:hover { text-decoration: underline; }
					}
					li:first-child { margin: 0; }
				}
			}
		}
	}

	body.webkit {
		#page-container {
			#content {
				#column-1 {
					#farm-house {
						margin-top: -11px;
					}
				}
			}
		}
		#footer-container {
			#footer {}
		}
	}
		
}













