@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

html {
	height: 100%;
	background: #e5e5e5;
}

body {
	font-family: 'Open Sans', 'Myriad Pro', Myriad, 'Lucida Grande', 'Lucida Sans', Lucida, Verdana, Helvetica, Arial, sans serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: #404040;
	-webkit-font-smoothing: antialiased; /* This turns off subpixel antialiasing in Webkit, making fonts look more consistent across browsers. */
	-webkit-text-size-adjust: none; /* This turns off font size adjusting in iPhone Safari, preventing line-height issues. */
	@include background-image(linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5));
}

a { text-decoration: none; color: #404040; }
a:hover { text-decoration: underline; color: #e53d00; }

#cover-page,
#interior {

	min-width: 990px;
	background: transparent url("../images/personal/portfolio-background.png") no-repeat center 188px;
	@include text-shadow(0 1px 0 #ffffff);
	@include legacy-pie-clearfix;

	h1 { padding: 80px 0 10px 0; font-size: 50px; font-weight: 800; line-height: 60px; }
	h2 { padding: 10px 0 10px 0; font-size: 50px; font-weight: 800; line-height: 60px; }
	h3 { padding: 62px 0 18px 0; font-size: 20px; font-weight: 300; line-height: 20px; }
	
	a#partner-link {
		display: block;
		float: right;
		width: 124px;
		height: 63px;
		padding: 14px 0 0 50px;
		margin: 80px 0 0 0;
		position: relative;
		top: -140px;
		font-size: 15px;
		color: #bfbfbf;
		text-align: left;
		background: transparent url("../images/personal/partner-link-background.png") no-repeat 5px bottom;
		@include text-shadow(none);
	}
	a#partner-link:hover {
		width: 129px;
		padding: 14px 0 0 45px;
		text-decoration: none;
		color: #e5e5e5;
		background-position: 0 bottom;
	}

	ol {
		width: 744px;
		margin: 0 auto;
		padding: 67px 0 0 197px;
		background: transparent url("../images/personal/portfolio-background.png") no-repeat 0 0;
		@include legacy-pie-clearfix;
		li {
			display: block;
			float: left;
			position: relative;
			a:hover { text-decoration: none; background-position: 0 0; }
		}
		li:nth-child(2) {
			left: -100px;
			a { background: transparent url("../images/personal/thumbnail-priceboard.png") no-repeat 0 20px; }
			a:hover { background-position: 0 0; }
		}
		li:nth-child(3) {
			left: -200px;
			a { background: transparent url("../images/personal/thumbnail-srm.png") no-repeat 0 20px; }
			a:hover { background-position: 0 0; }
		}
		a {
			display: block;
			float: left;
			height: 113px;
			width: 248px;
			background: transparent url("../images/personal/thumbnail-quizforge.png") no-repeat 0 20px;
		}
	}
	
	ul {
		width: 894px;
		height: 20px;
		margin: -9px auto 0;
		padding: 114px 0 5px 0;
		position: relative;
		background: transparent url("../images/personal/navigation-background.png") no-repeat 0 0;
		li {
			display: inline;
			margin: 0 0 0 20px;
			a {}
		}
		li:nth-child(1) { margin: 0; }
	}

}

#interior {

	background-position: center 268px;

	h1 { line-height: 80px; padding: 70px 0 10px 0; margin: 0 0 47px 0; }

	p {
	
		width: 480px;
		height: 263px;
		padding: 40px 34px 0;
		margin: 0 auto;
		font-size: 20px;
		line-height: 30px;
		color: #666666;
		text-align: left;
		background: transparent url("../images/personal/card-background.png") no-repeat 0 0;
		
	}
	
	ol {
	
		width: 480px;
		height: 243px;
		padding: 60px 34px 0;
		margin: 0 auto;
		font-size: 20px;
		line-height: 20px;
		text-align: left;
		background: transparent url("../images/personal/card-background.png") no-repeat 0 0;
		@include legacy-pie-clearfix;
		
		li {
			display: block;
			float: left;
			width: 100%;
			height: 33px;
			margin: 0 0 17px 0;
			position: static;
			background: transparent url("../images/personal/social-icons.png") no-repeat 75px 0;
			a {
				width: 353px;
				height: 33px;
				padding: 5px 0 0 127px;
				color: #666666;
			}
			a:hover { color: #e53d00; }
		}
		li:nth-child(2) {
			left: 0;
			background: transparent url("../images/personal/social-icons.png") no-repeat 75px -33px;
			a { background: none }
		}
		li:nth-child(3) {
			left: 0;
			background: transparent url("../images/personal/social-icons.png") no-repeat 75px -66px;
			a { background: none; }
		}
		li:nth-child(4) {
			background: transparent url("../images/personal/social-icons.png") no-repeat 75px -99px;
			a#spam-safe-email-jason { background: transparent url("../images/personal/jason-email-background.png") no-repeat 127px 0; }
			a#spam-safe-email-jason:hover { background: transparent url("../images/personal/jason-email-background.png") no-repeat 127px -33px; }
			a#spam-safe-email-mitchell { background: transparent url("../images/personal/mitchell-email-background.png") no-repeat 127px 0; }
			a#spam-safe-email-mitchell:hover { background: transparent url("../images/personal/mitchell-email-background.png") no-repeat 127px -33px; }
		}
		a {
			display: block;
			float: left;
			height: auto;
			width: auto;
			background: none;
		}
	}
	
	ul {
		width: 990px;
		background: transparent url("../images/personal/navigation-background-interior.png") no-repeat center top;
	}

}







/* Lightbox CSS */

/* SLIMBOX */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url("../images/personal/lightbox/loading.gif") no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url("../images/personal/lightbox/prevlabel.gif") no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url("../images/personal/lightbox/nextlabel.gif") no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-family: 'Open Sans', 'Myriad Pro', Myriad, 'Lucida Grande', 'Lucida Sans', Lucida, Verdana, Helvetica, Arial, sans serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url("../images/personal/lightbox/closelabel.gif") no-repeat center;
	margin: 5px 0;
	margin: 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
	margin-right: 81px;
}

#lbCaption {
	font-weight: bold;
	padding: 5px 0 10px 0;
}

#lbNumber {
	font-style: italic;
}







