@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";

html {
	height: 100%;
}

body {
	font-family: 'Open Sans', 'Myriad Pro', Myriad, 'Lucida Grande', 'Lucida Sans', Lucida, Verdana, Helvetica, Arial, sans serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	color: #404040;
	@include background-image(linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5));
}

a { text-decoration: none; color: #404040; }
a:hover { text-decoration: underline; color: #e53d00; }

body#cover-page {

	@include background(image-url("../images/personal/portfolio-background.png") no-repeat center 188px, linear-gradient(#fcfcfc, #e5e5e5, #e5e5e5));
	@include text-shadow(0 1px 0 #ffffff);
	@include legacy-pie-clearfix;

	h1 { padding: 80px 0 10px 0; font-size: 50px; font-weight: 800; line-height: 60px; }
	h2 { padding: 10px 0 10px 0; font-size: 50px; font-weight: 800; line-height: 60px; }
	h3 { padding: 62px 0 18px 0; font-size: 20px; font-weight: 300; line-height: 20px; }
	
	a#partner-link {
		display: block;
		float: right;
		width: 124px;
		height: 63px;
		padding: 14px 0 0 50px;
		position: relative;
		top: -140px;
		font-size: 15px;
		color: #bfbfbf;
		text-align: left;
		background: transparent url("../images/personal/partner-link-background.png") no-repeat 5px bottom;
		@include text-shadow(none);
	}
	a#partner-link:hover {
		width: 129px;
		padding: 14px 0 0 45px;
		text-decoration: none;
		color: #e5e5e5;
		background-position: 0 bottom;
	}

	ol {
		width: 744px;
		margin: 0 auto;
		padding: 67px 0 0 197px;
		background: transparent url("../images/personal/portfolio-background.png") no-repeat 0 0;
		@include legacy-pie-clearfix;
		li {
			display: block;
			float: left;
			position: relative;
		}
		li:nth-child(2) {
			left: -100px;
			a { background: transparent url("../images/personal/thumbnail-priceboard.png") no-repeat 0 20px; }
		}
		li:nth-child(3) {
			left: -200px;
			a { background: transparent url("../images/personal/thumbnail-srm.png") no-repeat 0 20px; }
		}
		a {
			display: block;
			float: left;
			height: 113px;
			width: 248px;
			background: transparent url("../images/personal/thumbnail-quizforge.png") no-repeat 0 20px;
		}
		a:hover { text-decoration: none; background-position: 0 0 !important; }
	}
	
	ul {
		width: 894px;
		height: 100px;
		margin: -9px auto 0;
		padding: 114px 0 5px 0;
		position: relative;
		background: transparent url("../images/personal/navigation-background.png") no-repeat 0 0;
		li {
			display: inline;
			margin: 0 0 0 20px;
			a {}
		}
		li:nth-child(1) { margin: 0; }
	}

}

















