@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";



/****************************************************************************************************/
/* COLOR THEMES */
/****************************************************************************************************/

/* Grey Theme */

$font-color-header: #464646;
$font-color-subheader: #808080;
$font-color-body: #696969;
$accent-color: #bc2215;



/****************************************************************************************************/
/* FONT THEMES: We must reset the padding on ALL font-dependent elements on a per-font basis.       */
/****************************************************************************************************/

@mixin font-theme-header-open-sans {

	body {
		font-size: 12px;
		line-height: 1.667em;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	}
	
	h1 { font-size: 48px; line-height: 60px; padding: 1px 0 9px 0; }
	.webkit h2 { font-size: 36px; line-height: 50px; padding: 2px 0 8px 0; }
	h2 { font-size: 36px; line-height: 50px; padding: 1px 0 9px 0; }
	h3 { font-size: 25px; line-height: 40px; padding: 0px 0 0px 0; }
	h4 { font-size: 20px; line-height: 30px; padding: 7px 0 3px 0; }
	.webkit h4 { font-size: 20px; line-height: 30px; padding: 8px 0 2px 0; }
	h5 { font-size: 14px; line-height: 20px; padding: 5px 0 5px 0; }
	h6 { font-size: 12px; line-height: 20px; padding: 5px 0 5px 0; }
	.webkit h6 { font-size: 12px; line-height: 20px; padding: 6px 0 4px 0; }
	
}

@mixin font-theme-body-open-sans {

	body {
		font-size: 12px;
		line-height: 1.667em;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	}

	p { padding: 5px 0 5px 0; }
	.webkit p { padding: 6px 0 4px 0; }

	ul,
	ol {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.webkit ul,
	.webkit ol {
		padding-top: 6px;
		padding-bottom: 4px;
	}
	
	ul.lined,
	ol.lined {
		padding-top: 0;
		padding-bottom: 10px;
		li {
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	.webkit ul.lined,
	.webkit ol.lined {
		li {
			padding-top: 6px;
			padding-bottom: 4px;
		}
	}
	
	a.icon-button,
	a.cancel-button,
	a.button,
	button,
	input[type="submit"] {
		padding-top: 8px;
		padding-bottom: 9px;
		margin-top: 0;
		margin-bottom: 7px;
		line-height: 1em;
		font-size: 12px;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	}

	a.cancel-button {
		padding-top: 9px;
		padding-bottom: 10px;
	}

	button {
		padding-top: 7px;
		padding-bottom: 24px;
	}
	.webkit button {
		padding-top: 8px;
		padding-bottom: 23px;
	}

	input[type="submit"] {
		padding-top: 5px;
		padding-bottom: 26px;
	}
	.webkit input[type="submit"] {
		padding-top: 8px;
		padding-bottom: 23px;
	}
	
	form {}

	label {
		font-size: 12px;
		line-height: 1.667em;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.webkit label {
		padding-top: 6px;
		padding-bottom: 4px;
	}
	
	input[type="checkbox"] {
		margin-top: 4px;
		margin-bottom: 0;
	}
	.webkit input[type="checkbox"] {
		margin-top: 5px;
		margin-bottom: 0;
	}
	
	input[type="radio"] {
		margin-top: 5px;
		margin-bottom: 0;
	}

	select,
	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea {
		padding-top: 7px;
		padding-bottom: 10px;
		margin-top: 0;
		margin-bottom: 7px;
		font-size: 12px;
		line-height: 1.667em;
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	}
	.webkit select,
	.webkit input[type="text"],
	.webkit input[type="email"],
	.webkit input[type="password"],
	.webkit textarea {
		padding-top: 8px;
		padding-bottom: 9px;
	}

	select {
		padding-top: 6px;
		padding-bottom: 10px;
	}

	textarea {
		padding-top: 4px;
		padding-bottom: 13px;
	}
	.webkit textarea {
		padding-top: 5px;
		padding-bottom: 12px;
	}

	ul.form {
		padding-top: 15px;
		padding-bottom: 15px;
		li {
			label {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
	.webkit ul.form {
		padding-top: 16px;
		padding-bottom: 14px;
		li {
			label {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
	
	table {
		padding-top: 0;
		padding-bottom: 10px;
		thead {
			tr {
				th {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
		tbody {
			tr {
				td {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
		}
	}
	
	.webkit table {
		padding-top: 0;
		padding-bottom: 10px;
		thead {
			tr {
				th {
					padding-top: 6px;
					padding-bottom: 4px;
				}
			}
		}
		tbody {
			tr {
				td {
					padding-top: 6px;
					padding-bottom: 4px;
				}
			}
		}
	}

}



/****************************************************************************************************/
/* BLOCK FLOAT RESET */
/****************************************************************************************************/

/* Set these to use display-block-float-left scaffolding. */
div, p, table,
h1, h2, h3, h4, h5, h6,
ol, ul, li, dl, dt, dd,
fieldset, legend, form, label, select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	display: block;
	float: left;
	width: 100%;
}



/****************************************************************************************************/
/* BASE STYLES */
/****************************************************************************************************/

html {
	@include font-theme-header-open-sans;	
	@include font-theme-body-open-sans;
}

body {
	width: 100%;
	text-align: center;
	color: $font-color-body;
	
	padding: 0 0 100px 0;
	background: transparent url("../images/line-height.png") repeat 0 0;

}

#page-container {
	float: none;
	width: 990px;
	margin: 0 auto;
	text-align: left;
	@include legacy-pie-clearfix;
}

a { text-decoration: underline; color: $accent-color; cursor: pointer; }
a:hover { text-decoration: none; }
strong { font-weight: bold; }
em { font-style: italic; }

ul,
ol {
	padding-left: 0;
	padding-right: 0;
	li {}
}

ul.lined,
ol.lined {
	padding-left: 0;
	padding-right: 0;
	li {
		padding-left: 0;
		padding-right: 0;
		background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
	}
	li:nth-child(1) {
		background: none;
	}
}

p {
	img.paragraph-icon {
		display: block;
		float: left;
		width: 32px;
		height: 32px;
		margin: 3px 8px 5px 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $font-color-header;
	font-weight: bold;
}



/****************************************************************************************************/
/* BUTTONS */
/****************************************************************************************************/

a.icon-button,
a.cancel-button,
a.button,
button,
input[type="submit"] {
	display: block;
	float: left;
	height: 14px;
	padding-left: 11px;
	padding-right: 11px;
	margin-left: 0;
	margin-right: 10px;
	border-top: 1px solid #a95760;
	border-right: 1px solid #750511;
	border-bottom: 1px solid #55030c;
	border-left: 1px solid #750511;
	color: #ffffff;
	font-weight: bold;
	text-transform: capitalize;
	cursor: pointer;
	text-decoration: none;
	@include border-radius(3px);
	@include box-shadow(0 1px 1px #dd6f62 inset, 0 2px 4px #979797);
	@include background-image(linear-gradient(#b74634, #8e0d07));
	@include text-shadow(0 1px 0 #821a11);
}

a.icon-button {
	padding-left: 31px;
	img {
		position: absolute;
		margin: -2px 0 0 -21px;
	}
}

a.cancel-button {
	border: none;
	padding-left: 8px;
	padding-right: 8px;
	color: $accent-color;
	text-decoration: underline;
	background: transparent;
	@include box-shadow(none);
	@include text-shadow(none);
}

button {
	height: 0;
	padding-left: 8px;
	padding-right: 8px;
}

input[type="submit"] {
	height: 0;
	padding-left: 11px;
	padding-right: 11px;
}

a.icon-button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover {
	text-decoration: none;
	border-top: 1px solid #d56d76;
	border-right: 1px solid #ae252f;
	border-bottom: 1px solid #8c2930;
	border-left: 1px solid #ae252f;
	@include background-image(linear-gradient(#e95746, #c92323));
	@include box-shadow(0 1px 1px #f08475 inset, 0 2px 4px #979797);
	@include text-shadow(0 1px 0 #bc3329);
}

a.icon-button:active,
a.button:active,
button:active,
input[type="submit"]:active {
	position: relative;
	top: 2px;
	border-top: 1px solid #d56d76;
	border-right: 1px solid #ae252f;
	border-bottom: 1px solid #8c2930;
	border-left: 1px solid #ae252f;
	@include background-image(linear-gradient(#c92323, #e95746));
	@include box-shadow(0 1px 1px #f08475 inset, 0 0 4px #979797);
	@include text-shadow(0 1px 0 #bc3329);
}

a.cancel-button:hover { text-decoration: none; }
a.cancel-button:active { position: relative; top: 2px; }



/****************************************************************************************************/
/* COLUMNS */
/****************************************************************************************************/

.column-2,
.column-2-last,
.column-2-box,
.column-2-box-last {
	width: 140px;
	margin: 0 30px 20px 0;
}

.column-3,
.column-3-last,
.column-3-box,
.column-3-box-last {
	width: 225px;
	margin: 0 30px 20px 0;
}

.column-3-box,
.column-3-box-last {
	width: 185px;
	padding: 9px 19px;
	border: 1px solid $font-color-subheader;
}

.column-4,
.column-4-last,
.column-4-box,
.column-4-box-last {
	width: 310px;
	margin: 0 30px 20px 0;
}

.column-4-box,
.column-4-box-last {
	width: 270px;
	padding: 19px;
	border: 1px solid $font-color-subheader;
}

.column-6,
.column-6-last,
.column-6-box,
.column-6-box-last {
	width: 480px;
	margin: 0 30px 20px 0;
}

.column-6-box,
.column-6-box-last {
	width: 440px;
	padding: 19px;
	border: 1px solid $font-color-subheader;
}

.column-8,
.column-8-last {
	width: 650px;
	margin: 0 30px 20px 0;
}

.column-2-last,
.column-3-last,
.column-3-box-last,
.column-4-last,
.column-4-box-last,
.column-6-last,
.column-6-box-last,
.column-8-last {
	margin-right: 0;
}

.section,
.lined-section {
	padding: 0 0 20px 0;
}

.lined-section {
	margin: 0 0 20px 0;
	background: transparent url("../images/dotted-line-horizontal.png") repeat-x bottom left;
}



/****************************************************************************************************/
/* FORMS */
/****************************************************************************************************/

form {}

label {
	width: auto;
	cursor: pointer;
	padding-left: 0;
	padding-right: 0;
}

input[type="radio"],
input[type="checkbox"] {
	display: block;
	float: left;
	margin-left: 0;
	margin-right: 7px;
	position: relative;
	cursor: pointer;
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 209px;
	height: 14px;
	padding-left: 7px;
	padding-right: 7px;
	margin-left: 0;
	margin-right: 10px;
	border: 1px solid $font-color-subheader;
	color: $font-color-body;
	background: transparent;
}

input[type="radio"],
input[type="checkbox"] {
	display: block;
	float: left;
	width: auto;
}

select:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
	border-color: $accent-color;
}

select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: $accent-color;
}

select {
	padding-left: 4px;
	padding-right: 7px;
	height: 33px;
	width: 225px;
	cursor: pointer;
	overflow: visible;
}

textarea {
	height: 54px;
	padding-left: 7px;
	padding-right: 7px;
	resize: vertical;
}

.form {
	.form-row {
		.form-label {
			label {
				font-weight: bold;
				color: $font-color-header;
			}
		}
		.form-input {}
	}
}

ul.form {
	li {
		label {
			padding-left: 0;
			padding-right: 0;
		}
	}
}



/****************************************************************************************************/
/* TABLES */
/****************************************************************************************************/

table {
	padding-left: 0;
	padding-right: 0;
	colgroup {
		col {
			width: 165px;
			background: transparent url("../images/dotted-line-vertical.png") no-repeat 0 0;
		}
		col:nth-child(1) {
			background: none;
		}
	}
	thead {
		tr {
			th {
				padding-left: 10px;
				padding-right: 10px;
				font-weight: bold;
			}
		}
	}
	tbody {
		tr {
			background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
			td {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		tr:nth-child(odd) {
			td {}
		}
		tr:hover {
		}
	}
}























