@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/general/clearfix";



/****************************************************************************************************/
/* THEMES */
/****************************************************************************************************/

/* Color Themes */
$font-color-header: #464646;
$font-color-subheader: #808080;
$font-color-body: #696969;
$accent-color: #bc2215;

/* Font Themes */
$font-family-body: 'Myriad Pro', Helvetica, Arial, sans-serif;
$font-family-headers: 'Myriad Pro', Helvetica, Arial, sans-serif;
$font-size-body: 12px;
$line-height-body: 1.667em;



/****************************************************************************************************/
/* MIXINS */
/****************************************************************************************************/

/* Font-Size + Line Height Mixin */
@mixin font-12-line-20 {
	font-size: 12px;
	line-height: 20px;
	padding: 7px 0 3px 0;
}

@mixin font-14-line-20 {
	font-size: 14px;
	line-height: 20px;
	padding: 6px 0 4px 0;
}

@mixin font-14-line-20-webkit {
	font-size: 14px;
	line-height: 20px;
	padding: 7px 0 3px 0;
}

@mixin font-20-line-30 {
	font-size: 20px;
	line-height: 30px;
	padding: 10px 0;
}

@mixin font-26-line-40 {
	font-size: 26px;
	line-height: 40px;
	padding: 13px 0 17px 0;
}

@mixin font-26-line-40-webkit {
	font-size: 26px;
	line-height: 40px;
	padding: 14px 0 16px 0;
}

.font-12-line-20 {
	@include font-12-line-20;
}

.font-14-line-20 {
	@include font-14-line-20;
}

.webkit .font-14-line-20 {
	@include font-14-line-20-webkit;
}

.font-20-line-30 {
	@include font-20-line-30;
}

.font-26-line-40 {
	@include font-26-line-40;
}

.webkit .font-26-line-40 {
	@include font-26-line-40-webkit;
}



/****************************************************************************************************/
/* RESET */
/****************************************************************************************************/

/* Set these to use display-block-float-left scaffolding. */
div, p, table,
h1, h2, h3, h4, h5, h6,
ol, ul, li, dl, dt, dd,
fieldset, legend, form, label, select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	display: block;
	float: left;
	width: 100%;
}



/****************************************************************************************************/
/* BASE STYLES */
/****************************************************************************************************/

body {
	width: 100%;
	font-size: $font-size-body;
	text-align: center;
	line-height: $line-height-body;
	font-family: $font-family-body;
	color: $font-color-body;
	
	padding: 0 0 100px 0;
	background: transparent url("../images/line-height.png") repeat 0 0;
	
}

#page-container {
	float: none;
	width: 990px;
	margin: 0 auto;
	text-align: left;
	@include legacy-pie-clearfix;
}

a { text-decoration: underline; color: $accent-color; cursor: pointer; }
a:hover { text-decoration: none; }
p { @include font-12-line-20; }
strong { font-weight: bold; }
em { font-style: italic; }

h1, h2, h3, h4, h5, h6 {
	color: $font-color-header;
	font-weight: bold;
}
h1 { font-size: 48px; padding: 18px 0 22px 0; line-height: 60px; }
h2 { font-size: 24px; padding: 4px 0 16px 0; }
h3 { font-size: 14px; padding: 6px 0 4px 0; }
h4 { @include font-12-line-20; }
h5 { @include font-12-line-20; }
h6 { @include font-12-line-20; }

h3.subheader,
h3.lined-subheader {
	padding: 6px 0 8px 0;
	line-height: 14px;
	div {
		margin: 0 0 2px 0;
	}
	span {
	line-height: 10px;
		display: block;
		float: left;
		width: 100%;
		font-size: 10px;
		font-weight: normal;
		color: $font-color-subheader;
	}
}

h3.lined-subheader {
	padding: 6px 0 9px 0;
	margin: 0 0 9px 0;
	background: transparent url("../images/dotted-line-horizontal.png") repeat-x bottom left;
}
		
ul,
ol {
	padding: 7px 0 3px;
	margin: 0 0 10px 0;
	li {}
}

ul.lined,
ol.lined {
	padding: 1px 0 9px 0;
	margin: 0;
	li {
		padding: 6px 0 4px 0;
		background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
	}
	li:nth-child(1) {
		background: none;
	}
}

ol.breadcrumbs {
	width: auto;
	li {
		width: auto;
		margin: 0 5px 0 0;
		span,
		a {
			display: block;
			float: left;
			margin: 0 5px 0 0;
		}
	}
}


/****************************************************************************************************/
/* BUTTONS */
/****************************************************************************************************/

a.cancel-button,
a.button,
button,
input[type="submit"] {
	display: block;
	float: left;
	height: 14px;
	padding: 10px 8px 7px;
	margin: 0 10px 7px 0;
	border-top: 1px solid #a95760;
	border-right: 1px solid #750511;
	border-bottom: 1px solid #55030c;
	border-left: 1px solid #750511;
	color: #ffffff;
	line-height: 1em;
	font-size: $font-size-body;
	font-family: $font-family-body;
	text-transform: capitalize;
	cursor: pointer;
	text-decoration: none;
	@include border-radius(2px);
	@include background-image(linear-gradient(#b74634, #8e0d07));
	@include text-shadow(0 1px 0 #821a11);
}

a.cancel-button {
	border: none;
	padding: 11px 8px 8px;
	color: $accent-color;
	text-decoration: underline;
	background: transparent;
	@include text-shadow(none);
}

button {
	height: 0;
	padding: 9px 5px 22px;
}

input[type="submit"] {
	height: 0;
	padding: 9px 8px 22px;
}

a.button:hover,
button:hover,
input[type="submit"]:hover {
	text-decoration: none;
	border-top: 1px solid #c9606a;
	border-right: 1px solid #9a121b;
	border-bottom: 1px solid #77141c;
	border-left: 1px solid #9a121b;
	@include background-image(linear-gradient(#de4d3a, #b61111));
	@include text-shadow(0 1px 0 #ab2217);
}

a.cancel-button:hover { text-decoration: none; }

a.button:active,
button:active,
input[type="submit"]:active {
	position: relative;
	top: 2px;
	border-top: 1px solid #c9606a;
	border-right: 1px solid #9a121b;
	border-bottom: 1px solid #77141c;
	border-left: 1px solid #9a121b;
	@include background-image(linear-gradient(#b61111, #de4d3a));
	@include text-shadow(0 1px 0 #ab2217);
}



/****************************************************************************************************/
/* TABLES */
/****************************************************************************************************/

table {
	padding: 2px 0 15px 0;
	colgroup {
		col {
			width: 165px;
			background: transparent url("../images/dotted-line-vertical.png") no-repeat 0 0;
		}
		col:nth-child(1) {
			background: none;
		}
	}
	thead {
		tr {
			th {
				padding: 0 10px 3px;
				font-weight: bold;
			}
		}
	}
	tbody {
		tr {
			background: transparent url("../images/dotted-line-horizontal.png") repeat-x 0 0;
			td {
				padding: 12px 10px 8px 10px;
			}
		}
		tr:nth-child(odd) {
			td {}
		}
		tr:hover {
		}
	}
}



/****************************************************************************************************/
/* FORMS */
/****************************************************************************************************/

form {}

label {
	width: auto;
	cursor: pointer;
	font-size: 12px;
	line-height: 1.667em;
	padding: 7px 0 3px 0;
}

select,
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	width: 209px;
	height: 14px;
	padding: 9px 7px 8px 7px;
	margin: 0 10px 7px 0;
	border: 1px solid #000000;
	line-height: $line-height-body;
	font-size: $font-size-body;
	font-family: $font-family-body;
	color: $font-color-body;
	background: transparent;
}

select:hover,
input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
	border-color: $accent-color;
}

select:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: $accent-color;
}

select {
	padding: 8px 7px 8px 4px;
	height: 33px;
	width: 225px;
}

.form {
	.form-row {
		.form-label {}
		.form-input {}
	}
}

ul.form-list {
	li {
		label {
			padding: 0;
		}
		input[type="radio"],
		input[type="checkbox"] {
			display: block;
			float: left;
			margin: 2px 5px 0 0;
			position: relative;
		}
		input[type="radio"] {
			margin: 4px 5px 0 0;
		}
	}
}



/****************************************************************************************************/
/* BROWSER HACKS */
/****************************************************************************************************/

/* Gecko */		.mozilla input::-moz-focus-inner { border: 0; padding: 0; } /* Remove button padding in FF. */
/* Webkit */	.webkit button { padding: 10px 5px 21px; } /* Fix position of text in Button buttons for Webkit */
/* Webkit */	.webkit input[type="submit"] { padding: 10px 8px 21px; } /* Fix position of text in Input buttons for Webkit */
/* Webkit */	.webkit ul.form-list input[type="checkbox"] { margin: 4px 5px 0 0; } /* Fix position of checkbox for Webkit */
/* Webkit */	.webkit h2 { padding: 6px 0 14px 0; } /* Fix padding on h2 for Webkit. */
/* Webkit */	.webkit h3 { padding: 7px 0 3px 0; } /* Fix padding on h3 for Webkit. */
/* Webkit */	.webkit h3.subheader { padding: 6px 0 8px 0; } /* Fix padding on h3 with subheader for Webkit. */
/* Webkit */	.webkit h3.lined-subheader { padding: 6px 0 9px 0; } /* Fix padding on h3 with lined subheader for Webkit. */



/****************************************************************************************************/
/* UTILITY CLASSES */
/****************************************************************************************************/

.column-4,
.column-4-last,
.column-4-box,
.column-4-box-last {
	width: 310px;
	margin: 0 30px 20px 0;
}

.column-3,
.column-3-last,
.column-3-box,
.column-3-box-last {
	width: 225px;
	margin: 0 30px 20px 0;
}

.column-8,
.column-8-last {
	width: 650px;
	margin: 0 30px 20px 0;
}

.column-4-box,
.column-4-box-last {
	width: 270px;
	padding: 19px;
	border: 1px solid $font-color-subheader;
}

.column-3-box,
.column-3-box-last {
	width: 185px;
	padding: 9px 19px;
	border: 1px solid $font-color-subheader;
}

.column-4-last,
.column-4-box-last,
.column-3-last,
.column-3-box-last,
.column-8-last {
	margin-right: 0;
}

.section,
.lined-section {
	padding: 0 0 20px 0;
}

.lined-section {
	margin: 0 0 20px 0;
	background: transparent url("../images/dotted-line-horizontal.png") repeat-x bottom left;
}


