<div id="page-container">

	<div class="lined-section">

		<div class="column-4">
			<h1>H1 Test</h1>
			<h2>H2 Test</h2>
			<h3>H3 Test</h3>
			<h4>H4 Test</h4>
			<h5>H5 Test</h5>
			<h6>H6 Test</h6>
		</div>
		<!-- .column-4 -->
	
		<div class="column-8-last">
			<h5>Some Paragraphs Follow</h5>
			<p>Frankfurter shank t-bone pork loin meatloaf, <a href="#">ham hock</a> brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
			<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
			<p>Frankfurter shank t-bone pork loin meatloaf, <a href="#">ham hock</a> brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey. Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter.</p>
		</div>
		<!-- .column-8-last -->
	
	</div>
	<!-- .lined-section -->
	
	<div class="lined-section">
		<a href="#" class="button">Anchor Tag Button</a>
		<a href="#" class="cancel-button">Cancel Button</a>
		<button>Button Tag Button</button>
		<input type="submit" value="Input Tag Button" />
	</div>
	<!-- .lined-section -->
	
	<div class="lined-section">
		<div class="column-3">
			<h5>Lined Unlinked List</h5>
			<ul class="lined">	
				<li>Unlinked List Item 1</li>
				<li>Unlinked List Item 2</li>
				<li>Unlinked List Item 3</li>
				<li>Unlinked List Item 4</li>
				<li>Unlinked List Item 5</li>
			</ul>
		</div>
		<!-- .column-3 -->
		<div class="column-3">
			<h5>Unlinked List</h5>
			<ul>	
				<li>Unlinked List Item 1</li>
				<li>Unlinked List Item 2</li>
				<li>Unlinked List Item 3</li>
				<li>Unlinked List Item 4</li>
				<li>Unlinked List Item 5</li>
				<li>Unlinked List Item 6</li>
				<li>Unlinked List Item 7</li>
			</ul>
		</div>
		<!-- .column-3 -->
		<div class="column-3">
			<h5>Lined Unlinked List</h5>
			<ul class="lined">	
				<li>Unlinked List Item 1</li>
				<li>Unlinked List Item 2</li>
				<li>Unlinked List Item 3</li>
				<li>Unlinked List Item 4</li>
				<li>Unlinked List Item 5</li>
			</ul>
		</div>
		<!-- .column-3 -->
		<div class="column-3-last">
			<h5>Unlinked List</h5>
			<ul>	
				<li>Unlinked List Item 1</li>
				<li>Unlinked List Item 2</li>
				<li>Unlinked List Item 3</li>
				<li>Unlinked List Item 4</li>
				<li>Unlinked List Item 5</li>
				<li>Unlinked List Item 6</li>
				<li>Unlinked List Item 7</li>
			</ul>
		</div>
		<!-- .column-3-last -->
	</div>
	<!-- .lined-section -->
	
	<div class="lined-section">
		
		<div class="form">
			
			<div class="column-3">
			
				<div class="form-row">
					<div class="form-label">
						<label for="input-text-1">Text Input:</label>
					</div>
					<!-- .form-label -->
					<div class="form-input">
						<input id="input-text-1" type="text" value="Test value." />
					</div>
					<!-- .form-input -->
				</div>
				<!-- .form-row -->
				<div class="form-row">
					<div class="form-label">
						<label for="select-1">Select Box:</label>
					</div>
					<!-- .form-label -->
					<div class="form-input">
						<select id="select-1">
							<option>Option 1</option>
							<option>Option 2</option>
							<option>Option 3</option>
							<option>Option 4</option>
							<option>Option 5</option>
						</select>
					</div>
					<!-- .form-input -->
				</div>
				<!-- .form-row -->
				<div class="form-row">
					<div class="form-label">
						<label for="textarea-1">Text Area</label>
					</div>
					<!-- .form-label -->
					<div class="form-input">
						<textarea id="textarea-1">Test value.</textarea>
					</div>
					<!-- .form-input -->
				</div>
				<!-- .form-row -->
			
			</div>
			<!-- .column-3 -->

			<div class="column-3">

				<ul class="form">
					<li>
						<input id="input-checkbox-1" type="checkbox" name="Checkbox Group." />
						<label for="input-checkbox-1">Checkbox Label 1</label>
					</li>
					<li>
						<input id="input-checkbox-2" type="checkbox" name="Checkbox Group." />
						<label for="input-checkbox-2">Checkbox Label 2</label>
					</li>
					<li>
						<input id="input-checkbox-3" type="checkbox" name="Checkbox Group." />
						<label for="input-checkbox-3">Checkbox Label 3</label>
					</li>
					<li>
						<input id="input-checkbox-4" type="checkbox" name="Checkbox Group." />
						<label for="input-checkbox-4">Checkbox Label 4</label>
					</li>
					<li>
						<input id="input-checkbox-5" type="checkbox" name="Checkbox Group." />
						<label for="input-checkbox-5">Checkbox Label 5</label>
					</li>
				</ul>
				<!-- .form-list -->

				<ul class="form">
					<li>
						<input id="input-radio-1" type="radio" name="Radio Group." />
						<label for="input-radio-1">Radio Label 1</label>
					</li>
					<li>
						<input id="input-radio-2" type="radio" name="Radio Group." />
						<label for="input-radio-2">Radio Label 2</label>
					</li>
					<li>
						<input id="input-radio-3" type="radio" name="Radio Group." />
						<label for="input-radio-3">Radio Label 3</label>
					</li>
					<li>
						<input id="input-radio-4" type="radio" name="Radio Group." />
						<label for="input-radio-4">Radio Label 4</label>
					</li>
					<li>
						<input id="input-radio-5" type="radio" name="Radio Group." />
						<label for="input-radio-5">Radio Label 5</label>
					</li>
				</ul>
				<!-- .form-list -->
			
			</div>
			<!-- .column-3 -->
			
			<div class="column-6-last">

				<div class="form-row">
					<div class="form-label">
						<label for="input-text-2">Text Input With Button</label>
					</div>
					<!-- .form-label -->
					<div class="form-input">
						<input id="input-text-2" type="text" value="Test value." />
						<button>Button Tag Button</button>
					</div>
					<!-- .form-input -->
				</div>
				<!-- .form-row -->
				<div class="form-row">
					<div class="form-label">
						<label for="input-text-3">Text Input With Button</label>
					</div>
					<!-- .form-label -->
					<div class="form-input">
						<input id="input-text-3" type="text" value="Test value." />
						<input type="submit" value="Input Tag Button" />
					</div>
					<!-- .form-input -->
				</div>
				<!-- .form-row -->
				<div class="form-row">
					<div class="form-label">
						<label for="input-text-4">Text Input With Button</label>
					</div>
					<!-- .form-label -->
					<div class="form-input">
						<input id="input-text-4" type="text" value="Test value." />
						<a href="#" class="button">Anchor Tag Button</a>
					</div>
					<!-- .form-input -->
				</div>
				<!-- .form-row -->

			</div>
			<!-- .column-6-last -->
		
		</div>
		<!-- .form -->
		
	</div>
	<!-- .lined-section -->
	
	<div class="lined-section">
	
		<table>
			<col></col>
			<col></col>
			<col></col>
			<col></col>
			<col></col>
			<col></col>
			<thead>
				<tr>
					<th>Column 1:</th>
					<th>Column 2:</th>
					<th>Column 3:</th>
					<th>Column 4:</th>
					<th>Column 5:</th>
					<th>Column 6:</th>
				</tr>
			</thead>
			<tbody>
			  <tr>
			      <td>C1, R1</td>
			      <td>C2, R1</td>
			      <td>C3, R1</td>
			      <td>C4, R1</td>
			      <td>C5, R1</td>
			      <td>C6, R1</td>
			  </tr>
			  <tr>
			      <td>C1, R2</td>
			      <td>C2, R2</td>
			      <td>C3, R2</td>
			      <td>C4, R2</td>
			      <td>C5, R2</td>
			      <td>C6, R2</td>
			  </tr>
			  <tr>
			      <td>C1, R3</td>
			      <td>C2, R3</td>
			      <td>C3, R3</td>
			      <td>C4, R3</td>
			      <td>C5, R3</td>
			      <td>C6, R3</td>
			  </tr>
			</tbody>
		</table>
	
	</div>
	<!-- .lined-section -->
	
</div>
<!-- #page-container -->











