<%= stylesheet_link_tag "empire" %>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />

<div id="top-bar-container">
	
	<div id="top-bar">
		
		<a href="#" id="logo">&nbsp;</a>
		
		<a href="#" class="button"><span>Sign Up</span> Today!</a>
		
		<ul id="navigation">
			<li><a href="#">Home</a></li>
			<li><a href="#" class="current">Templates</a></li>
			<li><a href="#">Layouts</a></li>
			<li><a href="#">Shortcodes</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<!-- #navigation -->
		
	</div>
	<!-- #top-bar -->
	
</div>
<!-- #top-bar-container -->

<div id="banner-container">
		
	<div id="header">
		<h1>Testimonials</h1>
		<ol id="breadcrumbs">
			<li><a href="#">Empire Home</a>&raquo;</li>
			<li><a href="#">Templates</a>&raquo;</li>
			<li><span>Testimonials</span></li>
		</ol>
		<!-- #breadcrumbs -->
	</div>
	<!-- #header -->
	
</div>
<!-- #banner-container -->

<div id="content-container">
	
	<div id="content">

		<div class="column-8">

			<div class="lined-section">
				<h4>From Our Users:</h4>
				<blockquote>"Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye."</blockquote>
				<p class="quote-source">
					<strong>- Karen Andrews,</strong> <em>User Since 2009</em>
				</p>
				<!-- .quote-source -->
			</div>
			<!-- .lined-section -->
			
			<div class="lined-section">
				<h4>From The Wall Street Journal:</h4>
				<blockquote>"Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye."</blockquote>
				<p class="quote-source">
					<strong>- Phillip Martine,</strong> <em>Wall Street Journal</em>
				</p>
				<!-- .quote-source -->
			</div>
			<!-- .lined-section -->
			
			<div class="lined-section">
				<h4>From The BBC:</h4>
				<blockquote>"Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye."</blockquote>
				<p class="quote-source">
					<strong>- Kenneth Yarly,</strong> <em>British Broadcasting Corporation</em>
				</p>
				<!-- .quote-source -->
			</div>
			<!-- .lined-section -->
			
			
			<div class="lined-section">
				<h4>From TechCrunch:</h4>
				<blockquote>"Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye."</blockquote>
				<p class="quote-source">
					<strong>- Cameron Travers,</strong> <em>TechCrunch</em>
				</p>
				<!-- .quote-source -->
			</div>
			<!-- .lined-section -->
			
			<div class="section">
				<h4>From The New York Times:</h4>
				<blockquote>"Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye."</blockquote>
				<p class="quote-source">
					<strong>- Sarah Reardin,</strong> <em>Associated Press</em>
				</p>
				<!-- .quote-source -->
			</div>
			<!-- .section -->

		</div>
		<!-- .column-8 -->
		
		<div class="sidebar-right">
			
			<div class="section">
				<h4>Search Archive</h4>
				<input id="search-input" type="text" value="Search ..." />
				<input id="search-button" type="submit" value="Run Search!" />
			</div>
			<!-- .section -->
			
			<div class="section">
				<h4>Categories</h4>
				<ul class="lined categories">
					<li><a href="#">Top Stories</a></li>
					<li><a href="#">World News</a></li>
					<li><a href="#">Entertainment</a></li>
					<li><a href="#">Science &amp; Technology</a></li>
					<li><a href="#">Sports</a></li>
					<li><a href="#">Health</a></li>
				</ul>
				<!-- .lined -->
			</div>
			<!-- .section -->
			
			<h4>Recent Articles</h4>
			<ul class="lined-large">
				<li class="thumbnail">
					<img src="/images/thumbnail.png" alt="Sample thumbnail image." />
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<!-- .thumbnail -->
				<li class="thumbnail">
					<img src="/images/thumbnail.png" alt="Sample thumbnail image." />
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<!-- .thumbnail -->
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined-large -->

		</div>
		<!-- .sidebar-right -->
		
	</div>
	<!-- #content -->
	
</div>
<!-- #content-container -->

<div id="footer-container">
	
	<div id="footer">
		
		<div class="column-3">
			<h4>Recent Articles</h4>
			<ul class="lined-large">
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Meta Content</h4>
			<ul class="lined">
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Entries RSS</a></li>
				<li><a href="#">Comments RSS</a></li>
				<li><a href="#">WordPress.org</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Contact Us</h4>
			<ul class="lined">
				<li>
					<strong>T:</strong>&nbsp;&nbsp;(770) 448 - 2332<br />
					<strong>F:</strong>&nbsp;&nbsp;(770) 328 - 3008
				</li>
				<li>
					3204 American Way<br />
					Suite #1700<br />
					Atlanta, GA 30302
				</li>
				<li>
					<a href="#">http://www.widgetcorp.com/</a>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3-last">
			<h4>Send Us Feedback</h4>
			<input type="email" value="Email Address" />
			<textarea>Tell us what you think!</textarea>
			<input type="submit" value="Send Message" />
		</div>
		<!-- .column-3-last -->
		
		<div id="footer-bar">
			<p>&copy; 2011 <a href="#">Widgetcorp LLC</a></p>
			<ul id="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Templates</a></li>
				<li><a href="#">Layouts</a></li>
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<!-- #footer-nav -->
		</div>
		<!-- #footer-bar -->
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














