<%= stylesheet_link_tag "empire" %>
<!--<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />-->

<div id="top-bar-container">
	
	<div id="top-bar">
		
		<a href="#" id="logo">&nbsp;</a>
		
		<a href="#" class="button"><span>Sign Up</span> Today!</a>
		
		<ul id="navigation">
			<li><a href="#">Home</a></li>
			<li><a href="#">Templates</a></li>
			<li><a href="#" class="current">Layouts</a></li>
			<li><a href="#">Shortcodes</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<!-- #navigation -->
		
	</div>
	<!-- #top-bar -->
	
</div>
<!-- #top-bar-container -->

<div id="banner-container">
		
	<div id="header">
		<h1>Pricing Table</h1>
		<ol id="breadcrumbs">
			<li><a href="#">Empire Home</a>&raquo;</li>
			<li><a href="#">Layouts</a>&raquo;</li>
			<li><span>Pricing Table</span></li>
		</ol>
		<!-- #breadcrumbs -->
	</div>
	<!-- #header -->
	
</div>
<!-- #banner-container -->

<div id="content-container">
	
	<div id="content">

		<div class="lined-section">
			
			<div class="section">
				<h3>Check out this gorgeous pricing table!</h3>
				<p>This pricing table is built from a standard table and will stretch to accommodate a variety of pricing plans!</p>
			</div>
			<!-- .section -->
			
			<table class="pricing">
				<col></col>
				<col></col>
				<col></col>
				<col></col><!-- This column contains the featured price tier. -->
				<col></col>
				<col></col>
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th>
							<div class="price-level">
								Tier 1
							</div>
							<!-- .price-level -->
							<div class="price-value">
								$5
							</div>
							<!-- .price-value -->
							<div class="price-recurrent">
								per month
							</div>
							<!-- .price-recurrent -->
						</th>
						<th>
							<div class="price-level">
								Tier 2
							</div>
							<!-- .price-level -->
							<div class="price-value">
								$15
							</div>
							<!-- .price-value -->
							<div class="price-recurrent">
								per month
							</div>
							<!-- .price-recurrent -->
							</th>
						<th class="price-featured">
							<div class="price-level">
								Tier 3
							</div>
							<!-- .price-level -->
							<div class="price-value">
								$25
							</div>
							<!-- .price-value -->
							<div class="price-recurrent">
								per month
							</div>
							<!-- .price-recurrent -->
						</th>
						<th>
							<div class="price-level">
								Tier 4
							</div>
							<!-- .price-level -->
							<div class="price-value">
								$35
							</div>
							<!-- .price-value -->
							<div class="price-recurrent">
								per month
							</div>
							<!-- .price-recurrent -->
						</th>
						<th>
							<div class="price-level">
								Tier 5
							</div>
							<!-- .price-level -->
							<div class="price-value">
								$45
							</div>
							<!-- .price-value -->
							<div class="price-recurrent">
								per month
							</div>
							<!-- .price-recurrent -->
						</th>
					</tr>
				</thead>
				<tbody>
				  <tr>
			      <td>Storage</td>
			      <td>64GB</td>
			      <td>128GB</td>
			      <td class="price-featured">256GB</td>
			      <td>512GB</td>
			      <td>1024GB</td>
				  </tr>
				  <tr>
			      <td>Memory</td>
			      <td>2GB</td>
			      <td>4GB</td>
			      <td class="price-featured">8GB</td>
			      <td>16GB</td>
			      <td>32GB</td>
				  </tr>
				  <tr>
			      <td>Clock Speed</td>
			      <td>1.6GHz</td>
			      <td>1.6GHz</td>
			      <td class="price-featured">2.33GHz</td>
			      <td>2.66GHz</td>
			      <td>2.66GHz</td>
				  </tr>
				  <tr>
			      <td>Graphics</td>
			      <td>Integrated</td>
			      <td>Integrated</td>
			      <td class="price-featured">Intel</td>
			      <td>Intel</td>
			      <td>Intel</td>
				  </tr>
				  <tr class="pricing-boolean">
			      <td>Support?</td>
			      <td><img src="/images/pricing-no.png" alt="Feature not present." /></td>
			      <td><img src="/images/pricing-yes.png" alt="Feature present." /></td>
			      <td class="price-featured"><img src="/images/pricing-yes.png" alt="Feature present." /></td>
			      <td><img src="/images/pricing-yes.png" alt="Feature present." /></td>
			      <td><img src="/images/pricing-yes.png" alt="Feature present." /></td>
				  </tr>
				  <tr class="pricing-boolean">
			      <td>Metal Body?</td>
			      <td><img src="/images/pricing-no.png" alt="Feature not present." /></td>
			      <td><img src="/images/pricing-no.png" alt="Feature not present." /></td>
			      <td class="price-featured"><img src="/images/pricing-yes.png" alt="Feature present." /></td>
			      <td><img src="/images/pricing-yes.png" alt="Feature present." /></td>
			      <td><img src="/images/pricing-yes.png" alt="Feature present." /></td>
				  </tr>
				  <tr class="pricing-boolean">
			      <td>Thunderbolt?</td>
			      <td><img src="/images/pricing-no.png" alt="Feature not present." /></td>
			      <td><img src="/images/pricing-no.png" alt="Feature not present." /></td>
			      <td class="price-featured"><img src="/images/pricing-no.png" alt="Feature not present." /></td>
			      <td><img src="/images/pricing-yes.png" alt="Feature present." /></td>
			      <td><img src="/images/pricing-yes.png" alt="Feature present." /></td>
				  </tr>
				  <tr class="pricing-buttons">
			      <td class="pricing-empty">&nbsp;</td>
			      <td><a href="#" class="button">Buy This</a></td>
			      <td><a href="#" class="button">Buy This</a></td>
			      <td class="price-featured"><div><a href="#" class="button">Buy This</a></div></td>
			      <td><a href="#" class="button">Buy This</a></td>
			      <td><a href="#" class="button">Buy This</a></td>
				  </tr>
				</tbody>
			</table>
			
		</div>
		<!-- .lined-section -->
		
		<div class="section">
			
			<div class="section">
				<h3>Well also offer this alternative pricing layout!</h3>
				<p>This is an alternative layout for people who are looking for something a little different. The columns are also a bit wider, so they accommodate more data!</p>
			</div>
			<!-- .section -->
			
			<div class="lined-section">
			
				<div class="pricing-box">
					<div class="price-level">
						Basic Plan
					</div>
					<!-- .price-level -->
					<div class="price-value">
						$5
					</div>
					<!-- .price-value -->
					<div class="price-recurrent">
						per month
					</div>
					<!-- .price-recurrent -->
					<ul class="price-specs">
						<li>64GB Storage</li>
						<li>2GB RAM</li>
						<li>1.6GHz Clock Speed</li>
						<li>Integrated Graphics</li>
					</ul>
					<!-- .price-specs -->
					<div>
						<a href="#" class="button">Purchase This Plan</a>
					</div>
				</div>
				<!-- .pricing-box -->
			
				<div class="pricing-box">
					<img src="/images/pricing-tag.png" class="pricing-tag" alt="Popular!" />
					<div class="price-level">
						Standard Plan
					</div>
					<!-- .price-level -->
					<div class="price-value">
						$15
					</div>
					<!-- .price-value -->
					<div class="price-recurrent">
						per month
					</div>
					<!-- .price-recurrent -->
					<ul class="price-specs">
						<li>128GB Storage</li>
						<li>4GB RAM</li>
						<li>1.6GHz Clock Speed</li>
						<li>Integrated Graphics</li>
					</ul>
					<!-- .price-specs -->
					<div>
						<a href="#" class="button">Purchase This Plan</a>
					</div>
				</div>
				<!-- .pricing-box -->
			
				<div class="pricing-box">
					<div class="price-level">
						Deluxe Plan
					</div>
					<!-- .price-level -->
					<div class="price-value">
						$25
					</div>
					<!-- .price-value -->
					<div class="price-recurrent">
						per month
					</div>
					<!-- .price-recurrent -->
					<ul class="price-specs">
						<li>256GB Storage</li>
						<li>8GB RAM</li>
						<li>2.33GHz Clock Speed</li>
						<li>Intel Graphics</li>
					</ul>
					<!-- .price-specs -->
					<div>
						<a href="#" class="button">Purchase This Plan</a>
					</div>
				</div>
				<!-- .pricing-box -->
			
				<div class="pricing-box-last">
					<div class="price-level">
						Premium Plan
					</div>
					<!-- .price-level -->
					<div class="price-value">
						$35
					</div>
					<!-- .price-value -->
					<div class="price-recurrent">
						per month
					</div>
					<!-- .price-recurrent -->
					<ul class="price-specs">
						<li>512GB Storage</li>
						<li>16GB RAM</li>
						<li>2.66GHz Clock Speed</li>
						<li>Intel Graphics</li>
					</ul>
					<!-- .price-specs -->
					<div>
						<a href="#" class="button">Purchase This Plan</a>
					</div>
				</div>
				<!-- .pricing-box-last -->
				
			</div>
			<!-- .lined-section -->
			
			<div class="lined-section">
			
				<div class="pricing-box-large">
					<div class="price-level">
						Standard Plan
					</div>
					<!-- .price-level -->
					<div class="price-value">
						$15
					</div>
					<!-- .price-value -->
					<div class="price-recurrent">
						per month
					</div>
					<!-- .price-recurrent -->
					<ul class="price-specs">
						<li>128GB Storage</li>
						<li>4GB RAM</li>
						<li>1.6GHz Clock Speed</li>
						<li>Integrated Graphics</li>
					</ul>
					<!-- .price-specs -->
					<div>
						<a href="#" class="button">Purchase This Plan</a>
					</div>
				</div>
				<!-- .pricing-box-large -->
			
				<div class="pricing-box-large">
					<img src="/images/pricing-tag.png" class="pricing-tag" alt="Popular!" />
					<div class="price-level">
						Deluxe Plan
					</div>
					<!-- .price-level -->
					<div class="price-value">
						$25
					</div>
					<!-- .price-value -->
					<div class="price-recurrent">
						per month
					</div>
					<!-- .price-recurrent -->
					<ul class="price-specs">
						<li>256GB Storage</li>
						<li>8GB RAM</li>
						<li>2.33GHz Clock Speed</li>
						<li>Intel Graphics</li>
					</ul>
					<!-- .price-specs -->
					<div>
						<a href="#" class="button">Purchase This Plan</a>
					</div>
				</div>
				<!-- .pricing-box-large -->
			
				<div class="pricing-box-large-last">
					<div class="price-level">
						Premium Plan
					</div>
					<!-- .price-level -->
					<div class="price-value">
						$35
					</div>
					<!-- .price-value -->
					<div class="price-recurrent">
						per month
					</div>
					<!-- .price-recurrent -->
					<ul class="price-specs">
						<li>512GB Storage</li>
						<li>16GB RAM</li>
						<li>2.66GHz Clock Speed</li>
						<li>Intel Graphics</li>
					</ul>
					<!-- .price-specs -->
					<div>
						<a href="#" class="button">Purchase This Plan</a>
					</div>
				</div>
				<!-- .pricing-box-large-last -->
				
			</div>
			<!-- .lined-section -->
			
		</div>
		<!-- .section -->
		
	</div>
	<!-- #content -->
	
</div>
<!-- #content-container -->

<div id="footer-container">
	
	<div id="footer">
		
		<div class="column-3">
			<h4>Recent Articles</h4>
			<ul class="lined-large">
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Meta Content</h4>
			<ul class="lined">
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Entries RSS</a></li>
				<li><a href="#">Comments RSS</a></li>
				<li><a href="#">WordPress.org</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Contact Us</h4>
			<ul class="lined">
				<li>
					<strong>T:</strong>&nbsp;&nbsp;(770) 448 - 2332<br />
					<strong>F:</strong>&nbsp;&nbsp;(770) 328 - 3008
				</li>
				<li>
					3204 American Way<br />
					Suite #1700<br />
					Atlanta, GA 30302
				</li>
				<li>
					<a href="#">http://www.widgetcorp.com/</a>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3-last">
			<h4>Send Us Feedback</h4>
			<input type="email" value="Email Address" />
			<textarea>Tell us what you think!</textarea>
			<input type="submit" value="Send Message" />
		</div>
		<!-- .column-3-last -->
		
		<div id="footer-bar">
			<p>&copy; 2011 <a href="#">Widgetcorp LLC</a></p>
			<ul id="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Templates</a></li>
				<li><a href="#">Layouts</a></li>
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<!-- #footer-nav -->
		</div>
		<!-- #footer-bar -->
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->