<%= stylesheet_link_tag "empire" %>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />

<div id="top-bar-container">
	
	<div id="top-bar">
		
		<a href="#" id="logo">&nbsp;</a>
		
		<a href="#" class="button"><span>Sign Up</span> Today!</a>
		
		<ul id="navigation">
			<li><a href="#">Home</a></li>
			<li><a href="#">Templates</a></li>
			<li><a href="#">Layouts</a></li>
			<li><a href="#">Shortcodes</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<!-- #navigation -->
		
	</div>
	<!-- #top-bar -->
	
</div>
<!-- #top-bar-container -->

<div id="banner-container">
	
	<div id="banner">
		
		<div id="hero-image">
			<img src="/images/hero-image.png" alt="Hero image." />
		</div>
		<!-- #hero-image -->
		
		<blockquote>"The BEST template on the web today!" <span>- Our Moms</span></blockquote>
		
		<div class="section">
			
			<div class="column-4">
				<h3>Professional Design</h3>
				<p><img src="/images/paragraph-icon.png" class="paragraph-icon" />Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken.</p>
				<p><a href="#" class="learn-more">Learn more!</a></p>
			</div>
			<!-- .column-4 -->
			
			<div class="column-4">
				<h3>Full-Featured Theme</h3>
				<p><img src="/images/paragraph-icon.png" class="paragraph-icon" />Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken.</p>
				<p><a href="#" class="learn-more">Learn more!</a></p>
			</div>
			<!-- .column-4 -->
			
			<div class="column-4-last">
				<h3>High-Quality Code</h3>
				<p><img src="/images/paragraph-icon.png" class="paragraph-icon" />Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken.</p>
				<p><a href="#" class="learn-more">Learn more!</a></p>
			</div>
			<!-- .column-4-last -->
			
		</div>
		<!-- .section -->
		
	</div>
	<!-- #banner -->
	
</div>
<!-- #banner-container -->

<div id="content-container">
	
	<div id="content">
		
		<div class="column-8">

			<div class="lined-section">
				<h3 class="article-title">The Title of the Article</h3>
				<h4 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h4>
				<p>Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken beef biltong. Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
				<p>Turkey bacon sausage jowl, tail andouille pig. Salami fatback tenderloin meatloaf. Pig beef ribs salami strip steak. Rump beef tongue, beef ribs hamburger leberkäse capicola ham hock turkey chicken. Spare ribs andouille pork belly capicola, t-bone boudin shoulder prosciutto flank jerky meatloaf pancetta. Jowl pork ribeye, venison short ribs filet mignon shankle bacon drumstick tail turkey hamburger boudin. Short loin chuck drumstick, meatloaf bresaola sirloin boudin swine.</p>
			</div>
			<!-- .lined-section -->

			<div class="section">
				<h3 class="article-title">The Title of the Article</h3>
				<h4 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h4>
				<p>Bresaola tongue ribeye, turkey short ribs shank cow pancetta jowl pastrami drumstick biltong rump kielbasa pig. Flank chicken short loin kielbasa, ball tip frankfurter pork belly drumstick bacon strip steak spare ribs ribeye. Chicken spare ribs boudin, meatball capicola turducken beef biltong. Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
				<p>Turkey bacon sausage jowl, tail andouille pig. Salami fatback tenderloin meatloaf. Pig beef ribs salami strip steak. Rump beef tongue, beef ribs hamburger leberkäse capicola ham hock turkey chicken. Spare ribs andouille pork belly capicola, t-bone boudin shoulder prosciutto flank jerky meatloaf pancetta. Jowl pork ribeye, venison short ribs filet mignon shankle bacon drumstick tail turkey hamburger boudin. Short loin chuck drumstick, meatloaf bresaola sirloin boudin swine.</p>
			</div>
			<!-- .section -->

		</div>
		<!-- .column-8 -->
		
		<div class="column-4-last">
			<h4>Recent Articles</h4>
			<ul class="lined-large">
				<li class="thumbnail">
					<img src="/images/thumbnail.png" alt="Sample thumbnail image." />
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<!-- .thumbnail -->
				<li class="thumbnail">
					<img src="/images/thumbnail.png" alt="Sample thumbnail image." />
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<!-- .thumbnail -->
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-4-last -->
		
	</div>
	<!-- #content -->
	
</div>
<!-- #content-container -->

<div id="footer-container">
	
	<div id="footer">
		
		<div class="column-3">
			<h4 style="margin-bottom: 0;">Recent Articles</h4>
			<ul class="lined-large">
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> Elizabeth&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Meta Content</h4>
			<ul class="lined">
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Entries RSS</a></li>
				<li><a href="#">Comments RSS</a></li>
				<li><a href="#">WordPress.org</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Contact Us</h4>
			<ul class="lined">
				<li>
					<strong>T:</strong>&nbsp;&nbsp;(770) 448 - 2332<br />
					<strong>F:</strong>&nbsp;&nbsp;(770) 328 - 3008
				</li>
				<li>
					3204 American Way<br />
					Suite #1700<br />
					Atlanta, GA 30302
				</li>
				<li>
					<a href="#">http://www.widgetcorp.com/</a>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3-last">
			<h4>Send Us Feedback</h4>
			<input type="email" value="Email Address" />
			<textarea>Tell us what you think!</textarea>
			<input type="submit" value="Send Message" />
		</div>
		<!-- .column-3-last -->
		
		<div id="footer-bar">
			<p>&copy; 2011 <a href="#">Widgetcorp LLC</a></p>
			<ul id="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Templates</a></li>
				<li><a href="#">Layouts</a></li>
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<!-- #footer-nav -->
		</div>
		<!-- #footer-bar -->
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














