<%= stylesheet_link_tag "empire" %>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />

<div id="top-bar-container">
	
	<div id="top-bar">
		
		<a href="#" id="logo">&nbsp;</a>
		
		<a href="#" class="button"><span>Sign Up</span> Today!</a>
		
		<ul id="navigation">
			<li><a href="#">Home</a></li>
			<li><a href="#" class="current">Templates</a></li>
			<li><a href="#">Layouts</a></li>
			<li><a href="#">Shortcodes</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<!-- #navigation -->
		
	</div>
	<!-- #top-bar -->
	
</div>
<!-- #top-bar-container -->

<div id="banner-container">
		
	<div id="header">
		<h1>Frequently Asked Questions</h1>
		<ol id="breadcrumbs">
			<li><a href="#">Empire Home</a>&raquo;</li>
			<li><a href="#">Templates</a>&raquo;</li>
			<li><span>Frequently Asked Questions</span></li>
		</ol>
		<!-- #breadcrumbs -->
	</div>
	<!-- #header -->
	
</div>
<!-- #banner-container -->

<div id="content-container">
	
	<div id="content">

		<div class="column-8">
			<div class="lined-section">
				<div class="column-4-box">
					<h4>List of Questions</h4>
					<ul class="lined">
						<li>1. <a href="#faq-1">What's so great about this template?</a></li>
						<li>2. <a href="#faq-2">Why should I buy this template?</a></li>
						<li>3. <a href="#faq-3">Can I customize this template?</a></li>
						<li>4. <a href="#faq-4">Does this template have everyhting I need?</a></li>
						<li>5. <a href="#faq-5">What more could I want?</a></li>
					</ul>
					<!-- .lined -->
				</div>
				<!-- .column-4-box -->
			</div>
			<!-- .lined-section -->
			
			<div id="faq-1" class="lined-section">
				<h3>1. What's so great about this template?</h3>
				<p>Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
				<div class="article-options">
					<p><a href="#">Back to the top!</a></p>
				</div>
				<!-- .article-options -->
			</div>
			<!-- .lined-section -->
			
			<div id="faq-2" class="lined-section">
				<h3>2. Why should I buy this template?</h3>
				<p>Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
				<div class="article-options">
					<p><a href="#">Back to the top!</a></p>
				</div>
				<!-- .article-options -->
			</div>
			<!-- .lined-section -->
			
			<div id="faq-3" class="lined-section">
				<h3>3. Can I customize this template?</h3>
				<p>Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
				<div class="article-options">
					<p><a href="#">Back to the top!</a></p>
				</div>
				<!-- .article-options -->
			</div>
			<!-- .lined-section -->
			
			<div id="faq-4" class="lined-section">
				<h3>4. Does this template have everything I need?</h3>
				<p>Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
				<div class="article-options">
					<p><a href="#">Back to the top!</a></p>
				</div>
				<!-- .article-options -->
			</div>
			<!-- .lined-section -->
			
			<div id="faq-5" class="section">
				<h3>5. What more could I want?</h3>
				<p>Beef corned beef andouille shank swine. Tenderloin turkey bresaola, shankle swine shank sirloin ball tip filet mignon ham hock beef. Chuck tri-tip pastrami tenderloin, pork chop hamburger pork belly meatloaf salami jowl venison meatball rump beef ribs turkey. Pastrami chicken pork chop cow bresaola, flank beef ribs.</p>
				<div class="article-options">
					<p><a href="#">Back to the top!</a></p>
				</div>
				<!-- .article-options -->
			</div>
			<!-- .section -->
			
		</div>
		<!-- .column-8 -->
		
		<div class="sidebar-right">
			
			<div class="section">
				<h4>Search Archive</h4>
				<input id="search-input" type="text" value="Search ..." />
				<input id="search-button" type="submit" value="Run Search!" />
			</div>
			<!-- .section -->
			
			<div class="section">
				<h4>Categories</h4>
				<ul class="lined categories">
					<li><a href="#">Top Stories</a></li>
					<li><a href="#">World News</a></li>
					<li><a href="#">Entertainment</a></li>
					<li><a href="#">Science &amp; Technology</a></li>
					<li><a href="#">Sports</a></li>
					<li><a href="#">Health</a></li>
				</ul>
				<!-- .lined -->
			</div>
			<!-- .section -->
			
			<div class="section">
				<h4>Comments</h4>
				<ul class="lined comments">
					<li>
						<blockquote>
							<a href="#">"I love the way Facebook Timeline organizes life events. It's so much better than ..."</a>
						</blockquote>
						<div class="commenter">- <a href="#">Scott P. Wright</a></div>
					</li>
					<li>
						<blockquote>
							<a href="#">"I love the way Facebook Timeline organizes life events. It's so much better than ..."</a>
						</blockquote>
						<div class="commenter">- <a href="#">Scott P. Wright</a></div>
					</li>
					<li>
						<blockquote>
							<a href="#">"I love the way Facebook Timeline organizes life events. It's so much better than ..."</a>
						</blockquote>
						<div class="commenter">- <a href="#">Scott P. Wright</a></div>
					</li>
					<li>
						<blockquote>
							<a href="#">"I love the way Facebook Timeline organizes life events. It's so much better than ..."</a>
						</blockquote>
						<div class="commenter">- <a href="#">Scott P. Wright</a></div>
					</li>
				</ul>
				<!-- .lined -->
			</div>
			<!-- .section -->
			
			<h4>Recent Articles</h4>
			<ul class="lined-large">
				<li class="thumbnail">
					<img src="/images/thumbnail.png" alt="Sample thumbnail image." />
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<!-- .thumbnail -->
				<li class="thumbnail">
					<img src="/images/thumbnail.png" alt="Sample thumbnail image." />
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<!-- .thumbnail -->
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined-large -->

		</div>
		<!-- .sidebar-right -->
		
	</div>
	<!-- #content -->
	
</div>
<!-- #content-container -->

<div id="footer-container">
	
	<div id="footer">
		
		<div class="column-3">
			<h4>Recent Articles</h4>
			<ul class="lined-large">
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Meta Content</h4>
			<ul class="lined">
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Entries RSS</a></li>
				<li><a href="#">Comments RSS</a></li>
				<li><a href="#">WordPress.org</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Contact Us</h4>
			<ul class="lined">
				<li>
					<strong>T:</strong>&nbsp;&nbsp;(770) 448 - 2332<br />
					<strong>F:</strong>&nbsp;&nbsp;(770) 328 - 3008
				</li>
				<li>
					3204 American Way<br />
					Suite #1700<br />
					Atlanta, GA 30302
				</li>
				<li>
					<a href="#">http://www.widgetcorp.com/</a>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3-last">
			<h4>Send Us Feedback</h4>
			<input type="email" value="Email Address" />
			<textarea>Tell us what you think!</textarea>
			<input type="submit" value="Send Message" />
		</div>
		<!-- .column-3-last -->
		
		<div id="footer-bar">
			<p>&copy; 2011 <a href="#">Widgetcorp LLC</a></p>
			<ul id="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Templates</a></li>
				<li><a href="#">Layouts</a></li>
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<!-- #footer-nav -->
		</div>
		<!-- #footer-bar -->
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














