<%= stylesheet_link_tag "empire" %>
<link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400|Open+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />

<div id="top-bar-container">
	
	<div id="top-bar">
		
		<a href="#" id="logo">&nbsp;</a>
		
		<a href="#" class="button"><span>Sign Up</span> Today!</a>
		
		<ul id="navigation">
			<li><a href="#">Home</a></li>
			<li><a href="#" class="current">Templates</a></li>
			<li><a href="#">Layouts</a></li>
			<li><a href="#">Shortcodes</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
		<!-- #navigation -->
		
	</div>
	<!-- #top-bar -->
	
</div>
<!-- #top-bar-container -->

<div id="banner-container">
		
	<div id="header">
		<h1>Contact Us</h1>
		<ol id="breadcrumbs">
			<li><a href="#">Empire Home</a>&raquo;</li>
			<li><a href="#">Templates</a>&raquo;</li>
			<li><span>Contact Us</span></li>
		</ol>
		<!-- #breadcrumbs -->
	</div>
	<!-- #header -->
	
</div>
<!-- #banner-container -->

<div id="content-container">
	
	<div id="content">

		<div class="column-8">

			<div class="lined-section">
				<h3>We'd love to hear from you.</h3>
				<p>Turkey bacon sausage jowl, tail andouille pig. Salami fatback tenderloin meatloaf. Pig beef ribs salami strip steak. Rump beef tongue, beef ribs hamburger leberkäse capicola ham hock turkey chicken. Spare ribs andouille pork belly capicola, t-bone boudin shoulder prosciutto flank jerky meatloaf pancetta. Jowl pork ribeye, venison short ribs filet mignon shankle bacon drumstick tail turkey hamburger boudin. Short loin chuck drumstick, meatloaf bresaola sirloin boudin swine.</p>
			</div>
			<!-- .lined-section -->

			<div class="section">
				
				<div class="form">

					<div class="section">
						
						<div class="form-row">
							<div class="form-label">
								<label for="contact-us-name">Name: <span>(Required field.)</span></label>
							</div>
							<!-- .form-label -->
							<div class="form-input">
								<input id="contact-us-name" type="text" />
							</div>
							<!-- .form-input -->
						</div>
						<!-- .form-row -->
						<div class="form-row">
							<div class="form-label">
								<label for="contact-us-email">Email: <span>(Required field.)</span></label>
							</div>
							<!-- .form-label -->
							<div class="form-input">
								<input id="contact-us-email" type="text" />
							</div>
							<!-- .form-input -->
						</div>
						<!-- .form-row -->
						<div class="form-row">
							<div class="form-label">
								<label for="contact-us-message">Message: <span>(Required field.)</span></label>
							</div>
							<!-- .form-label -->
							<div class="form-input">
								<textarea id="contact-us-message"></textarea>
							</div>
							<!-- .form-input -->
						</div>
						<!-- .form-row -->

						<ul class="form">
							<li>
								<input id="contact-us-newsletter" type="checkbox" name="Checkbox Group." checked />
								<label for="contact-us-newsletter">Keep me updated on exciting Widgetcorp LLC news.</label>
							</li>
							<li>
								<input id="contact-us-copy" type="checkbox" name="Checkbox Group." />
								<label for="contact-us-copy">Send me a copy of this to my email.</label>
							</li>
						</ul>
						<!-- .form-list -->
					
					</div>
					<!-- .section -->

					<div class="form-row">
						<input type="submit" value="Send my message!" />
					</div>
					<!-- .form-row -->

				</div>
				<!-- .form -->

			</div>
			<!-- .section -->

		</div>
		<!-- .column-8 -->
		
		<div class="sidebar-right">

			<div class="lined-section">
				<h4>Visit Us!</h4>
				<iframe style="margin: 10px 0 5px 0;" width="280px" height="200px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Atlanta,+GA&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,76.464844&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Atlanta,+Fulton,+Georgia&amp;t=m&amp;z=12&amp;ll=33.748995,-84.387982&amp;output=embed"></iframe><br /><small></small>
				<p>Is this map too small? View it on <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Atlanta,+GA&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=47.569986,76.464844&amp;vpsrc=0&amp;ie=UTF8&amp;hq=&amp;hnear=Atlanta,+Fulton,+Georgia&amp;t=m&amp;z=12&amp;ll=33.748995,-84.387982">Google Maps</a>.</p>
			</div>
			<!-- .lined-section -->
			
			<div class="section">
				<h4>Reach Us Oldschool</h4>
				<p>
					<strong>Widgetcorp LLC</strong><br/ >
					3204 American Way<br />
					Suite #1700<br />
					Atlanta, GA 30302
				</p>
				<p>
					<strong>T:</strong>&nbsp;&nbsp;(770) 448 - 2332<br />
					<strong>F:</strong>&nbsp;&nbsp;(770) 328 - 3008
				</p>
				<p>
					<a href="#">http://www.widgetcorp.com/</a>
					<a href="#">http://www.widgetcorp.org/</a>
				</p>
			</div>
			<!-- .section -->

		</div>
		<!-- .sidebar-right -->
		
	</div>
	<!-- #content -->
	
</div>
<!-- #content-container -->

<div id="footer-container">
	
	<div id="footer">
		
		<div class="column-3">
			<h4>Recent Articles</h4>
			<ul class="lined-large">
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
				<li>
					<h5 class="article-title"><a href="#">The Title of an Interesting Article</a></h5>
					<h6 class="article-subtitle"><span>by</span> <a href="#">Elizabeth</a>&nbsp;&nbsp;|&nbsp;&nbsp;January 5th, 2011</h6>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Meta Content</h4>
			<ul class="lined">
				<li><a href="#">Home</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Entries RSS</a></li>
				<li><a href="#">Comments RSS</a></li>
				<li><a href="#">WordPress.org</a></li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3">
			<h4>Contact Us</h4>
			<ul class="lined">
				<li>
					<strong>T:</strong>&nbsp;&nbsp;(770) 448 - 2332<br />
					<strong>F:</strong>&nbsp;&nbsp;(770) 328 - 3008
				</li>
				<li>
					3204 American Way<br />
					Suite #1700<br />
					Atlanta, GA 30302
				</li>
				<li>
					<a href="#">http://www.widgetcorp.com/</a>
				</li>
			</ul>
			<!-- .lined -->
		</div>
		<!-- .column-3 -->
		
		<div class="column-3-last">
			<h4>Send Us Feedback</h4>
			<input type="email" value="Email Address" />
			<textarea>Tell us what you think!</textarea>
			<input type="submit" value="Send Message" />
		</div>
		<!-- .column-3-last -->
		
		<div id="footer-bar">
			<p>&copy; 2011 <a href="#">Widgetcorp LLC</a></p>
			<ul id="footer-nav">
				<li><a href="#">Home</a></li>
				<li><a href="#">Templates</a></li>
				<li><a href="#">Layouts</a></li>
				<li><a href="#">Shortcodes</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
			<!-- #footer-nav -->
		</div>
		<!-- #footer-bar -->
		
	</div>
	<!-- #footer -->
	
</div>
<!-- #footer-container -->














