<h1>Shortcodes</h1>

<div class="lined-section">
	<h2>Introduction</h2>
	<p>Here are a list of all the framework's shortcodes.</p>
</div>
<!-- .lined-section -->

<div class="lined-section">

	<div class="section">
		<h2>Buttons</h2>
		<p>Various button defaults.</p>
	</div>
	<!-- .section -->

	<h3>Regular Buttons</h3>
	<a href="#" class="button">Anchor Tag Button</a>
	<button>Button Tag Button</button>
	<input type="submit" value="Input Tag Button" />
	<a href="#" class="cancel-button">Cancel Button</a>
		
	<h3>Icon Buttons</h3>
	<a href="#" class="icon-button">
		<img src="/images/button-icon.png" alt="A download arrow." />
		Download Me!
	</a>
	<!-- .button -->
	
</div>
<!-- .lined-section -->

<div class="lined-section">

	<div class="section">
		<h2>Simple Columns</h2>
		<p>Various column defaults.</p>
	</div>
	<!-- .section -->
	
	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2-last">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2-last -->

	<div class="column-3">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3 -->

	<div class="column-3">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3 -->

	<div class="column-3">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3 -->

	<div class="column-3-last">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-last -->

	<div class="column-4">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4 -->

	<div class="column-4">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4 -->

	<div class="column-4-last">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-last -->

	<div class="column-6">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6 -->

	<div class="column-6-last">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6-last -->
	
</div>
<!-- .lined-section -->

<div class="lined-section">
		
	<div class="section">
		<h2>Boxed Columns</h2>
		<p>Various column defaults.</p>
	</div>
	<!-- .section -->
	
	<div class="column-3-box">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box -->

	<div class="column-3-box">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box -->

	<div class="column-3-box">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box -->

	<div class="column-3-box-last">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box-last -->

	<div class="column-4-box">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-box -->

	<div class="column-4-box">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-box -->

	<div class="column-4-box-last">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-box-last -->

	<div class="column-6-box">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6-box -->

	<div class="column-6-box-last">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6-box-last -->
	
</div>
<!-- .lined-section -->

<div class="lined-section">
	
	<div class="section">
		<h2>Sidebar Columns</h2>
		<p>Various column defaults.</p>
	</div>
	<!-- .section -->
	
	<div class="column-8">
		<h3>Main Column</h3>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin.</p>
	</div>
	<!-- .column-8 -->
	<div class="column-4-last">
		<h3>Supporting Column</h3>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-last -->
	<div class="column-4">
		<h3>Supporting Column</h3>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4 -->
	<div class="column-8-last">
		<h3>Main Column</h3>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin.</p>
	</div>
	<!-- .column-8-last -->

</div>
<!-- .lined-section -->









