<h1>Shortcodes</h1>

<div class="lined-section">
	<h2>Introduction</h2>
	<p>Here are a list of all the framework's shortcodes.</p>
</div>
<!-- .lined-section -->

<div class="lined-section">

	<div class="section">
		<h2>Buttons</h2>
		<p>Various button defaults.</p>
	</div>
	<!-- .section -->

	<h3>Regular Buttons</h3>
	<a href="#" class="button">Anchor Tag Button</a>
	<button>Button Tag Button</button>
	<input type="submit" value="Input Tag Button" />
	<a href="#" class="cancel-button">Cancel Button</a>
		
	<h3>Icon Buttons</h3>
	<a href="#" class="icon-button">
		<img src="/images/button-icon.png" alt="A download arrow." />
		Download Me!
	</a>
	<!-- .button -->
	
</div>
<!-- .lined-section -->

<div class="lined-section">

	<div class="section">
		<h2>Forms</h2>
		<p>Various form defaults.</p>
	</div>
	<!-- .section -->
	
	<div class="form">

		<div class="section">
			
			<div class="form-row">
				<div class="form-label">
					<label for="input-text-1">A Text Input</label>
				</div>
				<!-- .form-label -->
				<div class="form-input">
					<input id="input-text-1" type="text" value="Test value." />
				</div>
				<!-- .form-input -->
			</div>
			<!-- .form-row -->
			
			<div class="form-row">
				<div class="form-label">
					<label for="textarea-1">A Textarea</label>
				</div>
				<!-- .form-label -->
				<div class="form-input">
					<textarea id="textarea-1">Test value.</textarea>
				</div>
				<!-- .form-input -->
			</div>
			<!-- .form-row -->
	
			<div class="form-row">
				<div class="form-label">
					<label for="select-1">A Select Box</label>
				</div>
				<!-- .form-label -->
				<div class="form-input">
					<select id="select-1">
						<option>Option 1</option>
						<option>Option 2</option>
						<option>Option 3</option>
						<option>Option 4</option>
						<option>Option 5</option>
					</select>
				</div>
				<!-- .form-input -->
			</div>
			<!-- .form-row -->
		
			<div class="form-row">
				<div class="form-label">
					<label for="input-text-2">A Text Input With Button</label>
				</div>
				<!-- .form-label -->
				<div class="form-input">
					<input id="input-text-2" type="text" value="Test value." /><input type="submit" value="Input Tag Button" />
				</div>
				<!-- .form-input -->
			</div>
			<!-- .form-row -->
		
		</div>
		<!-- .section -->
		
		<ul class="form-list">
			<li>
				<input type="checkbox" id="input-checkbox-1" name="Sample Checkbox Group" />
				<label for="input-checkbox-1">Checkbox Label 1</label>
			</li>
			<li>
				<input type="checkbox" id="input-checkbox-2" name="Sample Checkbox Group" />
				<label for="input-checkbox-2">Checkbox Label 2</label>
			</li>
			<li>
				<input type="checkbox" id="input-checkbox-3" name="Sample Checkbox Group" />
				<label for="input-checkbox-3">Checkbox Label 3</label>
			</li>
			<li>
				<input type="checkbox" id="input-checkbox-4" name="Sample Checkbox Group" />
				<label for="input-checkbox-4">Checkbox Label 4</label>
			</li>
			<li>
				<input type="checkbox" id="input-checkbox-5" name="Sample Checkbox Group" />
				<label for="input-checkbox-5">Checkbox Label 5</label>
			</li>
		</ul>
		<!-- .form-list -->

		<ul class="form-list">
			<li>
				<input type="radio" id="input-radio-1" name="Sample Radio Group" />
				<label for="input-radio-1">Radio Label 1</label>
			</li>
			<li>
				<input type="radio" id="input-radio-2" name="Sample Radio Group" />
				<label for="input-radio-2">Radio Label 2</label>
			</li>
			<li>
				<input type="radio" id="input-radio-3" name="Sample Radio Group" />
				<label for="input-radio-3">Radio Label 3</label>
			</li>
			<li>
				<input type="radio" id="input-radio-4" name="Sample Radio Group" />
				<label for="input-radio-4">Radio Label 4</label>
			</li>
			<li>
				<input type="radio" id="input-radio-5" name="Sample Radio Group" />
				<label for="input-radio-5">Radio Label 5</label>
			</li>
		</ul>
		<!-- .form-list -->	

	</div>
	<!-- .form -->
	
</div>
<!-- .lined-section -->

<div class="lined-section">

	<div class="section">
		<h2>Simple Columns</h2>
		<p>Various column defaults.</p>
	</div>
	<!-- .section -->
	
	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2 -->

	<div class="column-2-last">
		<h4>Six Columns</h4>
		<p>T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-2-last -->

	<div class="column-3">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3 -->

	<div class="column-3">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3 -->

	<div class="column-3">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3 -->

	<div class="column-3-last">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-last -->

	<div class="column-4">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4 -->

	<div class="column-4">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4 -->

	<div class="column-4-last">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-last -->

	<div class="column-6">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6 -->

	<div class="column-6-last">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6-last -->
	
</div>
<!-- .lined-section -->

<div class="lined-section">
		
	<div class="section">
		<h2>Boxed Columns</h2>
		<p>Various column defaults.</p>
	</div>
	<!-- .section -->
	
	<div class="column-3-box">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box -->

	<div class="column-3-box">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box -->

	<div class="column-3-box">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box -->

	<div class="column-3-box-last">
		<h4>Four Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
	</div>
	<!-- .column-3-box-last -->

	<div class="column-4-box">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-box -->

	<div class="column-4-box">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-box -->

	<div class="column-4-box-last">
		<h4>Three Columns</h4>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-box-last -->

	<div class="column-6-box">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6-box -->

	<div class="column-6-box-last">
		<h4>Two Columns</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-6-box-last -->
	
</div>
<!-- .lined-section -->

<div class="lined-section">
	
	<div class="section">
		<h2>Sidebar Columns</h2>
		<p>Various column defaults.</p>
	</div>
	<!-- .section -->
	
	<div class="column-8">
		<h4>Main Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin.</p>
	</div>
	<!-- .column-8 -->
	<div class="column-4-last">
		<h4>Supporting Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4-last -->
	<div class="column-4">
		<h4>Supporting Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
	</div>
	<!-- .column-4 -->
	<div class="column-8-last">
		<h4>Main Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin.</p>
	</div>
	<!-- .column-8-last -->
	
	<div class="column-8">
		<h4>Main Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin.</p>
	</div>
	<!-- .column-8 -->
	<div class="column-4-box-last">
		<h4>Boxed Supporting Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey. Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin.</p>
	</div>
	<!-- .column-4-box-last -->
	<div class="column-4-box">
		<h4>Boxed Supporting Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey. Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin.</p>
	</div>
	<!-- .column-4-box -->
	<div class="column-8-last">
		<h4>Main Column</h4>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin tongue strip steak.</p>
		<p>Frankfurter shank t-bone pork loin meatloaf, ham hock brisket bacon beef jerky salami chicken biltong. T-bone brisket salami shoulder, sirloin swine bacon ham hock chicken capicola. Andouille sirloin biltong flank. Chuck swine leberkäse turkey.</p>
		<p>Cow shank ham tongue pancetta tail, fatback strip steak tenderloin short ribs rump boudin. Capicola prosciutto ball tip, shankle cow flank jowl kielbasa chicken sirloin frankfurter sausage tenderloin t-bone. Short ribs pork belly boudin.</p>
	</div>
	<!-- .column-8-last -->

</div>
<!-- .lined-section -->

<div class="lined-section">

	<div class="section">
		<h2>Typography</h2>
		<p>Various typography defaults.</p>
	</div>
	<!-- .section -->

	<div class="font-12-line-20">
		<strong>12px Font + 20px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-12-line-20 -->

	<div class="font-12-line-20">
		<strong>12px Font + 20px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-12-line-20 -->

	<div class="font-14-line-20">
		<strong>14px Font + 20px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-14-line-20 -->

	<div class="font-14-line-20">
		<strong>14px Font + 20px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-14-line-20 -->

	<div class="font-20-line-30">
		<strong>20px Font + 30px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-20-line-30 -->

	<div class="font-20-line-30">
		<strong>20px Font + 30px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-20-line-30 -->

	<div class="font-26-line-40">
		<strong>26px Font + 40px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-26-line-40 -->

	<div class="font-26-line-40">
		<strong>26px Font + 40px Line Height</strong><br />
		Meatloaf hamburger rump, kielbasa chicken andouille prosciutto flank leberkäse turducken capicola corned beef tri-tip short ribs. Spare ribs chicken flank corned beef fatback, boudin t-bone sausage. Pork belly ball tip pork chop venison. Short loin pastrami tri-tip beef ribs shoulder t-bone turkey, beef tail. Pork belly turducken swine pork loin, capicola filet mignon chuck brisket. Hamburger short ribs pork chop, pork loin fatback shankle kielbasa ham chicken. Swine tri-tip shank pork chop meatball, chuck pastrami cow.</p>
	</div><!-- .font-26-line-40 -->
	
</div>
<!-- .lined-section -->




