<%= stylesheet_link_tag "wp-interface" %>
<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:300|Puritan:400,700,400italic,700italic' rel='stylesheet' type='text/css' />








<div id="ns-interface">
	
	<div id="ns-header">
		
		<h1>Customize "Empire"</h1>
		
	</div>
	<!-- #ns-header -->
	
	<div id="ns-nav">
		<ul>
			<li class="ns-nav-selected"><span>Top Bar</span></li>
			<li><a href="#">Header</a></li>
			<li><a href="#">Content</a></li>
			<li><a href="#">Footer</a></li>
			<li><a href="#">Buttons</a></li>
		</ul>
	</div>
	<!-- #ns-nav -->
	
	<div id="ns-content">
		
		<h4>Top Bar Settings</h4>
		<p class="introduction">Pork belly drumstick beef ribs bresaola venison bacon. Jerky pig frankfurter, cow jowl salami t-bone pork belly bacon capicola hamburger shankle. Kielbasa pork belly ham pork chop ham hock swine pastrami, biltong drumstick pig tri-tip. Corned beef ball tip drumstick, rump pork loin swine andouille pastrami capicola.</p>
		
		<div class="ns-left-column">
			
			<div class="ns-module">
				
				<h5>Base Colors</h5>
				
				<ul class="ns-color-form">
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-gradient-top">Gradient (Top)</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-gradient-top" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-gradient-bottom">Gradient (Bottom)</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-gradient-bottom" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-box-shadow">Block Shadow</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-box-shadow" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-font-color">Font Color</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-font-color" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-font-color-hover">Font Color (Hover)</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-font-color-hover" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-font-shadow">Font Shadow</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-font-shadow" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					
				</ul>
				<!-- .ns-color-form -->
				
			</div>
			<!-- .ns-module -->
			
		</div>
		<!-- .ns-left-column -->
		
		<div class="ns-right-column">
			
			<div class="ns-module">
				
				<h5>Base Colors</h5>
				
				<ul class="ns-color-form">
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-gradient-top">Gradient (Top)</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-gradient-top" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-gradient-bottom">Gradient (Bottom)</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-gradient-bottom" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-box-shadow">Block Shadow</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-box-shadow" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-font-color">Font Color</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-font-color" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-font-color-hover">Font Color (Hover)</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-font-color-hover" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span>&nbsp;</span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					<li class="ns-color-form-row">
						<div class="ns-color-form-label"><label for="top-bar-base-font-shadow">Font Shadow</label></div><!-- .ns-color-form-label -->
						<div class="ns-color-form-input"><input id="top-bar-base-font-shadow" type="text" value="d9dfe4" /></div><!-- .ns-color-form-input -->
						<div class="ns-color-form-swatch"><a href="#"><span><span>&nbsp;</span></span></a></div><!-- .ns-color-form-swatch -->
					</li>
					<!-- .ns-color-form -->
					
				</ul>
				<!-- .ns-color-form -->
				
			</div>
			<!-- .ns-module -->
			
		</div>
		<!-- .ns-right-column -->
		
	</div>
	<!-- #ns-content -->
	
	
</div>
<!-- #ns-interface -->







