<h1>I'm Jason Bishop.</h1>
<h2>I create web interfaces.</h2>

<h3>Here are 3 things I made in 2011:</h3>

<ol>
	<li><a href="#">&nbsp;</a></li>
	<li><a href="#">&nbsp;</a></li>
	<li><a href="#">&nbsp;</a></li>
</ol>


<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
</ul>

<a href="/personal/mitchell" id="partner-link">
	I work with a<br />
	web developer.
</a>
<!-- #partner-link -->