<div id="interior">

	<h1>
		Here's what my business<br />
		partner, Mitchell, says about me:
	</h1>

	<p>“Jason is basically the best designer in the world.”</p>

	<ul>
		<li><a href="/personal/jason">Home</a></li>
		<li><a href="/personal/jason-about">About</a></li>
		<li><a href="/personal/jason-contact">Contact</a></li>
	</ul>

	<a href="/personal/mitchell" id="partner-link">
		I work with a<br />
		web developer.
	</a>
	<!-- #partner-link -->

</div>
<!-- #cover-page -->