<div id="cover-page">

	<h1>I'm Jason Bishop.</h1>
	<h2>I create web interfaces.</h2>

	<h3>Here are 3 things I made in 2011:</h3>

	<ol>
		<li><a href="/images/personal/jason/jason-qf-1.png" rel="lightbox-qf" title="This is a screencap from an app I designed called Quiz Forge. It generates arithmetic drills for educators to give to their students.">&nbsp;</a></li>
		<li><a href="/images/personal/jason/jason-pb-1.png" rel="lightbox-pb" title="This is another application concept called Priceboard. It's a service that helps small business track competitors' pricing.">&nbsp;</a></li>
		<li><a href="/images/personal/jason/jason-srm-1.png" rel="lightbox-srm" title="This is SRM's dashboard. It features a high level of information density, so special attention was given to consistent, predictable IA.">&nbsp;</a></li>
	</ol>

	<div style="display: none; visibility; hidden">
		<a href="/images/personal/jason/jason-srm-2.png" rel="lightbox-srm" title="This is the Edit Teams page in SRM's accounts section. The first module deals with editing team settings. The second module manages team members.">&nbsp;</a>
		<a href="/images/personal/jason/jason-srm-3.png" rel="lightbox-srm" title="This page, also in accounts, shows properties linked with the account, such as FB streams.">&nbsp;</a>
		<a href="/images/personal/jason/jason-srm-4.png" rel="lightbox-srm" title="This is the Edit Profile page. It's pretty standard. We do add in a geotargeting module at the bottom which super users can access.">&nbsp;</a>
		<a href="/images/personal/jason/jason-srm-5.png" rel="lightbox-srm" title="This screenshot shows line-heights and how they played a key role in organizing the data and keeping the experience clean.">&nbsp;</a>
		<a href="/images/personal/jason/jason-srm-6.png" rel="lightbox-srm" title="This is the Analytics portion of SRM. The design has not been implemented yet but the intent is to allow users to prepare custom analytics reports.">&nbsp;</a>
		<a href="/images/personal/jason/jason-srm-7.png" rel="lightbox-srm" title="This is the first step of a custom analytic workflow. The user selects the way they'd like to graphically represent the data.">&nbsp;</a>
		<a href="/images/personal/jason/jason-srm-8.png" rel="lightbox-srm" title="This step allows the user to drill down into a specific subset of data. Each account can have many social streams associated with it.">&nbsp;</a>
		<a href="/images/personal/jason/jason-srm-9.png" rel="lightbox-srm" title="This is the proposed newsletter which is sent to Vitrue customers. It was designed as a miniaturized version of SRM, capturing the look and feel on a smaller scale.">&nbsp;</a>
		<a href="/images/personal/jason/jason-pb-2.png" rel="lightbox-pb" title="This is Priceboard's pricing chart. It uses a more unconventional vertical layout vs. traditional horizontally-arranged price charts.">&nbsp;</a>
		<a href="/images/personal/jason/jason-pb-4.png" rel="lightbox-pb" title="This is Priceboard's log in page. It's pretty standard - a design variation on the mainw rapper, essentially.">&nbsp;</a>
		<a href="/images/personal/jason/jason-pb-5.png" rel="lightbox-pb" title="This is Priceboard's sign up page. The form is chunked into three sections: credentials, plan, and billing.">&nbsp;</a>
		<a href="/images/personal/jason/jason-pb-7.png" rel="lightbox-pb" title="This is Priceboard's dashboard. Users can prepare reports on different products or competitors they'd like to track. These reports are tiled across the content area.">&nbsp;</a>
		<a href="/images/personal/jason/jason-pb-8.png" rel="lightbox-pb" title="This is the report itself, which you may select from the Dashboard. It shows price histories, products being tracked, and other useful information in feed format.">&nbsp;</a>
		<a href="/images/personal/jason/jason-pb-8-2.png" rel="lightbox-pb" title="This is an example of one of the modal flows in Priceboard. This one deals with adding a new product tracker to a report.">&nbsp;</a>
		<a href="/images/personal/jason/jason-pb-9.png" rel="lightbox-pb" title="This screenshot shows the typography-driven design which permeates the entire web app.">&nbsp;</a>
		<a href="/images/personal/jason/jason-qf-2.png" rel="lightbox-qf" title="This is Quiz Forge's dashboard. It manages every quiz the user has generated">&nbsp;</a>
		<a href="/images/personal/jason/jason-qf-3.png" rel="lightbox-qf" title="This is the first step in quiz generation. It contains parameters that deal with the quiz itself.">&nbsp;</a>
		<a href="/images/personal/jason/jason-qf-4.png" rel="lightbox-qf" title="This is the second step in quiz generation. These paramters relate to the questions themselves, in other words, skill assessment.">&nbsp;</a>
		<a href="/images/personal/jason/jason-qf-5.png" rel="lightbox-qf" title="This is the preview page. The user may choose to save, print, or perform other actions based on how they like the particular generation.">&nbsp;</a>
		<a href="/images/personal/jason/jason-qf-6.png" rel="lightbox-qf" title="This is the Quiz Forge sign up page. Pretty standard.">&nbsp;</a>
		<a href="/images/personal/jason/jason-qf-7.png" rel="lightbox-qf" title="This is the Quiz Forge log in page. Again, pretty standard.">&nbsp;</a>
		<a href="/images/personal/jason/jason-qf-8.png" rel="lightbox-qf" title="This screencap showcases the attention to detail with respect to typography.">&nbsp;</a>
	</div>

	<ul>
		<li><a href="/personal/jason">Home</a></li>
		<li><a href="/personal/jason-about">About</a></li>
		<li><a href="/personal/jason-contact">Contact</a></li>
	</ul>

</div>
<!-- #cover-page -->