<div id="interior">

	<h1>
		Here's what my business<br />
		partner, Mitchell, says about me:
	</h1>

	<p>“Jason has been a part of Atlanta's growing startup community since graduating from Georgia Tech in 2007. Although he has a BS in Industrial Design, his real expertise lies in UI/UX/IA. Working in startups has also taught him to be multidisciplinary, so you may occassionally find him doing more front-end development than design.”</p>

	<ul>
		<li><a href="/personal/jason">Home</a></li>
		<li><a href="/personal/jason-about">About</a></li>
		<li><a href="/personal/jason-contact">Contact</a></li>
	</ul>

	<a href="/personal/mitchell" id="partner-link">
		I work with a<br />
		web developer.
	</a>
	<!-- #partner-link -->

</div>
<!-- #cover-page -->