<div id="interior">

	<h1>
		Here's what my business<br />
		partner, Jason, says about me:
	</h1>

	<p>“Since graduating with a Computer Engineering degree from Clemson in 2006, Mitchell has worked professionally as a Ruby, Java, and PHP developer. He is an expert fencer, which lead him to create 14meters, a tournament ranking application for fencers. Although we both live in Hotlanta, I’ve only seen him wear shorts once. They were pink.”</p>

	<ul>
		<li><a href="/personal/mitchell">Home</a></li>
		<li><a href="/personal/mitchell-about">About</a></li>
		<li><a href="/personal/mitchell-contact">Contact</a></li>
	</ul>

	<a href="/personal/jason" id="partner-link">
		I work with a<br />
		UI/UX designer.
	</a>
	<!-- #partner-link -->

</div>
<!-- #cover-page -->