<h1>I'm Mitchell Lane.</h1>
<h2>I develop web applications.</h2>

<h3>Here are 3 things I made in 2011:</h3>

<ol>
	<li><a href="#">&nbsp;</a></li>
	<li><a href="#">&nbsp;</a></li>
	<li><a href="#">&nbsp;</a></li>
</ol>


<ul>
	<li><a href="#">Home</a></li>
	<li><a href="#">About</a></li>
	<li><a href="#">Contact</a></li>
</ul>

<a href="/personal/jason" id="partner-link">
	I work with a<br />
	UI/UX designer.
</a>
<!-- #partner-link -->