<!DOCTYPE html>

<html>

<head>

  <title>A CSS Framework | By: Jason Bishop</title>
  <%= stylesheet_link_tag "ie", "print", "screen" %>
  <%= javascript_include_tag "jquery" %>
  <%= csrf_meta_tag %>

	<script>
		$(document).ready(function(){
			$.each($.browser, function(k, v){ if(v == true || v == "true") $("body").addClass(k); });
		});
	</script>

</head>

<body>
	
<!--<img src="/images/line-height.png" style="position: absolute; z-index: 1000; margin-left: -1300px" />-->

<%= yield %>

</body>

</html>
